- if defined?(total_count)
  - i = total_count - lifer_counter

- if defined?(count_reached)
  - i = count_reached + lifer_counter

%tr
  %td
    = i
  %td
    %b= species_link(lifer.species)
    = name_sci(lifer.species)
    - if I18n.russian_locale?
      %br
      = lifer.species.name_en
  %td
    = post_link(content_tag(:time, l(lifer.card.observ_date, :format => :long)), lifer.main_post || lifer.post, true)
    %br
    = lifer.patch_or_locus.public_locus.decorated.full_name

