- @page_title = t('.title')

- @robots = 'NOINDEX'

- cache(key: CacheKey.lifelist) do

  = render 'partials/translated'

  %div.header-with-subheader
    %h1= @page_title
    %ul.subheader-menu
      %li
        = t('.see_also')
        = link_to t('.records_and_stats'), my_stats_path

  %div.fluid-row

    %div.fluid-column

      %h2= link_to('Lifelist', lifelist_path)

      = render partial: "top5list", object: @list_life

    %div.fluid-column

      %h2= link_to(t('lists.title.yearlist', year: 2015), list_path(year: 2015))

      = render partial: "top5list", object: @list_current_year

  %div.fluid-row

    %div.fluid-column

      %h2
        = link_to(t('lists.title.ukraine'), list_path(locus: 'ukraine'))

      = render partial: "top5list", object: @list_ukraine

    %div.fluid-column

      %h2
        = link_to(t('lists.title.canada'), list_path(locus: 'canada'))

      = render partial: "top5list", object: @list_canada

    -# Temporary previous year list
    -#%div.fluid-column
    -#
    -#  %h2
    -#    = link_to(t('lists.title.yearlist', year: 2014), list_path(year: 2014))
    -#
    -#  = render partial: "top5list", object: @list_prev_year.limit(5)


  %div.fluid-row

    -# Temp list Ukraine while we show list of the previous year
    -#%div.fluid-column
    -#
    -#  %h2
    -#    = link_to(t('lists.title.ukraine'), list_path(locus: 'ukraine'))
    -#    (#{@list_ukraine.count(:all)})

    %div.fluid-column

      %h2
        = link_to(t('lists.title.gb'), list_path(locus: 'united_kingdom'))
        (#{@list_uk.total_count})

    %div.fluid-column

      %h2
        = link_to(t('lists.title.usa'), list_path(locus: 'usa'))
        (#{@list_usa.total_count})
