- @page_title = "Lifelist и другие списки"

- lifers = lambda do |rel|
  %ol.lifers_list
    - total_count = rel.except(:limit).count
    = render partial: 'lifer', collection: rel, locals: {total_count: total_count}

%h1= @page_title

%h2= link_to('Lifelist', lifelist_path)

- lifers.call(@top_5_life)

%h2= link_to('Список 2013 года', list_path(year: 2013))

- lifers.call(@top_5_year)

%h2= link_to('Список США', list_path(locus: 'usa'))

- lifers.call(@top_5_usa)
