- @page_title = t('.title')

- @robots = 'NOINDEX'

- cache(key: CacheKey.lifelist) do

  - lifers = lambda do |rel|
    %ol.lifers_list
      - total_count = rel.except(:limit).total_count
      = render partial: 'lifer', collection: rel, locals: {total_count: total_count}

  = render 'partials/translated'

  %div.header-with-subheader
    %h1= @page_title
    %ul.subheader-menu
      %li
        = t('.see_also')
        = link_to t('.records_and_stats'), my_stats_path

  %div.fluid-row

    %div.fluid-column

      %h2= link_to('Lifelist', lifelist_path)

      - lifers.call(@top_5_life)

    %div.fluid-column

      %h2= link_to(t('lists.title.yearlist', year: 2014), list_path(year: 2014))

      - lifers.call(@top_5_year)

  %div.fluid-row

    %div.fluid-column

      %h2
        = link_to(t('lists.title.ukraine'), list_path(locus: 'ukraine'))

      - lifers.call(@list_ukraine.limit(5))

    %div.fluid-column

      %h2
        = link_to(t('lists.title.canada'), list_path(locus: 'canada'))

      - lifers.call(@list_canada.limit(5))


  %div.fluid-row

    %div.fluid-column

      -#%h2
      -#  = link_to(t('lists.title.yearlist', year: 2013), list_path(year: 2013))
      -#  (#{@list_prev_year.total_count})

      %h2
        = link_to(t('lists.title.gb'), list_path(locus: 'united_kingdom'))
        (#{@list_uk.total_count})

    %div.fluid-column

      %h2
        = link_to(t('lists.title.usa'), list_path(locus: 'usa'))
        (#{@list_usa.total_count})
