- @page_title = t('.title')

- @robots = 'NOINDEX'

- @jumbo_image = "https://c2.staticflickr.com/2/1648/25088028401_efeaaa65dd_o.jpg"

- translated

- content_for :jumbo do
  %h1= @page_title

- content_for :jumbo_side do
  %ul.subheader-menu
    %li
      = link_to t('.records_and_stats'), my_stats_path

- cache(key: CacheKey.lifelist) do

  %div.fluid-row

    %div.fluid-column

      %h2= link_to('Lifelist', lifelist_path)

      = render partial: "top5list", object: @list_life

    %div.fluid-column

      %h2= link_to(t('lists.title.yearlist', year: Quails::CURRENT_YEAR), list_path(year: Quails::CURRENT_YEAR))

      = render partial: "top5list", object: @list_current_year

  %div.fluid-row

    %div.fluid-column

      %h2
        = link_to(t('lists.title.ukraine'), list_path(locus: 'ukraine'))

      = render partial: "top5list", object: @list_ukraine

    %div.fluid-column

      %h2
        = link_to(t('lists.title.canada'), list_path(locus: 'canada'))

      = render partial: "top5list", object: @list_canada

    -# Temporary previous year list
    -#%div.fluid-column
    -#
    -#  %h2
    -#    = link_to(t('lists.title.yearlist', year: 2014), list_path(year: 2014))
    -#
    -#  = render partial: "top5list", object: @list_prev_year.limit(5)


  %div.fluid-row

    %div.fluid-column

      %h2
        = link_to(t('lists.title.usa'), list_path(locus: 'usa'))
        (#{@list_usa.total_count})

      -#= render partial: "top5list", object: @list_ukraine

    %div.fluid-column

      %h2
        = link_to(t('lists.title.gb'), list_path(locus: 'united_kingdom'))
        (#{@list_uk.total_count})

    -#%div.fluid-column

      -#%h2
      -#  = link_to(t('lists.title.usa'), list_path(locus: 'usa'))
      -#  (#{@list_usa.total_count})
