- @page_title = "Lifelist и другие списки"

- @robots = 'NOINDEX'

- cache(key: CacheKey.lifelist) do

  - lifers = lambda do |rel|
    %ol.lifers_list
      - total_count = rel.except(:limit).count(:all)
      = render partial: 'lifer', collection: rel, locals: {total_count: total_count}

  %div.header-with-subheader
    %h1= @page_title
    %ul.subheader-menu
      %li
        См. также
        = link_to 'Рекорды и статистика', my_stats_path

  %div.fluid-row

    %div.fluid-column

      %h2= link_to('Lifelist', lifelist_path)

      - lifers.call(@top_5_life)

    %div.fluid-column

      %h2= link_to('Список 2013 года', list_path(year: 2013))

      - lifers.call(@top_5_year)

  %div.fluid-row

    %div.fluid-column

      %h2
        = link_to('Список Украины', list_path(locus: 'ukraine'))
        (#{@list_ukraine.count(:all)})

    %div.fluid-column

      %h2
        = link_to('Список США', list_path(locus: 'usa'))
        (#{@list_usa.count(:all)})
