- @page_title = "Lifelist и другие списки"

-# TODO: partials!
- lifers = lambda do |rel|
  %ol.lifers_list
    - count = rel.except(:limit).count
    - rel.each do |sp|
      %li.lifer_row{value: count}
        %span
          = species_link(sp)
          = name_sci(sp)
        %time= l(sp.first_seen_date, :format => :long)
        = post_link('>>', sp.post)
        - count -= 1

%h1= @page_title

%h2= link_to('Lifelist', lifelist_path)

- lifers.call(@top_5_life)

%h2= link_to('Список 2012 года', list_path(year: 2012))

- lifers.call(@top_5_year)

%h2= link_to('Список США', list_path(locus: 'usa'))

- lifers.call(@top_5_usa)
