-# frozen_string_literal: true
- @page_title = 'eBird Submissions'

- content_for :add_shortcuts do
  %li= link_to "eBird Imports", ebird_imports_path

%h1= page_header

= render 'admin/shortcuts' if current_user.admin?

- if notice
  %p#notice= notice

%table.neat_table
  %tr
    %th id
    %th Name
    %th file
    %th Created
    %th Cards
    %th Period
    %th Status
    %th

  - @files.each do |file|
    %tr
      %td= file.id
      %td= link_to file.name, ebird_submission_path(file.id)
      %td= link_to "[csv]", ebird_submission_path(id: file.name, format: :csv)
      %td= file.created_at.strftime("%F %R")
      %td
        = file.cards.size
        - if file.outdated?
          %small.draft.tag OUT
      %td
        %nobr= file.cards.minimum(:observ_date)
        \-
        %nobr= file.cards.maximum(:observ_date)
      %td.status-line
        = render partial: 'status_line', locals: {file: file}
      %td
        = link_to(tag.span(class: "fas fa-times-circle destroy-icon fa-lg", title: 'Destroy', alt: 'Destroy'),
              ebird_submission_path(file.id), data: {confirm: 'Object will be DESTROYED!'},
              method: :delete, class: 'destroy')

= paginate @files
