-# frozen_string_literal: true
- stylesheet 'forms'

- @page_title = 'Export to eBird'

%h1= page_header

= render 'admin/shortcuts' if current_user.admin?

- if alert
  %div.errors= alert

= simple_form_for @observation_search, url: new_ebird_submission_path, method: :get, html: {class: 'search ebird_obs_search'} do |form|
  = render 'observations/search_fields', form: form

= simple_form_for @file, url: {action: :create} do |form|

  = render @file.errors.extend(GenericErrors)

  = form.input :name

  = default_submit_button(form, value: "Generate CSV")

  %ul.cards_list#search-results

    - validated = @file.cards.group_by {|c| c.valid?(:ebird_post)}
    = render [false, true].map {|k| validated[k]}.compact.inject([], &:+)
