-# frozen_string_literal: true
- @page_title = "eBird Alerts Map"

- if @missing_sid
  %h1= page_header
  %p
    No alerts configured. Set the
    %code EBIRD_ALERTS
    environment variable (e.g.
    %code Name,SID;Name2,SID2
    ).
- else
  - @body_class = "map-page"
  - javascript "admin-maps"
  - stylesheet "map_edit"
  .map-content
    .mapContainer
      #googleMap{data: {map_enabled: map_enabled, map_mode: "ebird-alerts", locations: (@locations_json || "[]")}}
    .alerts-bottom-sheet
      .alerts-bottom-sheet-handle
        .alerts-bottom-sheet-bar
        .alerts-bottom-sheet-summary
          - active_alert = @alerts.find { |a| a[:sid] == @sid }
          %span.alerts-sheet-name= active_alert&.dig(:name)
          %span.alerts-sheet-species
          - if @species&.any?
            %span.alerts-sheet-count #{@species.size} species
      .alerts-bottom-sheet-body
        .alerts-panel-header
          %h3 eBird Alerts
          %ul.alerts-list
            - @alerts.each do |alert|
              - active = alert[:sid] == @sid
              - last_preload = @last_preloads[alert[:sid]]
              %li{class: active ? "is-active" : nil, data: {link: ebird_alerts_path(sid: alert[:sid])}}
                .alerts-list-name
                  = link_to alert[:name], ebird_alerts_path(sid: alert[:sid])
                  = link_to "https://ebird.org/alert/summary?sid=#{alert[:sid]}", target: "_blank", rel: "noopener", class: "alerts-list-ebird-link not-green" do
                    %i.fas.fa-external-link-alt
                .alerts-list-meta
                  %span.alerts-last-preload
                    - if last_preload
                      = I18n.with_locale(:en) { time_ago_in_words(last_preload) }
                      ago
                    - else
                      No data
                  = link_to ebird_alerts_refresh_path(sid: alert[:sid]), method: :post, remote: true, class: "alerts-refresh-btn not-green", data: {sid: alert[:sid]} do
                    %i.fas.fa-arrows-rotate
        %ul.alerts-species-list
          - @species&.each do |sp|
            %li{data: {species_code: sp[:code]}}
              .alerts-species-names
                %span.alerts-species-name= sp[:name]
                %span.alerts-species-sci= sp[:sci]
              %span.alerts-species-count= sp[:total_obs]
