-# frozen_string_literal: true
- @page_title = '5MR Review'

%h1= reports_page_header

%p
  Data is refreshed daily. To refresh it manually, run
  %code
    MYLOC=&lt;lat&gt;,&lt;lon&gt; bin/rake five_mr:refresh

%h2 5MR Candidates

%form{action: reports_five_mile_radius_path, method: :post}
  = token_tag
  %table.neat_table
    %tr
      %th
        Name
      %th
        Distance (miles)
      %th
        Make 5MR
    - @candidates_5mr.each do |candidate|
      %tr
        %td
          = link_to candidate[:locus].name_en, edit_locus_path(candidate[:locus])
        %td
          = "%.3f" % candidate[:distance]
        %td
          = check_box_tag("locus_id[]", candidate[:locus].id)
  = submit_tag("Confirm")


%h2 Candidates for removal from 5MR

%form{action: reports_five_mile_radius_path, method: :post}
  = token_tag
  %table.neat_table
    %tr
      %th
        Name
      %th
        Distance (miles )
      %th
        Drop 5MR
    - @candidates_removal.each do |candidate|
      %tr
        %td
          = link_to candidate[:locus].name_en, edit_locus_path(candidate[:locus])
        %td
          = "%.3f" % candidate[:distance]
        %td
          = check_box_tag("locus_id[]", candidate[:locus].id)

  = submit_tag("Remove")
