%td
  = species_link(lifer.species)
  = name_sci(lifer.species)

- [:first_seen, :last_seen].map {|d| l(lifer.send(d).observ_date, :format => :long) }.tap do |first_date, last_date|

  - if first_date == last_date
    %td.align-center{colspan: 2}
      &mdash;&ensp;
      %time= post_link(first_date, lifer.first_seen.post, true)
      - if current_user.admin?
        %a{href: card_path(id: lifer.first_seen.card), class: 'img'}<
          %img(src="/img/book_alt2_12x11.png")
      &ensp;&mdash;
  - else
    %td.align-right
      %time= post_link(first_date, lifer.first_seen.post, true)
      - if current_user.admin?
        %a{href: card_path(lifer.first_seen.card), class: 'img'}<
          %img(src="/img/book_alt2_12x11.png")
    %td.align-right
      %time= post_link(last_date, lifer.last_seen.post, true)
      - if current_user.admin?
        %a{href: card_path(lifer.last_seen.card), class: 'img'}<
          %img(src="/img/book_alt2_12x11.png")

  %td.align-right= lifer.obs_count
