%td
  = species_link(lifer.species)
  = name_sci(lifer.species)
  - if I18n.russian_locale?
    %span.lifer_en
      = lifer.species.name_en

- if lifer.same_date?
  %td.align-center{colspan: 2}
    &mdash;&ensp;
    = render "lists/advanced/lifer_date", life_observation: lifer.first_seen
    &ensp;&mdash;
- else
  - [:first_seen, :last_seen].map{|s| lifer.send(s)}.each do |life_obs|
    %td.align-right
      = render "lists/advanced/lifer_date", life_observation: life_obs
%td.align-right= lifer.obs_count
