-# frozen_string_literal: true

= post.decorated({host: request.host, port: request.port}).for_feed.text

= render partial: "blog/image", collection: post.decorated.the_rest_of_images, formats: :html

%p
  Опубликовано:
  %em
    %time{datetime: post.face_date.iso8601}= l(post.face_date, format: :long)
    \|
    = link_to "+ #{t('posts.post.add_comment')}", public_post_url(post, anchor: 'add_comment')
