-# frozen_string_literal: true
!!! XML
%urlset{:xmlns => "https://www.sitemaps.org/schemas/sitemap/0.9"}

  -# home page
  %url
    %loc= root_url
    %lastmod= @root_lastmod
    %changefreq daily

  -# English home page
  %url
    %loc= blog_url(locale: :en)
    -# TODO: %lastmod=
    -# %changefreq weekly

  -# Birds of Ukraine page
  %url
    %loc= country_url(country: 'ukraine')
    -# TODO: %lastmod=
    -# %changefreq weekly

  %url
    %loc= country_url(country: 'ukraine', locale: :en)

  -# Ukraine checklist page
  %url
    %loc= checklist_url(country: 'ukraine')
    -# TODO: %lastmod=
    -# %changefreq weekly

  %url
    %loc= checklist_url(country: 'ukraine', locale: :en)

  -# Birds of USA page
  %url
    %loc= country_url(country: 'usa')
    -# TODO: %lastmod=
    -# %changefreq weekly

  %url
    %loc= country_url(country: 'usa', locale: :en)

  -# Birds of UK page
  %url
    %loc= country_url(country: 'united_kingdom')
    -# TODO: %lastmod=
    -# %changefreq weekly

  %url
    %loc= country_url(country: 'united_kingdom', locale: :en)

  -# Birds of Canada page
  %url
    %loc= country_url(country: 'canada')
    -# TODO: %lastmod=
    -# %changefreq weekly

  %url
    %loc= country_url(country: 'canada', locale: :en)

  -# species gallery page
  %url
    %loc= gallery_url
    -# TODO: %lastmod=
    -# %changefreq weekly

  %url
    %loc= gallery_url(locale: :en)
    -# TODO: %lastmod=
    -# %changefreq weekly

  -# Links page
  %url
    %loc= links_url

  -# Winter page
  %url
    %loc= winter_url

  -# posts
  - @posts.each do |post|
    %url
      %loc= default_public_post_url(post)
      %lastmod= post.updated_at.iso8601
      %changefreq yearly

  -# images
  - @images.each do |img|
    %url
      %loc= localize_url(img, locale: nil)
      %lastmod= img.updated_at.iso8601
      %changefreq yearly

    %url
      %loc= localize_url(img, locale: :en)
      %lastmod= img.updated_at.iso8601
      %changefreq yearly

  -# videos
  - @videos.each do |vid|
    %url
      %loc= localize_url(vid, locale: nil)
      %lastmod= vid.updated_at.iso8601
      %changefreq yearly

    %url
      %loc= localize_url(vid, locale: :en)
      %lastmod= vid.updated_at.iso8601
      %changefreq yearly

  -# species
  - @species.each do |sp|
    %url
      %loc= localize_url(sp, locale: nil)
      -# %lastmod=
      %changefreq monthly

    %url
      %loc= localize_url(sp, locale: :en)
      -# %lastmod=
      %changefreq monthly
