!!! XML
%urlset{:xmlns => "http://www.sitemaps.org/schemas/sitemap/0.9"}

  -# home page
  %url
    %loc= root_url
    %lastmod= @root_lastmod
    %changefreq daily

  -# Birds of Ukraine page
  %url
    %loc= birds_ukraine_url
    -# TODO: %lastmod=
    -#%changefreq weekly

  -# Ukraine checklist page
  %url
    %loc= checklist_url(slug: 'ukraine')
    -# TODO: %lastmod=
    -#%changefreq weekly

  -# photostream page
  %url
    %loc= photostream_url
    -# TODO: %lastmod=
    %changefreq weekly

  -# posts
  - @posts.each do |post|
    %url
      %loc= public_post_path(post, only_path: false)
      %lastmod= post.updated_at.iso8601
      %changefreq yearly

  -# images
  - @images.each do |img|
    %url
      %loc= public_image_path(img, only_path: false)
      %lastmod= img.created_at.iso8601
      %changefreq yearly

  -# species
  - @species.each do |sp|
    %url
      %loc= species_url(sp)
      -# %lastmod=
      %changefreq monthly
