= form.association :locus, :label => 'Location:', :collection => Locus.list_order, :label_method => :name_en,
    :input_html => {:class => 'suggest-combo', :name => 'c[locus_id]'}
= form.input :observ_date, :as => :string, :label => 'Date:',
      :input_html => {:class => 'short', :maxlength => 10, :name => 'c[observ_date]', :type => 'date'}
= form.input :mine, :label => 'Mine', :input_html => {:name => 'c[mine]'}
- unless @blogpost.nil?
  %div.input.boolean.optional.flat
    = check_box_tag("c[post_id]", @blogpost.id, true, :class => "boolean optional", :id => "observation_post_id")
    %label.boolean.optional{:for => "observation_post_id"}= post_link(@blogpost.title, @blogpost)
