-# frozen_string_literal: true
%div.obs-row
  - obs = form.object
  - if @light_species_selector
    = form.input :taxon do
      = form.input_field :taxon, as: :string, required: false, name: '', value: obs.taxon.try(:to_label), class: 'sp-light'
      = form.input_field :taxon_id, required: false, as: :hidden
  - else
    = form.association :taxon, collection: taxa_for_select,
        include_blank: true, required: false, input_html: {class: 'sp-suggest'}
  = form.input :quantity, input_html: {class: :short}
  = form.input :notes
  = form.input :voice, label: 'Voice?'
  = form.input :private_notes
  = form.input :ebird_obs_id, as: :hidden
  - if obs.persisted?
    - if controller_name == 'cards'
      %div.bulk_select= check_box_tag('obs[]', obs.id)
    %div.align-center
      = link_to(obs.id, observation_path(obs))
      %br
      = default_destroy_link(obs)
    %div
      - if obs.post_id
        = post_link('post', obs.post)
  - else
    %div.align-center
      %span.remove{title: 'Remove row'}
        %span.fas.fa-times.fa-lg
