.obs-row
  = simple_fields_for observation do |form2|
    = form2.input :id, as: :string,
        input_html: {name: 'o[][id]', readonly: true, class: :id_field}
    = form2.association :species, label: 'Species:', collection: species_for_select,
        include_blank: false, input_html: {class: 'sp-suggest', name: 'o[][species_id]'}
    = form2.input :quantity, label: 'Quantity:', input_html: {name: 'o[][quantity]', class: :short}
    = form2.input :notes, label: 'Notes:', input_html: {name: 'o[][notes]'}
    %div.input.boolean
      = check_box_tag 'o[][voice]', '1', observation.voice, id: 'observation_voice', class: 'boolean'
      %label.boolean{:for => 'observation_voice'} Voice?
    -#= form2.input :voice, label: 'Voice?', input_html: {name: 'o[][voice]'}
    = form2.input :biotope, as: :select, label: 'Biotope:', collection: Observation.biotopes,
        input_html: {name: 'o[][biotope]', class: :short, required: true}
    = form2.input :place, label: 'Place:', input_html: {name: 'o[][place]'}
