.row
  %div.taxon_fieldset.col-lg-3.col-md-4.col-sm-6
    = form.input :taxon_id, label: 'Taxon:', collection: taxa_for_select, required: false
    = form.input :exclude_subtaxa, as: :boolean, unchecked_value: false, label: "Exclude subspecies"
  .col-lg-2.col-md-4.col-sm-6
    = render partial: form.object.dates_fieldset, locals: {form: form}
  %div.locus_fieldset.col-lg-3.col-md-4.col-sm-6
    = form.input :locus_id, label: 'Location:', collection: Locus.suggestion_order, required: false, input_html: {class: 'input-sm'}
    = form.input :include_subregions, as: :boolean, unchecked_value: false, label: "Include subregions"
  .col-lg-2.col-md-2.col-sm-2
    = render partial: form.object.voice_fieldset, locals: {form: form}
  .col-lg-1.col-md-1.col-sm-1
    - if form.object.card_id
      = form.input :card_id, as: :boolean, label: link_to("Card #{form.object.card_id}", card_path(form.object.card_id)),
                              checked_value: form.object.card_id, unchecked_value: ''

  .col-lg-1.col-md-2.col-sm-2
    = form.button :submit, "Search", name: nil
