-# frozen_string_literal: true
%div.input.taxon_fieldset
  = form.input :taxon_id, label: 'Taxon:', collection: taxa_for_select, required: false,
    input_html: {class: 'suggest-combo'}
  %br
  %label
    = form.input_field :exclude_subtaxa, as: :boolean, unchecked_value: nil
    Exclude subspecies
= render partial: form.object.dates_fieldset, locals: {form: form}
%div.input.locus_fieldset
  = form.input :locus_id, label: 'Location:', collection: Locus.suggestion_order, required: false,
      input_html: {class: 'suggest-combo'}
  %br
  %label
    = form.input_field :include_subregions, as: :boolean, unchecked_value: nil
    Include subregions
%div.input
  = render partial: form.object.voice_fieldset, locals: {form: form}
  %hr
  %div
    %label
      = form.input_field :only_hidden, as: :boolean, unchecked_value: nil
      Hidden obs
- form.object.card_id.if_present do |card_id|
  %div.input.optional
    = form.input :card_id, as: :boolean, label: link_to("Card #{card_id}", card_path(card_id)),
                            checked_value: card_id, unchecked_value: nil

.buttons
  = form.button :submit, "Search", name: nil
