= form.input :species_id, label: 'Species:', collection: species_for_select, required: false,
    input_html: {class: 'suggest-combo'}
= form.input :observ_date, label: 'Date:', as: :string, required: false,
    input_html: {class: 'short', maxlength: 10, type: 'date'}
%div.input.locus_fieldset
  = form.input :locus_id, label: 'Location:', collection: Locus.suggestion_order, required: false,
      input_html: {class: 'suggest-combo'}
  %br
  %label
    = form.input_field :inclusive, as: :boolean, unchecked_value: false
    Include subregions
%div.input.optional.voice_radio_group
  = form.collection_radio_buttons :voice, [['', 'All'], [false, 'Seen'], [true, 'Voice only']], :first, :last
- if form.object.card_id
  %div.input.optional
    = form.input :card_id, as: :boolean, label: link_to("Card #{form.object.card_id}", card_path(form.object.card_id)),
                            checked_value: form.object.card_id, unchecked_value: ''

.buttons
  = form.button :submit, value: 'Search', name: nil
