= form.input :species_id, label: 'Species:', collection: species_for_select, required: false,
    input_html: {class: 'suggest-combo'}
= render partial: form.object.dates_fieldset, locals: {form: form}
%div.input.locus_fieldset
  = form.input :locus_id, label: 'Location:', collection: Locus.suggestion_order, required: false,
      input_html: {class: 'suggest-combo'}
  %br
  %label
    = form.input_field :inclusive, as: :boolean, unchecked_value: false
    Include subregions
= render partial: form.object.voice_fieldset, locals: {form: form}
- if form.object.card_id
  %div.input.optional
    = form.input :card_id, as: :boolean, label: link_to("Card #{form.object.card_id}", card_path(form.object.card_id)),
                            checked_value: form.object.card_id, unchecked_value: ''

.buttons
  = form.button :submit, value: 'Search', name: nil
