- @page_title = 'Bulk add/edit observation'
- blogpost = @observation.post

%h2= @page_title

= simple_form_for @observation do |form|
  .bunch
    = form.association :locus, :label => 'Location:', :collection => Locus.all_ordered, :label_method => :name_en,
        :input_html => {:class => 'suggest-combo'}
    = form.input :observ_date, :as => :string, :label => 'Date:', :input_html => {:maxlength => 10}
    = form.input :mine, :label => 'Mine'
    - unless blogpost.nil?
      = form.association(:post, :as => :boolean, :label => false)
      %label.obs_post_label= link_to(blogpost.title, public_post_path(blogpost))
  %span.pseudolink#add-row Add new row
  .bunch.obs-row
    = form.association :species, :label => 'Species:', :collection => Species.alphabetic,
        :label_method => :name_sci, :include_blank => false, :input_html => {:class => 'sp-suggest'}
    = form.input :quantity, :label => 'Quantity:'
    = form.input :biotope, :label => 'Biotope:'
    = form.input :place, :label => 'Place:'
    = form.input :notes, :label => 'Notes:'
    %span.pseudolink.remove X
  = form.button :submit, :value => 'Save'