- use_jquery
- javascript JQ_UI_FILE, 'suggest_over_combo'
- stylesheet 'forms'

- @page_title = "Editing observation ##{@observation.id}"
- blogpost = @observation.post

%h1= @page_title

= render 'admin/shortcuts' if current_user.admin?

= simple_form_for @observation do |form|
  %div
    = form.association :locus, :label => 'Location:', :collection => Locus.all_ordered, :label_method => :name_en,
        :input_html => {:class => 'suggest-combo'}
    = form.input :observ_date, :as => :string, :label => 'Date:', :input_html => {:maxlength => 10, :type => 'date'}
    = form.input :mine, :label => 'Mine'
    - unless blogpost.nil?
      = form.association(:post, :as => :boolean, :label => post_link(blogpost.title, blogpost), :wrapper_html => {:class => 'flat'})
  %div
    = form.association :species, :label => 'Species:', :collection => species_for_select,
        :label_method => :name_sci, :include_blank => false, :input_html => {:class => 'suggest-combo'}
    = form.input :quantity, :label => 'Quantity:', :input_html => {:class => :short}
    = form.input :biotope, :label => 'Biotope:', :input_html => {:class => :short}
    = form.input :place, :label => 'Place:'
    = form.input :notes, :label => 'Notes:'
  .buttons
    = default_submit_button(form)
