- use_jquery
- javascript JQ_UI_FILE, 'suggest_over_combo', 'biotopes'
- stylesheet 'forms'

- @page_title = '%s observation' % (@observation.persisted? ? 'Edit' : 'New')
- @blogpost = @observation.post

%h1= @page_title

= render 'admin/shortcuts' if current_user.admin?

= simple_form_for @observation, html: {class: 'observation'} do |form|
  %div
    = render partial: 'common', locals: { form: form }
  
  = render partial: @observation
  
  .buttons
    = default_submit_button(form)
