- @page_title = 'Listing observations'

%h2 Listing observations

= simple_form_for @search, :url => observations_path, :html => {:method => :get} do |form|
  = form.input :observ_date_eq, :label => 'Date:', :required => false
  = form.button :submit, :value => 'Search'

%table.neat_table
  %tr
    %th.align-right ID
    %th= link_to_unless_current('Species ⇓', params.merge({:sort => 'species.index_num', :page => nil}))
    %th Location
    %th.align-center= link_to_unless_current('Date ⇓', params.merge({:sort => :observ_date, :page => nil}))
    %th Quantity
    %th Biotope
    %th Place
    %th Notes
    %th Post
    %th.align-center= link_to_unless_current('Mine ⇓', params.merge({:sort => 'mine DESC', :page => nil}))
    %th

  - @observations.each do |observation|
    %tr
      %td.align-right= link_to observation.id, edit_observation_path(observation)
      %td= name_sci(observation.species)
      %td= observation.locus.name_en || observation.locus.code
      %td.align-center= observation.observ_date
      %td= observation.quantity
      %td= observation.biotope
      %td= observation.place
      %td= observation.notes
      %td= observation.post.nil? ? nil : link_to('>>', public_post_path(observation.post))
      %td.align-center= observation.mine ? '+' : '-'
      %td= link_to 'Destroy', observation, :confirm => 'Are you sure?', :method => :delete

%br

= paginate @observations
