- javascript 'observation_index'
- stylesheet 'forms', 'jquery-ui'

- @page_title = 'Observations'

%h1 Search observations

= render 'search'

%ul
  %li
    %b= link_to_if @common, 'Edit this bulk',
          bulk_observations_path(@common)
    \: Bulk should have the same date, place, and 'mine' value to be editable.
  - if @observations.present?
    %li
      %b= link_to 'Map this bulk', edit_map_path(q: params[:q])

%table.neat_table.obs_list
  %tr
    %th.align-right ID
    %th= link_to_unless_current('Species &#8659;'.html_safe, significant_params.merge({:sort => 'species.index_num', :page => nil}))
    %th Location
    %th.align-center= link_to_unless_current('Date &#8659;'.html_safe, significant_params.merge({:sort => :observ_date, :page => nil}))
    %th Quantity
    %th Biotope
    %th Place
    %th Notes
    %th Post
    %th.align-center= link_to_unless_current('Mine &#8659;'.html_safe, significant_params.merge({:sort => 'mine ASC', :page => nil}))
    %th

  - @observations.each do |observation|
    %tr
      %td.align-right= link_to observation.id, edit_observation_path(observation)
      %td.nowrap= name_sci(observation.species)
      %td= observation.locus.name || observation.locus.slug
      %td.align-center.nowrap= observation.observ_date
      %td= observation.quantity
      %td= observation.biotope
      %td= observation.place
      %td= observation.notes
      %td= post_link('>>', observation.post)
      %td.align-center
        - unless observation.mine
          %small.not_mine.tag not mine
        - if observation.voice
          %small.voice.tag voice
      %td
        - if observation.images.count > 0
          = image_tag('/img/x_alt_16x16_tan.png', :title => 'Destroy disabled due to existing images')
        - else
          = default_destroy_link(observation)

= paginate @observations
