- @page_title = 'Listing observations'

%h2 Listing observations

%table.neat_table
  %tr
    %th.align-right ID
    %th Species
    %th Location
    %th.align-center Date
    %th Quantity
    %th Biotope
    %th Place
    %th Notes
    %th.align-center Mine
    %th

  - @observations.each do |observation|
    %tr
      %td.align-right= link_to observation.id, edit_observation_path(observation)
      %td
        %i= (sp = observation.species).nil? ? 'Avis incognita' : sp.name_sci
      %td= observation.locus.name_en || observation.locus.code
      %td.align-center= observation.observ_date
      %td= observation.quantity
      %td= observation.biotope
      %td= observation.place
      %td= observation.notes
      %td.align-center= observation.mine ? '+' : '-'
      %td= link_to 'Destroy', observation, :confirm => 'Are you sure?', :method => :delete

%br

= paginate @observations
