%h2 Listing observations

%table.neat_table
  %tr
    %th.align-right ID
    %th Species
    %th Location
    %th.align-center Date
    %th Quantity
    %th Biotope
    %th Place
    %th Notes
    %th.align-center Mine
    %th
    %th

  - @observations.each do |observation|
    %tr
      %td.align-right= link_to observation.id, observation
      %td= species_link(observation.species)
      %td= link_to observation.locus.code, observation.locus
      %td.align-center= observation.observ_date
      %td= observation.quantity
      %td= observation.biotope
      %td= observation.place
      %td= observation.notes
      %td.align-center= observation.mine ? '+' : '-'
      %td= link_to 'Edit', edit_observation_path(observation)
      %td= link_to 'Destroy', observation, :confirm => 'Are you sure?', :method => :delete

%br

= will_paginate @observations
