.comment_box{id: "comment#{comment.id}", class: comment.approved ? nil : 'hidden-comment'}
  %div.comment_author
    .userpic-holder
      - if comment.commenter.image
        = image_tag(comment.commenter.image, alt: "Userpic")
      - else
        %span.fa.fa-user
    .name_area
      %div
        = render partial: "commenters/#{comment.commenter.provider}", locals: {commenter: comment.commenter}
      %div
        %i
          %time= link_to(l(comment.created_at, :format => :long), public_comment_path(comment, @post))
    .cf
  .comment_body
    = comment.decorated.text

  .comment_footer
    - if action_name != 'reply'
      %ul.reply
        %li= link_to(t('.reply_link'), reply_comment_path(comment), data: {comment_id: comment.id})
    - if current_user.admin?
      .comment_admin_area
        %i= comment.ip
        = default_destroy_link(comment) if action_name != 'reply'
    %div.cf

- subcomments = @comments.try(:[], comment.id)

- if subcomments
  .subcomments
    = render subcomments
