.comment{:id => "comment#{comment.id}"}
  %span.name= link_to_if(comment.url.present?, comment.name, comment.url, :rel => 'nofollow')
  \--
  %time= link_to(l(comment.created_at, :format => :long), public_comment_path(comment, @post))
  = default_destroy_link(comment) if current_user.admin? && action_name != 'reply'
  = comment_filter(comment.text)

  - if action_name != 'reply'
    .reply
      \--
      = link_to(t('.reply_link'), reply_comment_path(comment), 'data-comment-id' => comment.id)

- @comments.try(:[], comment.id).if_present do |subcomments|
  .subcomments
    = render :partial => 'comments/comment', :collection => subcomments
