- subcomments = @comments[comment.id]

.comment{:id => "comment#{comment.id}"}
  %span.name= link_to_if(comment.url.present?, comment.name, comment.url, :rel => 'nofollow')
  \--
  %time= link_to(l(comment.created_at, :format => :long), :anchor => "comment#{comment.id}")
  = default_destroy_link(comment) if current_user.admin?
  %p= comment.text

- if subcomments
  .subcomments
    = render :partial => 'comments/comment', :collection => subcomments