.comment_box{id: "comment#{comment.id}", class: comment.approved ? nil : 'hidden-comment'}
  %div.header-with-subheader
    - author_classes = %w(name)
    - if admin_commenter_id && comment.commenter_id == admin_commenter_id
      - author_classes += %w(tag admin_comment)
      - popup_title = 'Administrator'
    %h6{class: author_classes, title: popup_title}= link_to_if(comment.sane_url.present?, comment.decorated.name, comment.sane_url, :rel => 'nofollow')
    %i
      = link_to public_comment_path(comment, @post) do
        %time{datetime: comment.created_at.iso8601}= l(comment.created_at, :format => :long)
    - if current_user.admin?
      = default_destroy_link(comment) if action_name != 'reply'
      %i= comment.ip
  .comment_body
    = comment.decorated.text

  - if action_name != 'reply'
    %ul.reply
      %li= link_to(t('.reply_link'), reply_comment_path(comment), data: {comment_id: comment.id})

- subcomments = @comments.try(:[], comment.id)

- if subcomments
  .subcomments
    = render subcomments
