= simple_form_for @comment, html: {class: 'comment'} do |form|

  - if @comment.errors.any?
    .errors
      = t("errors.template.header", count: @comment.errors.count, model: nil)
      %ul
        - @comment.errors.full_messages.each do |msg|
          %li= msg

  = form.input :post_id, as: :hidden
  = form.input :parent_id, as: :hidden
  = form.input :name, @comment.persisted? ? {} : {input_html: { value: '' }, required: false, hint: 'Не заполняйте это поле!'}
  - if @comment.persisted?
    = form.input :email
    = form.input :url
  - else
    %div.input.string.required<
      %label.string.required{for: $negative_captcha}= t('simple_form.labels.comment.name')
      = text_field_tag $negative_captcha, @comment.name, required: true, class: 'string required'
  = form.input :text, label: false, input_html: {rows: 10}, hint: 'Немного HTML разрешено, включая &lt;a&gt;, &lt;img&gt;.'
  - if @comment.persisted?
    = form.input :approved, label: 'Approved'
    %b= @comment.ip
  .buttons
    = default_submit_button(form)
