= simple_form_for @comment, html: {class: 'comment'} do |form|

  - if @comment.errors.any?
    .errors
      %b #{pluralize(@comment.errors.count, "error")} prohibited this comment from being saved:
      %ul
        - @comment.errors.full_messages.each do |msg|
          %li= msg

  = form.input :post_id, as: :hidden
  = form.input :parent_id, as: :hidden
  = form.input :name
  = form.input :email
  = form.input :url
  = form.input :text, label: false
  - if action_name.in? %w(edit update)
    = form.input :approved, label: 'Approved'
  .buttons
    = default_submit_button(form)
