= simple_form_for @comment do |form|

  - if @comment.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@comment.errors.count, "error")} prohibited this #{Comment.name.titleize} from being saved:"
      %ul
        - @comment.errors.full_messages.each do |msg|
          %li= msg  

  = form.input :post_id, :as => :hidden
  = form.input :parent_id, :as => :hidden
  = form.input :name, :label => 'Name:'
  = form.input :email, :label => 'Email:'
  = form.input :url, :label => 'Url:'
  = form.input :text, :label => 'Text:'
  - if controller_name == 'comments'
    = form.input :approved, :label => 'Approved'
  .buttons
    = default_submit_button(form)