-# frozen_string_literal: true
- stylesheet 'forms'

- @page_title = 'Editing comment'

%h1= page_header

= render 'form'

= link_to 'Show', @comment
= precede ' | ' do
  = link_to 'Back', comments_path
