-# frozen_string_literal: true
- @page_title = 'Listing comments'

%h1= page_header

- if notice
  %p#notice= notice

%p
  - if params[:sort] == 'by_post'
    = link_to 'Show latest first', sort: nil
  - else
    = link_to 'Group by post', sort: 'by_post'

%table.neat_table
  %tr
    %th Id
    %th Date
    %th Name
    %th Text
    %th

  - @comments.chunk(&:post).each do |post, comments|
    %tr
      %td{:colspan => 5}
        %h4
          = link_to(post.decorated.title, default_public_post_path(post), class: ("grayout" unless post.public?))
    - comments.each do |comment|
      %tr{class: comment.approved ? "" : "hidden-comment"}
        %td
          = link_to comment.id, edit_comment_path(comment)
          - if comment.parent_id
            %b{title: "Response"} Resp.
        %td.align-center
          %div
            %nobr
              = comment.created_at.strftime("%-d %b %Y")
          %div
            %nobr
              = comment.created_at.strftime("%H:%M")
        %td
          = comment.name
          - if comment.commenter_id == admin_commenter_id
            %span.tag.admin_comment admin
        %td= comment.decorated.body
        %td.align-center
          %div
            = default_destroy_link(comment)
          - if !comment.approved
            %br
            = form_for comment, remote: false do |form|
              = form.hidden_field :approved, value: true
              = form.submit 'Approve'
          - if comment.approved? && comment.needs_email_release? && comment.email_sent_at.nil?
            %br
            = button_to 'Release Email', release_email_comment_path(comment, page: params[:page]), method: :post

%div{data: {turbolinks: "true"}}
  = paginate @comments unless params[:sort] == 'by_post'
