- @page_title = 'Listing comments'

%h1= @page_title

%table.neat_table
  %tr
    %th Post
    %th Parent
    %th Name
    %th Text
    %th
    %th
    %th

  - @comments.each do |comment|
    %tr
      %td= post_link('>>', comment.post)
      %td= comment.parent_id
      %td= comment.name
      %td= comment.text
      %td= link_to 'Show', comment
      %td= link_to 'Edit', edit_comment_path(comment)
      %td= link_to 'Destroy', comment, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Comment', new_comment_path
