-# frozen_string_literal: true
- @page_title = 'Listing comments'

%h1= page_header

%p
  - if params[:sort] == 'by_post'
    = link_to 'Show latest first', sort: nil
  - else
    = link_to 'Group by post', sort: 'by_post'

%table.neat_table
  %tr
    %th Id
    %th Parent
    %th Name
    %th Text
    %th

  - @comments.chunk(&:post).each do |post, comments|
    %tr
      %td{:colspan => 5}
        %h4= post_link(post.decorated.title, post)
    - comments.each do |comment|
      %tr
        %td= link_to comment.id, edit_comment_path(comment)
        %td= comment.parent_id
        %td= comment.name
        %td= comment.decorated.text
        %td
          = default_destroy_link(comment)
          - if admin_commenter_id
            - if comment.commenter_id == admin_commenter_id
              %span.tag.admin_comment admin
            - else
              = form_for comment, remote: true do |form|
                = form.hidden_field :send_email, value: true
                = form.hidden_field :commenter_id, value: admin_commenter_id
                = form.submit 'adminify'


%div{data: {turbolinks: "true"}}
  = paginate @comments unless params[:sort] == 'by_post'
