- javascript 'ujs'

- @page_title = 'Listing comments'

%h1= @page_title

%table.neat_table
  %tr
    %th Id
    %th Parent
    %th Name
    %th Text
    %th

  - @comments.group_by(&:post).each do |post, comments|
    %tr
      %td{:colspan => 5}
        %h4= post_link(post_title(post), post)
    - comments.each do |comment|
      %tr
        %td= link_to comment.id, edit_comment_path(comment)
        %td= comment.parent_id
        %td= comment.name
        %td= comment_filter(comment.text)
        %td= default_destroy_link(comment)