-# frozen_string_literal: true
- @page_title = "Comment #{@comment.id}"

%h1= page_header

- if notice
  %p#notice= notice

%p
  %b Parent:
  = @comment.parent_id
%p
  %b Name:
  = @comment.name
%p
  %b Url:
  = @comment.url
%p
  %b Text:
= @comment.decorated.text

%p
  %b Approved:
  = @comment.approved

- if @comment.send_email?
  %p
    %b Send email to:
    = @comment.commenter.email

%p
  %b IP:
  = @comment.ip

= link_to 'Edit', edit_comment_path(@comment)
= precede ' | ' do
  = link_to 'Back', comments_path
