- i = @lifelist.size + 1
- @lifelist.group_by {|s| s.date.year}.each do |year, species_list|
  - if params[:year].blank?
    %h5= "First seen in %d" % year
  %ol
    - species_list.each do |sp|
      %li.lifer_row{:value => i -= 1}
        %span
          = species_link(sp)
          = name_sci(sp)
        %time= l(sp.date, :format => :long)
        = post_link('>>', sp.post)
