- i = @lifelist.size + 1
- @lifelist.group_by {|s| s.first_seen_date.year}.each do |year, species_list|
  - if params[:year].blank?
    %h5.first_seen= t('.first_seen_in', year: year)
  %ol.lifers_list
    - species_list.each do |sp|
      %li.lifer_row{:value => i -= 1}
        %span
          = species_link(sp)
          = name_sci(sp)
        %time= l(sp.first_seen_date, :format => :long)
        = post_link('>>', sp.post)
