-# frozen_string_literal: true
- if defined?(total_count)
  - i = total_count - lifer_counter

- if defined?(count_reached)
  - i = count_reached + lifer_counter

%tr
  %td
    = i
  %td
    %b= species_link(lifer.species)
    = name_sci(lifer.species)
    - if russian_locale?
      %span.lifer_en
        = lifer.species.name_en
  %td.place_td
    = post_link(content_tag(:time, l(lifer.card.observ_date, :format => :long), {datetime: lifer.card.observ_date.iso8601}), lifer.main_post || lifer.post, true)
    %span.lifer_locus= lifer.patch_or_locus.public_locus.decorated.full_name
