- @years = @lifelist.years
- locs = @lifelist.locations
= render 'partials/years'

%ul.horiz-list.filter-list
  %strong= t('.filter.places')
  %li= params[:locus].nil? ? content_tag(:span, t('misc.all')) : link_to(t('misc.all'), significant_params.merge(:locus => nil))
  - Lifelist::PUBLIC_LOCI.each do |slug|
    %li= link_to_or_span(locs[slug][0].name, significant_params.merge(:locus => slug))

- unless @lifelist.blank? || controller_name == 'research'
  %ul.horiz-list.filter-list
    %strong= t('.filter.sort_by')
    - [nil, :by_count, :by_taxonomy].each do |sort|
      %li= link_to_or_span(t(sort || :by_date, scope: 'lifelist.menus.sort_option'), significant_params.merge(:sort => sort))
