-# frozen_string_literal: true
- @body_class = 'wider'
- stylesheet 'public'

- @robots = 'NOINDEX'

- @page_title = capture do
  - if action_name == "winter"
    = t('lifelist.title.winter_list')
    - if params[:year]
      = sanitize("#{params[:year]}&ndash;#{params[:year].to_i + 1}")
    - if params[:locus]
      = "(#{@lifelist.locus.name})"
  - elsif params[:month] && params[:day]
    - month_finder = cyrillic_locale? ? "common_month_names" : "month_names"
    = [ t('lifelist.title.daylist', day: params[:day], month: t("date.#{month_finder}")[params[:month].to_i]),
        params[:year] ? t('lifelist.title.yearsublist', year: params[:year]) : nil,
        params[:locus] ? "(#{@lifelist.locus.name})" : nil ] * ' '
  - elsif params[:month]
    = [ t('lifelist.title.monthlist', month: t('date.month_names')[params[:month].to_i]),
        params[:year] ? t('lifelist.title.yearsublist', year: params[:year]) : nil,
        params[:locus] ? "(#{@lifelist.locus.name})" : nil ] * ' '
  - elsif params[:year]
    = [t('lifelist.title.yearlist', year: params[:year]), params[:locus] ? "(#{@lifelist.locus.name})" : nil] * ' '
  - elsif params[:locus]
    = t('lifelist.title.locationlist', location: @lifelist.locus.name)
  - else
    = t('lifelist.title.lifelist')
  - if params[:motorless]
    = " - Motorless"
  - if params[:exclude_heard_only]
    = " - Exclude heard only"

- content_for :translated do
  = render partial: 'partials/translated', locals: {url: significant_params}

-# Do not cache too many pages
- do_not_cache = params[:month] && (params[:locus] || params[:sort] || params[:year])
- cache_unless do_not_cache, amended_params(admin: current_user.admin?, key: Quails::CacheKey.lifelist, locale: I18n.locale) do

  %h1= page_header

  %div{data: {turbolinks: "true"}}

    = render "lifelist/menus"

    - unless action_name == "winter"
      %ul.horiz-list.filter-list
        %strong= t('lifelist.menus.filter.months')
        %li= filtering_link_to_all(:month)
        - 1.upto(12) do |m|
          %li
            = link_to_or_span(t('date.abbr_month_names')[m], significant_params.except(:day).merge(:month => m))

  - if @lifelist.blank?
    %p= t('lifelist.basic.no_species')
  - else
    %table#lifelist.neat_table.advanced
      %thead{data: {turbolinks: "true"}}
        %tr
          %th.empty_cell &nbsp;
          %th
            %i.sort_by_label= t('lifelist.basic.filter.sort_by')
            = sorting_link_to(:class, t('lifelist.sorting.taxonomy'))
          %th.align-center
            = sorting_link_to(nil, t('lifelist.sorting.first_encounter'))
          %th.align-center
            = sorting_link_to(:last, t('lifelist.sorting.last_encounter'))
          %th.count-column-header
            = sorting_link_to(:count, t('lifelist.sorting.count'))
      %tbody
        -# Template Dependency: lifelist/advanced/*
        = render sorted_list_partial(params[:sort])
