-# frozen_string_literal: true
- @robots = 'NOINDEX'

- @page_title = capture do
  - if params[:year]
    = [t('lifelist.title.yearlist', year: params[:year]), params[:locus] ? "(#{@lifelist.locus.name})" : nil] * ' '
  - elsif params[:locus]
    = t('lifelist.title.countrylist', country: @lifelist.locus.name)
  - else
    = t('lifelist.title.lifelist')

- content_for :translated do
  = render partial: 'partials/translated', locals: {url: significant_params}

- cache significant_params.merge(admin: current_user.admin?, key: CacheKey.lifelist, locale: I18n.locale) do

  %h1= page_header

  %div{data: {turbolinks: "true"}}
    = render "lifelist/menus"

    - unless @lifelist.blank?
      %ul.horiz-list.filter-list
        %strong= t('.filter.sort_by')
        - [nil, :by_taxonomy].each do |sort|
          %li= link_to_or_span(t(sort || :by_date, scope: 'lifelist.menus.sort_option'), significant_params.merge(:sort => sort))
        %li
          %b= link_to t('lifelist.menus.advanced'),
                      significant_params.slice(:year, :locus).merge(action: :advanced),
                      class: 'advanced'


  - if @lifelist.blank?
    %ul
      %li= t('lifelist.basic.no_species')
  - else
    = render "lifelist/basic/#{params[:sort] || 'by_date'}"
