- @page_title = 'Lifelist by count'

%h1= @page_title

= render 'menus'

- if @lifelist.blank?
  %p No species
- else
  %ol
    - @lifelist.each do |sp|
      %li.lifer_row
        %span
          = species_link(sp)
          = name_sci(sp)
        %em= sp.count
