- @page_title = 'Lifelist by count'

%h1= @page_title

= render 'partials/years'

- if @lifers.blank?
  %p No species
- else
  = render 'sorter'
  %ol
    - @lifers.each do |sp|
      %li.lifer_row
        %span
          = species_link(sp)
          = name_sci(sp)
        %em= sp.aggregated_value
