- @page_title = 'Lifelist by taxonomy'

%h1= @page_title

= render 'partials/years'

- if @lifers.blank?
  %p No species
- else
  = render 'sorter'
  - i = 0
  - extract_families(@lifers).each do |fam, species_list|
    %h5= "%s: %s" % [fam[:order].upcase, fam[:family]]
    %ol
      - species_list.each do |sp|
        %li.lifer_row{:value => i += 1}
          %span
            = species_link(sp)
            = name_sci(sp)
          %time= l(Date.parse(sp.aggregated_value), :format => :long)
          = post_link('>>', sp.post)
