
.container

  %header.simple-page-header
    %h1 Chart

  %h2= t("blog.year_summaries.#{@cell.type}")

  .year-summary
    = render @cell

  %h2= t("blog.year_summaries.#{@cell0.type}")

  .year-summary
    = render @cell0
