- template = params[:sort] || 'by_date'
- @page_title = "%s %s" % [t('.title.lifelist'), t(".title.template.#{template}")]

%h1= @page_title

= render partial: 'menus'

- if @lifelist.blank?
  %p No species
- else
  = render "lifelist/default/#{template}"
