- @page_title = 'Lifelist'

%h2 Lifelist

= render 'partials/years'

- if @lifelist.blank?
  %p No species observed.
- else
  %table#lifelist.neat_table
    - @lifelist.inject(@lifelist.size) do |i, row|
      - sp = row.species
      %tr
        %td.align-right= "#{i}."
        %td= species_link(sp)
        %td= name_sci(sp)
        %td.align-right= l(row.observ_date, :format => :long)
      - i -= 1
