-# frozen_string_literal: true
-# no_viewport is for very wide pages, e.g. with table
- @no_viewport = true

- @special_styling = true

- @page_title = t('.title')

- @robots = 'NOINDEX'

- content_for :translated do
  = render 'partials/translated'

%div.header-with-subheader
  %h1= @page_title

  %ul.subheader-menu
    %li= link_to('Lifelist', lifelist_path)
    %li= link_to(t('lifelist.title.ukraine'), list_path(locus: 'ukraine'))
    %li= link_to(t('lifelist.title.usa'), list_path(locus: 'usa'))
    %li= link_to(t('lifelist.title.gb'), list_path(locus: 'united_kingdom'))
    %li= link_to(t('lifelist.title.canada'), list_path(locus: 'canada'))

- cache(key: Quails::CacheKey.lifelist) do

  - first_sp_by_year = @first_sp_by_year.count(:all)
  - grouped_by_year_and_country = @grouped_by_year_and_country.count_distinct_species
  - grouped_by_country = @grouped_by_country.count_distinct_species

  %table.nice_stats
    %tr
      %th &nbsp;
      %th.count_sp
        = t('.species_met')
      %th.count_new
        = t('.lifers_met')
      %th &nbsp;

    - @year_data.count_distinct_species.each do |year, count_species|

      %tr
        %td.year= year

        %td.count_sp
          = link_to count_species, list_path(year: year)

        %td.count_new<>
          - new_sp = first_sp_by_year[year.to_i]
          - if new_sp && new_sp > 0
            -#\/
            %small<>
              = link_to advanced_list_path(anchor: "first_seen_#{year}") do
                =  new_sp

        %td.countries
          %ul
            - @countries.each do |c|
              - count = grouped_by_year_and_country[[year, c.id]]
              - if count
                %li{class: c.slug}
                  = succeed ':' do
                    = c.name
                  %span.count= link_to count, list_path(year: year, locus: c.slug)

    %tr.total
      %td.year= t('.total')
      %td.count_sp= link_to MyObservation.count_distinct_species, lifelist_path
      %td
      %td.countries
        %ul
          - @countries.each do |c|
            - count = grouped_by_country[c.id]
            - if count
              %li{class: c.slug}
                = succeed ':' do
                  = c.name
                %span.count= link_to count, list_path(locus: c.slug)

  - day_with_max_species = Date.new(2020, 7, 4)
  - max_species_for_day = 92
  - post_for_day_with_max_species = show_post_path(year: 2021, month: "04", id: "second-western-trip-day-1")

  - day_with_max_lifers = Date.new(2010, 8, 14)
  - max_lifers_for_day = 15
  - post_for_day_with_max_lifers = show_post_path(year: 2010, month: "08", id: "jamaica-bay-herons-et-al")

  %table.nice_stats.records
    %tr
      %th{colspan: 4}
        %h2= t('.records')

    %tr
      %td.day
        %nobr= link_to_unless blogless_locale? && post_for_day_with_max_species, l(day_with_max_species, format: :long), post_for_day_with_max_species
      %td.place
        Winnipeg, Cypress River, Manitoba SW Corner, Saskatchewan SE Corner, Whitewater Lake,
        Duck Mountain Provincial Park &ndash; Canada
      %td.count_sp= max_species_for_day
      %td.count_sp_label= t('misc.species_count', count: max_species_for_day)

    %tr
      %td.day
        %nobr= link_to_unless blogless_locale?, l(day_with_max_lifers, format: :long), post_for_day_with_max_lifers
      %td.place Jamaica Bay Wildlife Refuge, New York City, USA
      %td.count_new_big= max_lifers_for_day
      %td.count_new_label
        = t('lifelist.stats.new_count_species', count: max_lifers_for_day)
