-# frozen_string_literal: true
- @page_title = t(".title")

- @robots = "NOINDEX"

- content_for :translated do
  = render "app2/shared/translated"

- cache(key: Quails::CacheKey.lifelist, admin: current_user.admin?, locale: I18n.locale) do
  .page-container.stats-page

    = content_for :translated

    = simple_page_header(@page_title)

    %nav.stats-nav
      %ul
        %li= link_to("Lifelist", lifelist_path)
        %li= link_to(t("lifelist.title.country.ukraine"), list_path(locus: "ukraine"))
        %li= link_to(t("lifelist.title.country.usa"), list_path(locus: "usa"))
        %li= link_to(t("lifelist.title.country.united_kingdom"), list_path(locus: "united_kingdom"))
        %li= link_to(t("lifelist.title.country.canada"), list_path(locus: "canada"))
        %li= link_to(t("lifelist.title.country.poland"), list_path(locus: "poland"))

    - if record_species_day || record_lifers_day
      %section.record-days
        %h2.font-rubik= t(".records")
        %ul
          - if (record = record_species_day)
            = render "record_day", record: record, css_class: "record-species",
              count_text: record.count, unit_text: t("misc.species_count", count: record.count)
          - if (record = record_lifers_day)
            = render "record_day", record: record, css_class: "record-lifers",
              count_text: "+#{record.count}", unit_text: t(".new_count_species", count: record.count)

    %section.stats-years
      - first_sp_by_year = @first_sp_by_year.count(:all)
      - year_country_counts = grouped_by_year_and_country.count_distinct_species
      - country_counts = grouped_by_country.count_distinct_species
      - year_country_first_dates = grouped_by_year_and_country.minimum("cards.observ_date")
      - country_first_dates = grouped_by_country.minimum("cards.observ_date")
      - year_species_counts = @year_data.count_distinct_species
      - max_year_count = year_species_counts.values.max
      - max_lifers_count = first_sp_by_year.values.max

      %table
        %thead
          %tr
            %th.year
            %th.species= t(".species_met")
            %th.lifers= t(".lifers_met")
            %th.countries
        %tbody
          - year_species_counts.each do |year, count_species|
            %tr
              %th.year{scope: "row"}= year
              - new_sp = first_sp_by_year[year.to_i]
              %td.species{class: ("year-max" if count_species == max_year_count)}
                = link_to(count_species, list_path(year: year))
                .bar{aria: {hidden: true}}
                  .bar-fill{style: "width: #{(count_species * 100.0 / max_year_count).round(1)}%"}
              %td.lifers{class: ("year-max" if new_sp && new_sp == max_lifers_count)}
                - if new_sp && new_sp > 0
                  = link_to("+#{new_sp}", advanced_list_path(anchor: "first_seen_#{year}"))
              %td.countries
                %ul
                  - visited = @countries.select { |c| year_country_counts[[year, c.id]] }
                  - visited.sort_by! { |c| [year_country_first_dates[[year, c.id]], @countries.index(c)] }
                  - visited.each do |c|
                    %li{class: c.slug}
                      = link_to(list_path(year: year, locus: c.slug)) do
                        %span.dot{aria: {hidden: true}, style: "background-color: #{country_dot_color(c.slug)}"}
                        = c.name
                        %span.count= year_country_counts[[year, c.id]]
        %tfoot
          %tr.total
            %th.year{scope: "row"}= t(".total")
            %td.species= link_to(total_species_count, lifelist_path)
            %td.lifers
            %td.countries
              %ul
                - visited = @countries.select { |c| country_counts[c.id] }
                - visited.sort_by! { |c| [country_first_dates[c.id], @countries.index(c)] }
                - visited.each do |c|
                  %li{class: c.slug}
                    = link_to(list_path(locus: c.slug)) do
                      %span.dot{aria: {hidden: true}, style: "background-color: #{country_dot_color(c.slug)}"}
                      = c.name
                      %span.count= country_counts[c.id]
