-# frozen_string_literal: true
%ul.cards_list
  = render @observation.card

- spuh_obs = Observation.joins(:taxon).select("taxon_id, COUNT(observations.id) as cnt").where("category IN ('spuh', 'slash')").group("taxon_id").order("cnt DESC").limit(10)
- mostUsedSpuhs = Taxon.select(:id, :name_sci, :name_en).joins("INNER JOIN (#{spuh_obs.to_sql}) spuh_obs ON spuh_obs.taxon_id=taxa.id").order("index_num ASC")

= simple_form_for @observation, url: spuh_path(id: @observation.id), html: {class: 'spec_edit_observation'}, remote: true do |builder|

  %div.obs-block
    %div.fast-species
      - mostUsedSpuhs.each do |tx|
        %span.pseudolink.fast-sp-link{data: {taxon_id: tx.id, label: tx.to_label}}= tx.to_label

  = render partial: 'observations/observation_fields', object: @observation, locals: {form: builder}

  .buttons
    = default_submit_button(builder)
    -  if @next
      = link_to 'Skip', spuh_path(id: @next.id), class: "skip_link", remote: true
