-# frozen_string_literal: true
%div.mail-inner-body
  %p
    Someone replied to your comment to the post «#{link_to @comment.post.decorated.title, default_public_post_url(@comment.post)}»:
  %div.mail-top-comment-wrapper
    %div.mail-comment-panel
      %b= @comment.parent_comment.decorated.name
      %small
        (#{link_to(I18n.l(@comment.parent_comment.created_at, format: :long), default_public_post_url(@comment.post, anchor: "comment#{@comment.parent_comment.id}"))})
      = @comment.parent_comment.decorated.body
  %div.mail-child-comment-wrapper
    %div.mail-comment-panel
      %b= @comment.decorated.name
      %small
        (#{link_to(I18n.l(@comment.parent_comment.created_at, format: :long), default_public_post_url(@comment.post, anchor: "comment#{@comment.id}"))})
      = @comment.decorated.body
  %p
    You can
    %b
      %a{:href => default_public_post_url(@comment.post, anchor: "comment#{@comment.parent_comment.id}").to_s} reply
    to this comment.
%div.mail-footer
  Unsubscribe from receiving email notifications about replies to your comment:
  = succeed "." do
    %a{:href => unsubscribe_request_comments_url(token: @comment.parent_comment.unsubscribe_token).to_s, :rel => "unsubscribe"} UNSUBSCRIBE
