<p>
  <b><%= @comment.decorated.name %></b> posted new comment to
  "<%= link_to @comment.post.decorated.title,
          show_post_url(@comment.post.to_url_params.merge(anchor: "comment#{@comment.id}", only_path: false, host: @host))
   %>"
</p>

<%- unless @comment.approved %>
    <p>Comment was hidden!</p>
<%- end %>

<blockquote>
  <%= @comment.decorated.text %>
</blockquote>

<%- parent = @comment.parent_comment %>
<%- if parent && parent.send_email? && @comment.approved && Rails.env.production? && Quails.env.real_prod? %>
  <p><%= parent.name %> (<%= parent.commenter.email %>) should receive email notification.</p>
<%- end %>

<%- if !Quails.env.real_prod? %>
-----
<br />
THIS IS A TEST. NOT A REAL PRODUCTION ENVIRONMENT.
<%- end %>
