-# frozen_string_literal: true
%div.mail-inner-body
  %p
    %b= @comment.decorated.name
    posted new comment to
    = succeed ":" do
      = link_to @comment.post.decorated.title, show_post_url(@comment.post.to_url_params.merge(anchor: "comment#{@comment.id}"))

  - unless @comment.approved
    %p ⚠ Comment was hidden. Please review.

  %div.mail-top-comment-wrapper
    %div.mail-comment-panel
      %b= @comment.decorated.name
      %small
        (#{link_to(I18n.l(@comment.created_at, format: :long), show_post_url(@comment.post.to_url_params.merge(anchor: "comment#{@comment.id}")))})
      = @comment.decorated.body


  - parent = @comment.parent_comment
  - if parent&.send_email? && @comment.approved
    %p
      = parent.name
      (#{Rinku.auto_link(parent.commenter.email).html_safe}) should receive email notification.
