%ul#admin_menu.horiz-list
  %li= link_to_unless_current '+ Post', new_post_path
  %li= link_to_unless_current '+ Obs', new_observation_path
  %li= link_to_unless_current '+ Image', new_image_path
  %li= link_to_unless_current 'Observations', observations_path
  %li= link_to_unless_current 'Images', images_path
  %li= link_to_unless_current 'Species', species_index_path
  %li= link_to_unless_current 'Locations', locus_index_path
  %li= link_to_unless_current 'Research', research_path