- if current_user.admin?
  %ul.admin_menu
    %li.switcher
      %span Menu
    %li= link_to '+ Post', new_post_path
    %li= link_to '+ Obs', add_observations_path
    %li= link_to '+ Image', add_images_path
    %li= link_to 'Drafts', hidden_posts_path
    %li= link_to 'Observations', observations_path
    %li= link_to 'Species', admin_species_index_path
    %li= link_to 'Books', books_path
    %li= link_to 'Comments', comments_path
    %li= link_to 'Locations', loci_path
    %li= link_to 'Research', research_path
    %li= link_to 'Map Edit', edit_map_path
    %li= link_to 'Settings', settings_path
    %hr
    %li= link_to t('menu.archive'), archive_path
    %li= link_to t('menu.checklist'), checklist_path(country: 'ukraine')
    %li= link_to t('menu.photos'), images_path
    %li= link_to t('menu.my_stats'), my_stats_path
    %li= link_to t('menu.lifelist'), lifelist_path

- elsif current_user.has_admin_cookie?
  %ul.admin_menu
    %li.switcher= link_to 'Login', login_path
