- if current_user.is_admin_session?
  %ul.admin_menu
    %li.adder= link_to '+ Post', new_post_path(url_options_for_admin)
    %li.adder= link_to '+ Card', new_card_path(url_options_for_admin)
    %li.adder= link_to '+ Image', new_flickr_photo_path(url_options_for_admin)
    %li= link_to 'Drafts', hidden_posts_path(url_options_for_admin)
    %li= link_to 'Species', admin_species_index_path(url_options_for_admin)
    %li= link_to 'Cards', cards_path(url_options_for_admin)
    %li= link_to 'Comments', comments_path(url_options_for_admin)
    %li= link_to 'Books', books_path(url_options_for_admin)
    %li= link_to 'Locations', loci_path(url_options_for_admin)
    %li= link_to 'Pages', pages_path(url_options_for_admin)
    %li= link_to 'Research', research_path(url_options_for_admin)
    %li= link_to 'Map Edit', edit_map_path(url_options_for_admin)
    \|
    %li= link_to t('menu.checklist'), checklist_path({country: 'ukraine'}.merge(url_options_for_admin))
    %li= link_to 'Photostream', images_path(url_options_for_admin)
    %li= link_to 'Stats', research_path({action: 'stats'}.merge(url_options_for_admin))
    %li= link_to t('menu.lifelist'), advanced_list_path(url_options_for_admin)

    - if Quails.env.ssl? && !request.ssl?
      = link_to 'Admin`s', params.merge({only_path: false, protocol: 'https'})

    %li
      %i= link_to "**Logout", logout_path

- elsif current_user.has_trust_cookie?

  %ul.admin_menu
    %li.login_link

    - if Quails.env.ssl? && !request.ssl?
      = link_to 'Admin area', params.merge({only_path: false, protocol: 'https'})

    - else
      = link_to 'Login', login_path(url_options_for_admin)
