-# frozen_string_literal: true
- if current_user.admin?
  %ul.admin_menu
    %li.adder= link_to '+ Post', new_post_path
    %li.adder= link_to '+ Card', new_card_path
    %li.adder= link_to '+ Image', new_image_path
    %li= link_to 'Drafts', hidden_posts_path
    %li= link_to 'Species', admin_species_index_path
    %li= link_to 'Cards', cards_path
    %li= link_to 'eBird', ebird_imports_path
    %li= link_to 'Comments', comments_path
    %li= link_to 'Locations', loci_path
    %li= link_to 'Videos', videos_path
    %li= link_to 'Reports', reports_path
    %li= link_to 'Map Edit', edit_map_path
    %li= link_to 'Deflicker', deflicker_path
    %li
      = link_to 'Jobs', "/jobs", target: "_blank", rel: :noopener
      = render "admin/failing_jobs_badge"

    \|
    %li= link_to 'Photostream', images_path
    %li= link_to 'Stats', reports_stats_path
    %li= link_to t('menu.lifelist'), advanced_list_path(locale: nil)

    %li
      %i= link_to "**Logout", logout_path

- elsif has_trust_cookie?

  %ul.admin_menu
    %li.login_link
      = link_to 'Login', login_path
