- stylesheet 'map'
- @body_class = 'map-page'
- @special_styling = true
-# no_viewport is for very wide pages, e.g. with table
-# @no_viewport = true
- javascript AssetsHelper::GMAP_API_URL, 'map_show'

- @page_title = t(".title")

%div.map-panel
  %a.pseudolink.pan(href="#world")= t(".world")
  %a.pseudolink.pan(href="#ukraine")= t(".ukraine")
  %a.pseudolink.pan(href="#usa")= t(".usa")

- if I18n.locale == :ru
  %div.gray-panel
    %a{href: '/2013/08/site-news-map'} Сообщить об ошибке, оставить пожелание.

.mapContainer
  #googleMap

.gallery_window{data: {strip_url: photos_strip_path}}
  .wnd_close
    %span.close
      = image_tag("/img/x_14x14.png", width: 21, height: 21)
      %span.pseudolink= t(".close")
  .gallery_container
