-# frozen_string_literal: true
- @body_class = "map-page"
- @page_title = t(".title")

- content_for :head do
  - if ENV["quails_google_maps_api_key"]
    = tag.meta name: "google-maps-api-key", content: ENV["quails_google_maps_api_key"]

  = stylesheet_link_tag "map", media: "all"
  = javascript_include_tag "map-show"

- content_for :translated do
  = render "app2/shared/translated"

= content_for :translated

%div.map-panel
  %a.pseudolink.pan{href: "#world"}= t(".world")
  %a.pseudolink.pan{href: "#europe"}= t(".europe")
  %a.pseudolink.pan{href: "#north_america"}= t(".north_america")

.mapContainer
  #googleMap{data: {map_enabled: map_enabled}}

.gallery_window{data: {strip_url: media_strip_path}}
  .wnd_close
    %span.close
      %span.fas.fa-times.fa-2x
      %span.pseudolink= t(".close")
  .gallery_container
