-# frozen_string_literal: true
- stylesheet 'map'
- @body_class = 'map-page'
- @special_styling = true
-# no_viewport is for very wide pages, e.g. with table
-# @no_viewport = true
- javascript AssetsHelper::GMAP_API_URL, 'map_show'

- @page_title = t(".title")

%div.map-panel
  %a.pseudolink.pan(href="#world")= t(".world")
  %a.pseudolink.pan(href="#ukraine")= t(".ukraine")
  %a.pseudolink.pan(href="#north_america")= t(".north_america")

= render partial: 'partials/translated'

.mapContainer
  #googleMap{data: {map_enabled: map_enabled}}

.gallery_window{data: {strip_url: media_strip_path}}
  .wnd_close
    %span.close
      %span.fas.fa-times.fa-2x
      %span.pseudolink= t(".close")
  .gallery_container
