-# frozen_string_literal: true
- @page_title = "Species synonyms (redirects)"

%h1= page_header

- provide :add_shortcuts do
  %li= link_to "Species", admin_species_index_path

= render 'admin/shortcuts' if current_user.admin?

%table.neat_table
  %tr
    %th Old name
    %th Redirect to
    %th Reason
    %th &nbsp;

  - @synonyms.each do |syn|
    %tr
      %td
        %i.less-important
          = syn.name_sci
      %td
        = name_sci(syn.species)
        = surround "(", ")" do
          = species_link(syn.species)

      = simple_form_for syn, url: { action: "update", id: syn.id }, remote: true do |f|
        %td
          = f.input :reason, as: :select, collection: UrlSynonym::REASONS, label: false, wrapper_html: {class: "inline-block"}
        %td
          = f.button :submit, "Save", name: nil, data: {"disable-with": "Saving..."}

