%footer.page_footer
  = render "app2/footer/banners"
  .footer-text
    %p
      = succeed "," do
        %b= t('author.name')
      2007&ndash;#{Quails::CURRENT_YEAR}
      %br
      %span.license-text= t("license.text", link: "https://creativecommons.org/licenses/by-nc-sa/4.0/").html_safe
