-# frozen_string_literal: true
%footer.page_footer
  = render "app2/footer/banners"
  .footer-text
    %p.footer-attribution
      = succeed "," do
        = t('author.name')
      2007&ndash;#{Quails::CURRENT_YEAR}
    %p.footer-license
      = t("license.text", link: "https://creativecommons.org/licenses/by-nc-sa/4.0/").html_safe
