%nav.main-menu
  .container
    %ul

      %li
        = link_to blog_path, class: "home-link" do
          %i.fas.fa-home
          .sr-only Home

      %li
        = link_to blog_path do
          %span= t('menu.blog')

      %li= link_to t('menu.birds_ukraine'), country_path(country: 'ukraine')

      %li= link_to t('menu.gallery'), gallery_path

      %li= link_to t('menu.map'), map_path

      %li= link_to t('menu.lifelist'), lists_overview_path

      %li= link_to t('menu.links'), page_path(:links)

      %li.trans-menu
        = link_to t('menu.english'), localized_root_path(locale: :en), lang: :en, hreflang: :en, class: "translation  "
