-# frozen_string_literal: true
%nav.main-menu
  .container
    %ul

      %li.d-none.d-print-block.print-only-logo
        birdwatch.org.ua

      %li.d-print-none
        = link_to localized_root_path, class: "home-link" do
          %i.fas.fa-home
          .sr-only= t('menu.home-sr-only')

      %li
        = link_to localized_root_path do
          %span= t('menu.home')

      %li= link_to t('menu.birds_ukraine'), country_path(country: 'ukraine')

      %li= link_to t('menu.gallery'), gallery_path

      %li= link_to t('menu.map'), map_path

      %li= link_to t('menu.lifelist'), lists_overview_path

      %li.trans-menu
        = link_to t('menu.russian'), root_path, lang: nil, hreflang: :ru, class: "translation"
