%nav.main-menu

  %ul

    %li= link_to t('menu.blog'), blog_path

    %li= link_to t('menu.birds_ukraine'), country_path(country: 'ukraine')

    %li= link_to t('menu.gallery'), gallery_path

    %li= link_to t('menu.map'), map_path

    %li= link_to t('menu.lifelist'), lists_path

    %li= link_to t('menu.links'), page_path(:links)

    %li.trans-menu
      = link_to t('menu.english'), localized_root_path(locale: :en), lang: :en, hreflang: :en