-# frozen_string_literal: true
- new_species = flat_section.lifer_species_ids
- flat_section.species.ordered_by_taxonomy.if_present do |spcs|
  %h3
    = t('.title')
    - arr = [spcs.size]
    - arr << "#{t(".including")} #{new_species.size} #{t("lifelist.stats.new_count_species", count: new_species.size)}" if !new_species.empty?
    = surround '(', ')' do
      = arr.join(", ")
  %p
    
    = (spcs.map { |sp| species_link_in_flat_section(sp, flat_section) }.join(",\n") << ".").html_safe
    
