- flat_section.species.if_present do |spcs|
- new_species = flat_section.new_species_ids
  %h3
    = t('.title')
    - arr = [spcs.size]
    - arr << "из них #{t('my_stats.index.new_count_species', count: new_species.size)}" if new_species.size > 0
    = surround '(', ')' do
      = arr.join(", ")
  %p
    = (spcs.map { |sp| species_link_in_flat_section(sp, flat_section) }.join(",\n") << ".").html_safe
