- semantic_form_for @species do |form|
  - form.inputs do
    = form.input :code, :label => 'Code'
    = form.input :name_sci, :label => 'Name Sci'
    = form.input :authority, :label => 'Authority'
    = form.input :name_en, :label => 'Name En'
    = form.input :name_ru, :label => 'Name Ru'
    = form.input :name_uk, :label => 'Name Uk'
    = form.input :index_num, :label => 'Index Num'
    = form.input :order, :label => 'Order'
    = form.input :family, :label => 'Family'
    = form.input :avibase_id, :label => 'Avibase id'
  = form.buttons
