- thumb = thumbnail_item(thumbnail.image)
- h = ImagesHelper::THUMBNAIL_HEIGHT
- w = (thumb.width * (h.to_f / thumb.height)).to_i

%figure.image_thumb{style: "width: #{w}px; height: #{h}px;"}
  = link_to image_tag(thumb.full_url,
                  alt: "[фото #{thumbnail.name}]", height: h, width: w),
        species_path(thumbnail)
  %figcaption.imagetitle{style: "width: #{w - 20}px;"}
    = link_to thumbnail.name, species_path(thumbnail)
    = name_sci(thumbnail)
