%h2 Editing species

= semantic_form_for @species do |form|
  = form.inputs do
    = form.input :code, :label => 'Code'
    = form.input :name_sci, :label => 'Scientific name', :input_html => {:disabled => true}
    = form.input :authority, :label => 'Authority'
    = form.input :name_en, :label => 'English name'
    = form.input :name_ru, :label => 'Russian name'
    = form.input :name_uk, :label => 'Ukrainian name'
    = form.input :order, :label => 'Order', :input_html => {:disabled => true}
    = form.input :family, :label => 'Family', :input_html => {:disabled => true}
    = form.input :avibase_id, :label => 'Avibase ID', :input_html => {:disabled => true}
    = form.input :index_num, :label => 'Index number', :input_html => {:disabled => true}
  = form.buttons
