- stylesheet 'forms'

- @page_title = "Editing #{@species.name_sci} / #{@species.name_en}"

%h1= page_header

= render 'admin/shortcuts' if current_user.admin?

= simple_form_for @species do |form|
  %div
    = form.input :name_sci, :label => 'Scientific name', :input_html => {:disabled => true}, :input_html => {:class => 'larger'}
    = form.input :code, :input_html => {:class => 'short larger'}
  %div
    = form.input :protonym
    = form.input :authority
  %div
    = form.input :name_en, :label => 'English name'
    = form.input :name_fr, :label => 'French name'
  %div
    = form.input :name_ru, :label => 'Russian name'
    = form.input :name_uk, :label => 'Ukrainian name'
  %div
    = form.input :order, :input_html => {:disabled => true}
    = form.input :family, :input_html => {:disabled => true}
  %div
    = form.input :avibase_id, :label => 'Avibase ID', :input_html => {:disabled => true}
    = form.input :index_num, :label => 'Index number', :input_html => {:disabled => true, :size => 10, :type => :text }
  .buttons
    = default_submit_button(form)
