-# frozen_string_literal: true
- stylesheet 'forms'

- @page_title = @species.persisted? ? "Editing #{@species.name_sci} / #{@species.name_en}" : "Create species"

%h1= page_header

= render 'admin/shortcuts' if current_user.admin?

- if notice
  %p#notice= notice

= simple_form_for @species do |form|
  %div
    = form.input :code, input_html: {class: 'short larger'}
    = form.input :legacy_code, input_html: {class: 'short', disabled: (@species.legacy_code != @species.code)}
  %div
    = form.input :name_sci, label: 'Scientific name', input_html: {class: 'larger'}
    = form.input :index_num, label: 'Index number', input_html: {disabled: @species.persisted?, size: 10, type: :text }
  %div
    -#= form.input :protonym
    = form.input :authority
    = form.input :name_en_overwritten, label: "Overwritten English name"
  %div
    = form.input :name_en, label: 'English name'
    = form.input :name_fr, label: 'French name'
  %div
    = form.input :name_ru, label: 'Russian name'
    = form.input :name_uk, label: 'Ukrainian name'
  %div
    = form.input :order, input_html: {disabled: @species.persisted?}
    = form.input :family, input_html: {disabled: @species.persisted?}
  %div
    = form.input :needs_review
  -#%div
  -#  = form.input :avibase_id, label: 'Avibase ID'
  -#  = link_to @species.avibase_id, avibase_species_url(@species.avibase_id) if @species.avibase_id.present?

  .buttons
    = default_submit_button(form)
