-# frozen_string_literal: true
- @body_class = 'wider'

- @page_title = t(".window_title")
- @page_header = t(".title")
- @meta_description = t(".meta_description")

- content_for :translated do
  = render 'partials/translated'

- cache(admin: current_user.admin?, key: Quails::CacheKey.gallery) do

  %div.header-with-subheader
    %h1.over-header
      = page_header
    %ul.subheader-menu
      %li= link_to(t("countries.gallery.title.ukraine"), country_path(country: 'ukraine'))
      %li= link_to(t("countries.gallery.title.united_kingdom"), country_path(country: 'united_kingdom'))
      %li= link_to(t("countries.gallery.title.usa"), country_path(country: 'usa'))
      %li= link_to(t("countries.gallery.title.canada"), country_path(country: 'canada'))
      %li= link_to t('menu.videos'), {action: 'index', controller: 'videos'}
      %li= link_to t('menu.photos'), {action: 'index', controller: 'images'}
      = render "partials/feed_list_item"


  - thumbnails = @species.thumbnails
  - multi_sp_image = Image.multiple_species.first
  - if multi_sp_image
    - thumbnails << Thumbnail.new(photos_multiple_species_path, t('images.multiple_species.title'), multi_sp_image)

  %div.thumbnails
    = render_justified thumbnails
