- @page_title = t(".title")

%div.header-with-subheader
  %h1.over-header= page_header
  %div.subheader-menu
    &bull;
    = link_to(t("countries.gallery.title.ukraine"), country_path(country: 'ukraine'))
    &bull;
    = link_to(t("countries.gallery.title.usa"), country_path(country: 'usa'))
    &bull;
    = link_to t('menu.photos'), images_path

%ul.thumbnails
  = render :partial => 'thumbnail', :collection => @species

  - if @thumbnail_for_various
    %li.imageholder
      = link_to image_tag(thumbnail_url(@thumbnail_for_various), alt: "Photos of several species"), photos_various_path
      %div.imagetitle
        = link_to photos_various_path do
          %div Photos of several species
