-# frozen_string_literal: true
-# no_viewport is for very wide pages, e.g. with table
- @no_viewport = true
- @body_class = 'wider'

- @js_features = [:admin_instant_search]

- provide :add_shortcuts do
  %li= link_to "Taxa", taxa_path
  %li= link_to "EBird Taxa", ebird_taxa_path
  %li= link_to "Species redirects", synonyms_species_index_path
  %li= link_to "Splits", splits_species_index_path

- @page_title = 'Species'

%h1= page_header

= render 'admin/shortcuts' if current_user.admin?

= render partial: "partials/admin_instant_search", locals: {url: admin_species_index_path}

.instant_search_container
  = render "species/table"
