%h2 Listing species

%table
  %tr
    %th view
    %th Code
    %th Scientific name
    %th Authority
    %th English
    %th Russian
    %th Ukrainian
    %th Order
    %th Family
    %th Avb

  - @species.each do |species|
    %tr
      %td= link_to species.index_num, species
      %td= species.code
      %td= link_to species.name_sci, edit_species_path(species)
      %td= species.authority
      %td= species.name_en
      %td= species.name_ru
      %td= species.name_uk
      %td= species.order
      %td= species.family
      %td= link_to species.avibase_id[0..3] + '…', avibase_species_url(species.avibase_id)

%br

-#= link_to 'New species', new_species_path
