- @page_title = 'Listing species'

%h2 Listing species

%table.neat_table
  %tr
    %th.align-right No
    %th.align-center Code
    %th Scientific name
    %th Authority
    %th Protonym
    %th Names
    %th.align-right Avibase id
    
  - @families.each do |fam|
    %tr
      %td
      %td
      %td{:colspan => 5}
        %h3= "#{fam[:order].upcase}: #{fam[:name]}"
    - fam[:species].each do |species|
      %tr
        %td.align-right= species.index_num
        %td.align-center= species.code
        %td= link_to species.name_sci, show_path_helper(species)
        %td= species.authority
        %td= species.protonym
        %td= %w(en ru uk).map{|lang| "#{lang}: #{species.send('name_'+lang)}"}.join('<br />').html_safe
        %td.align-right= link_to species.avibase_id, avibase_species_url(species.avibase_id)

%br
