- @page_title = 'Lifelist'

%h2 Lifelist

- unless @years.blank?
  %ul#years-filter.horiz-list.filter-list
    %strong Years:
    - @years.each do |year|
      %li= link_to_unless_current(year || 'All', params.merge(:year => year))

- if @species.blank?
  %p No species observed.
- else
  %table#lifelist.neat_table
    - @species.inject(@species.size) do |i, sp|
      %tr
        %td.align-right= "#{i}."
        %td= species_link(sp)
        %td= name_sci(sp)
        %td.align-right= l(Date.parse(sp.mind), :format => :long)
      - i -= 1
