- stylesheet 'forms'

- @page_title = "Review #{@species.name_sci}"

%h1= page_header

- if @species.reviewed?
  %p
    %b This species is reviewed
- else
  %p.errors This species is not reviewed

%p
  Avibase:
  = link_to @species.avibase_id, avibase_species_url(@species.avibase_id)

.reviewForms

  = simple_form_for @species do |form|
    - %w(name_sci name_en name_ru name_uk).each do |attr|
      = form.input attr

  - @books.each do |book, taxon|
    %b= book.name

    = simple_form_for [book, taxon] do |form|
      - %w(name_sci name_en name_ru name_uk).each do |attr|
        = form.input attr, label: false,
              wrapper_html: {class: (taxon.send(attr) != @species.send(attr)) ? 'mismatch' : nil}

  - base_class = [:input, :string]

  - if @legacy
    %b Legacy
    %form.simple_form
      - %w(name_sci name_en name_ru name_uk).each do |attr|
        - div_class = base_class.dup
        - div_class << [:mismatch] if @legacy.send(attr) != @species.send(attr)
        = content_tag(:div, class: div_class) do
          = text_field_tag(nil, @legacy.send(attr), class: 'string')

  - if @next_species
    = link_to review_species_path(@next_species) do
      Skip to the next species (#{@next_species.name_sci}) &gt;&gt;
