- @page_title = "#{@species.name} (#{@species.name_sci})"

%p
  Order
  %b= @species.order
  \/ Family
  %b= @species.family

%h1= @species.name
%h2= @species.name_sci

%p= @species.authority

%p
  = %w(en fr ru uk).map {|lang| "<b>#{lang} name:</b> #{@species.send("name_#{lang}".intern)}"}.join('; ').html_safe

= render 'admin/shortcuts' if current_user.admin?

- images = @species.images.all
- unless images.empty?
  %section.photos
    %h3 Images
    = render :partial => 'images/thumbnail', :collection => images