%h2= @species.name_sci

%p
  %b Code:
  = @species.code
%p
  %b Authority:
  = @species.authority
%p
  %b Protonym:
  = @species.protonym
%p
  %b English name:
  = @species.name_en
%p
  %b Russian name:
  = @species.name_ru
%p
  %b Ukrainian name:
  = @species.name_uk
%p
  %b Index number:
  = @species.index_num
%p
  %b Order:
  = @species.order
%p
  %b Family:
  = @species.family
%p
  %b Avibase ID:
  = link_to @species.avibase_id, avibase_species_url(@species.avibase_id)
