- @page_title = "#{@species.name} (#{@species.name_sci})"

- if current_user.admin?
  - javascript 'species_image'
  = render 'admin/shortcuts'

%p
  = t("taxonomy.order")
  %strong= t("taxonomy.#{@species.order}") rescue nil
  %i.sci_name= @species.order
  &bull;
  = t("taxonomy.family")
  %strong= t("taxonomy.#{@species.family}") rescue nil
  %i.sci_name= @species.family

%div.header-with-subheader
  %h1= @species.name
  %h2.latin= @species.name_sci
  %span.authority= @species.authority

%dl.sp_translations
  - %w(en uk fr).map do |lang|
    - if (trans_name = @species.send("name_#{lang}")).present?
      %div
        %dt= t("languages.#{lang}")
        %dd= trans_name

- if (similar = @species.similar_species).present?
  %div.similar_species
    %h3= t('.sections.similar_species')
    %ul
      - similar.each do |sp|
        %li= species_link(sp)

- @species.ordered_images.if_present do |images|
  %div.photos
    %h3= t('.sections.photos')
    %div.thumbnails
      = render images.map(&:to_thumbnail)
      - if current_user.admin?
        = simple_form_for @species do |form|
          = form.input :image_id, as: :hidden
        %p
          %span.pseudolink.edit_main_image Edit main image

- @posts.if_present do |posts|
  %h3= t('.sections.posts')
  %ul
    - posts.each do |post|
      %li= post_link(post.formatted.title, post)

- if @species.observations.any?
  %h3= t('.sections.stats')
  %p
    = t('.total_observations')
    %strong= @species.observations.count

  %h4= t('.sections.monthly')
  %table.monthly
    %tr
      - 1.upto(12) do |m|
        - month_class, tag = @months.include?(m.to_s) ? ["seen_this_month", :strong] : [nil, :span]
        %td{class: month_class}= content_tag(tag, RomanNumerals.to_roman(m))
