-# frozen_string_literal: true
- @meta_thumbnail = url_for(thumbnail_item(@species.image).url) if @species.image

- @canonical = localize_url(@species)

- @page_title = "#{@species.name} (#{@species.name_sci})"
- @meta_description = t(".meta_description", name: @species.name, name_sci: @species.name_sci)

- if current_user.admin?
  - javascript 'species_image'
  - content_for :add_shortcuts do
    %li
      Code:
      %b= @species.code
  = render 'admin/shortcuts'

- content_for :translated do
  = render 'partials/translated'

%p.taxonomy
  = t("taxonomy.order")
  %strong= t("taxonomy.#{@species.order}", default: "")
  %span.sci_name{lang: "la"}= @species.order
  &bull;
  = t("taxonomy.family")
  %strong= t("taxonomy.#{@species.family}", default: "")
  %span.sci_name{lang: "la"}= @species.family

%div
  %h1.species_name_h1= @species.name
  %h2.latin{lang: "la"}= @species.name_sci
  -#%span.authority= @species.authority

%div.sp_row_with_image

  - if @species.image
    %div.two_thirds
      %div.image_canvas
        = link_to localized_image_path(id: @species.image) do
          = image_tag(jpg_url(@species.image), alt: @species.name)

  %div{class: @species.image ? "one_third" : nil}
    %dl.sp_translations
      - species_name_locales.map do |lang|
        - if (trans_name = @species.public_send("name_#{lang}")).present?
          %div
            %dt= t("languages.#{lang}")
            %dd{lang: lang}= trans_name

    - supersp = @species.superspecies
    - subsp = @species.subspecies
    - if @species.url_synonyms.present? || supersp.present? || subsp.present?
      %div.sp_synonyms
        - name_synonyms = @species.url_synonyms.select {|s| s.reason.blank? }
        - if name_synonyms.present?
          = t(".species_synonyms")
          %ul
            - name_synonyms.each do |syn|
              %li
                %i= syn.name_sci
        - splits = @species.url_synonyms.select {|s| s.reason == "split" }
        - if splits.present?
          = t(".splits_synonyms")
          %ul
            - splits.each do |syn|
              %li
                %i= syn.name_sci
        - lumps = @species.url_synonyms.select {|s| s.reason == "lump" }
        - if lumps.present?
          = t(".lumps_synonyms")
          %ul
            - lumps.each do |syn|
              %li
                %i= syn.name_sci
        - if supersp.present?
          = t(".split_from_another_sp")
          %ul
            - supersp.each do |ssp|
              %li
                = species_link(ssp)
                = name_sci(ssp)
        - if subsp.present?
          = t(".species_split_from_this")
          %ul
            - subsp.each do |ssp|
              %li
                = species_link(ssp)
                = name_sci(ssp)

.cf

- @species.the_rest_of_images.observed_order.if_present do |images|
  %a{name: 'photos'}
  %div.photos
    %h3= t('.sections.photos')
    %div.thumbnails
      = render_justified images.map(&:to_thumbnail)
      - if current_user.admin?
        - @species.build_species_image unless @species.image
        = simple_form_for @species, format: :json, remote: true do |form|
          = form.simple_fields_for :species_image do |f2|
            = f2.input :image_id, as: :hidden
        %p
          %span.pseudolink.edit_main_image Edit main image

- @species.videos.if_present do |videos|
  %a{name: 'videos'}
  %div.videos
    %h3= t('.sections.videos')
    = render videos.map(&:small), video_resizable: true

- if !@species.observations.empty?
  %a{name: 'observations'}
  %h3= t('.sections.stats')
  %p
    = t('.total_observations')
    %strong= @species.observations.size

  - grouped_loci = @species.grouped_loci

  - span_size = grouped_loci.size == 1 ? 'span_1' : 'span_2'

  %div.fluid-row.obs_maps

    - grouped_loci.each do |country, loci|
      %div{class: "fluid-column #{span_size}"}
        = species_map(country, loci)
        %table.monthly
          %tr
            - 1.upto(12) do |m|
              - month_class, tag = @months[country].include?(m) ? ["seen_this_month", :strong] : [nil, :span]
              %td{class: month_class, title: t('date.month_names')[m]}= content_tag(tag, RomanNumerals.to_roman(m))

- unless blogless_locale?
  - @posts.if_present do |posts|
    %h3= t('.sections.posts')
    %ul
      - posts.each do |post|
        %li= post_link(post.decorated.title, post)
