- @page_title = "#{@species.name} (#{@species.name_sci})"

%p
  Order
  %b= @species.order
  \/ Family
  %b= @species.family

%h1= @species.name
%h2= @species.name_sci

%p= @species.authority

%dl
  - %w(en fr ru uk).map do |lang|
    %dt
      %b #{lang} name:
    %dd #{@species.send("name_#{lang}")}

= render 'admin/shortcuts' if current_user.admin?

- @species.images.if_present do |images|
  %div.photos
    %h3 Images
    = render :partial => 'images/thumbnail', :collection => images
