- @page_title = "#{@species.name_sci} / #{@species.name_en}"

%h1= name_sci(@species)

= render 'admin/shortcuts' if current_user.admin?

%p
  %b Code:
  = @species.code
%p
  %b Authority:
  = @species.authority
%p
  %b Protonym:
  = @species.protonym
%p
  %b English name:
  = @species.name_en
%p
  %b French name:
  = @species.name_fr
%p
  %b Russian name:
  = @species.name_ru
%p
  %b Ukrainian name:
  = @species.name_uk
%p
  %b Index number:
  = @species.index_num
%p
  %b Order:
  = @species.order
%p
  %b Family:
  = @species.family
%p
  %b Avibase ID:
  = link_to @species.avibase_id, avibase_species_url(@species.avibase_id)

- images = @species.images.all
- unless images.empty?
  %section.photos
    %h3 Images
    = render :partial => 'images/thumbnail', :collection => images