%table.admin_panel
  %tr
    %td
      %h6= link_to_unless_current 'home', root_path
    %td
      - if ['edit', 'update'].include?(action_name) && controller.respond_to?(:show)
        %h5= link_to 'Show this one', show_path_helper
      - elsif action_name == 'show' && controller.respond_to?(:edit)
        %h5= link_to 'Edit this one', edit_path_helper
      - if controller.respond_to?(:new)
        %h6= link_to 'Create new', new_path_helper
      - if action_name != 'index' && controller.respond_to?(:index)
        %h6= link_to 'Index', index_path_helper
    %td
      %h6= link_to_unless_current 'Species', species_index_path
      %h6= link_to_unless_current 'Locations', locus_index_path
      %h6= link_to_unless_current 'Observations', observations_path
    %td
      &nbsp;