- unless admin_layout? || controller_name == 'maps'
  = cache :banners_footer do
    %div.banners_footer
      - if Birdingtop.configured?
        %div.banner_holder.birdingtop_holder
          = render_service_code(Birdingtop)
      %div.banner_holder.ebird_banner
        = link_to "https://ebird.org/ebird/profile/MjEzNjU4/world", class: "img", target: "_blank", rel: "me nofollow" do
          .inner
            = image_tag("ebird-logo.png", width: "45%", alt: "eBird")
            %div profile
      %div.banner_holder.fb_banner
        = link_to "https://www.facebook.com/Birdwatchorgua-129929083830909/", class: "img", target: "_blank", rel: "nofollow" do
          .inner
            facebook community
      %div.banner_holder.flickr_banner
        = link_to "https://www.flickr.com/photos/phenolog/", class: "img", target: "_blank", rel: "me nofollow" do
          .inner
            My Flickr
