-# frozen_string_literal: true

= javascript_include_tag("early")

- packs = @packs.try(:compact) || []
= javascript_pack_tag *packs.unshift('visitor')
= stylesheet_pack_tag 'visitor', media: "all"

-# styles
= stylesheet_link_tag(*@stylesheets.compact, media: "all") if @stylesheets.present?

-# scripts
- scripts = @scripts.try(:compact) || []
= javascript_include_tag(*scripts.unshift("application"))
