-# frozen_string_literal: true
-# packs
- packs = @packs.try(:compact) || []
= javascript_packs_with_chunks_tag *packs.unshift('visitor')
= stylesheet_packs_with_chunks_tag 'visitor', media: "all"

-# styles
= stylesheet_link_tag(*@stylesheets.compact, media: "all") if @stylesheets.present?

-# scripts
- scripts = @scripts.try(:compact) || []
= javascript_include_tag(*scripts.unshift("application"))

-# enable HTML5 and media queries in IE
-# html5shiv and respond.js should be included after any stylesheets!
/[if lt IE 9]
  = javascript_include_tag "ie_fix"
