-# frozen_string_literal: true

- packs = @packs&.compact || []
- scripts = @scripts&.compact || []

-# 1. Early is first, because it declared jQuery which may be used by webpacked scripts
= javascript_include_tag("early")
-# 2. Packs declare keypress.js that may be used by other scripts
= javascript_pack_tag *packs.unshift('visitor')
-# 3. The rest of the scripts
= javascript_include_tag(*scripts.unshift("application"))

-# Visitor should be first, because some styles can use bootstrap classes
= stylesheet_link_tag 'visitor', media: "all"
= stylesheet_link_tag(*@stylesheets.compact, media: "all") if @stylesheets.present?
