-# frozen_string_literal: true

-# Early is first, because it declared jQuery which may be used by other scripts
= javascript_include_tag "early"
= javascript_include_tag "visitor"
= javascript_include_tag "application"
= javascript_include_tag(*@scripts&.compact || [])

-# Visitor should be first, because some styles can use bootstrap classes
= stylesheet_link_tag 'visitor', media: "all"
= stylesheet_link_tag(*@stylesheets.compact, media: "all") if @stylesheets.present?
