- @admin_menu = render 'admin/menu' if current_user.admin?

#header
  = link_to_or_span('logo', root_path, :id => 'site_cap')

  %ul#site_menu.horiz-list
    %li= link_to_or_span 'Blog', blog_path
    %li= link_to_or_span 'Photos', photostream_path
    %li= link_to_or_span 'Lifelist', lifelist_path

  = @admin_menu if current_user.admin?