- @admin_menu = render 'admin/menu' if admin_session?

#header
  %p#site_cap= link_to_unless_current request.host, root_path

  %ul#site_menu.horiz-list
    %li= link_to_or_span 'Blog', blog_path
    %li= link_to_or_span 'Photos', photostream_path
    %li= link_to_or_span 'Lifelist', lifelist_path

  = @admin_menu if admin_session?