- @admin_menu = render 'admin/menu' if current_user.admin?

#header
  = link_to_or_span('logo', root_path, :id => 'site_cap')

  %ul#site_menu.horiz-list
    %li= link_to_or_span t('.menu.blog'), blog_path
    %li= link_to_or_span t('.menu.photos'), photostream_path
    %li= link_to_or_span t('.menu.checklist'), checklist_path(slug: 'ukraine')
    %li= link_to_or_span t('.menu.lifelist'), lifelist_path

  - if current_user.admin?
    = @admin_menu
  - elsif current_user.has_admin_cookie?
    %ul.admin_box
      %li= link_to 'Login', login_path
