- provide(:admin_menu) do
  = render 'admin/menu'

#header
  = yield :admin_menu

  - cache :navigation_header do

    = link_to(image_tag('/img/logo.png'), root_path, :id => 'site_cap')

    %ul#site_menu.horiz-list(role="navigation")
      %li
        = link_to t('.menu.blog'), blog_path
        %ul
          %li= link_to t('.menu.archive'), archive_path

      %li
        = link_to t('.menu.birds_ukraine'), birds_ukraine_path
        %ul
          %li= link_to t('.menu.checklist'), checklist_path(slug: 'ukraine')

      %li
        = link_to t('.menu.galery'), gallery_path
        %ul
          %li= link_to t('.menu.photos'), images_path

      %li
        = link_to t('.menu.my_stats'), my_stats_path
        %ul
          %li= link_to t('.menu.lifelist'), lifelist_path
