-# frozen_string_literal: true
#header

  = render 'admin/menu'

  #userheader

    = render_service_code(GoogleSearch)

    #search-ui-front

    #menucontainer

      - cache [:navigation_header, locale: I18n.locale] do

        -#= link_to(image_tag('/img/logo.png'), root_path, :id => 'site_cap')

        %ul#site_menu.horiz-list(role="menubar")

          %li(role="menuitem")= link_to t('menu.home'), localized_root_path

          %li(role="menuitem")= link_to t('menu.birds_ukraine'), country_path(country: 'ukraine')

          %li(role="menuitem")= link_to t('menu.gallery'), gallery_path

          %li(role="menuitem")= link_to t('menu.map'), map_path

          %li(role="menuitem")= link_to t('menu.lifelist'), lists_overview_path

          %li(role="menuitem" class="trans-menu")
            = link_to t('menu.russian'), root_path(locale: nil), lang: :ru, hreflang: :ru
