<div id="cse-wrapper" data-search-url="<%= search_localized_species_index_path(format: :json) %>" data-fallback-text="<%= t(".fallback_text") %>">
<form action="<%= google_search_form_url %>" id="cse-search-box">
  <%- if google_cse %>
    <input name="cx" type="hidden" value="<%= google_cse %>" />
  <%- else %>
    <input name="as_sitesearch" type="hidden" value="birdwatch.org.ua" />
  <%- end %>
    <input name="ie" type="hidden" value="UTF-8" />
    <input name="q" id="cse-query-box" autocomplete="off" />
    <input name="sa" type="submit" value="<%= t(".search_button") %>" id="cse-submit" />
</form>
</div>
