-# frozen_string_literal: true
%ul.horiz-list#site_menu(role="menubar")
  %li(role="menuitem")= link_to t('menu.home'), root_path

  %li(role="menuitem")= link_to t('menu.birds_ukraine'), country_path(country: 'ukraine')

  %li(role="menuitem")= link_to t('menu.gallery'), localized_images_path

  %li(role="menuitem")= link_to t('menu.map'), map_path

  %li(role="menuitem")= link_to t('menu.lifelist'), lists_overview_path

  %li(role="menuitem" class="trans-menu")
    = link_to t('menu.ukrainian'), root_path(locale: nil), lang: :uk, hreflang: :uk
