-# frozen_string_literal: true
%ul.horiz-list#site_menu(role="menubar")
  %li(role="menuitem")= link_to t('menu.blog'), blog_path

  %li(role="menuitem")= link_to t('menu.birds_ukraine'), country_path(country: 'ukraine')

  %li(role="menuitem")= link_to t('menu.gallery'), images_path

  %li(role="menuitem")= link_to t('menu.map'), map_path

  %li(role="menuitem")= link_to t('menu.lifelist'), lists_overview_path

  %li(role="menuitem")= link_to t('menu.links'), links_path

  %li(role="menuitem" class="trans-menu")
    = link_to t('menu.english'), root_path(locale: :en), lang: :en, hreflang: :en
