- @page_title = "Моя статистика"

- provide :the_newest_species do
  Самый новый вид:
  = species_link(@newest_species)
  = surround '(', ')' do
    %time= l(@newest_species.first_seen_date, :format => :long)

%h1= @page_title

%h2 Списки

%ul
  %li= link_to('Lifelist', lifelist_path)
  %li= link_to('Ukraine list', list_path(locus: 'ukraine'))
  %li= link_to('USA list', list_path(locus: 'usa'))

%ul
  %li
    Я начал наблюдать птиц в августе 2007 года
  %li
    Всего я встречал #{link_to(@total, lifelist_path)} видов
  %li
    Из них #{link_to(@species_ukraine, list_path(locus: 'ukraine'))} на территории Украины

%h2 В 2013 году

%ul
  %li
    Я встретил #{link_to(@species_this_year, list_path(year: 2013))} видов
  - if @new_this_year == 0
    %li Пока ни одного нового
  - else
    %li Из них #{@new_this_year} новых
    %li= content_for :the_newest_species

%h2 Рекорды

%ul
  %li
    Год, в котором встречено больше всего видов:
    #{@year_with_max_species.sp_count} в #{@year_with_max_species.year} году

  %li
    Месяц года, когда было встречено больше всего видов:
    = t('date.standalone_month_names')[@month_year_with_max_species.month.to_i]
    = @month_year_with_max_species.year
    (#{@month_year_with_max_species.sp_count})

  %li
    Месяц, в котором встречено больше всего видов:
    = t('date.standalone_month_names')[@month_with_max_species.month.to_i]
    (#{@month_with_max_species.sp_count})

  %li
    День, в который встречено больше всего видов:
    = l(Date.parse(@day_with_max_species.observ_date), format: :long)
    (#{@day_with_max_species.sp_count})

  %li
    День, в который встречено больше всего новых видов:
    = l(Date.parse(@day_with_max_new_species.observed_at), format: :long)
    (#{@day_with_max_new_species.sp_count})

%h2 Виды

%ul
  -# If latest new species is seen this year it will be shown in the appropriate section, otherwise here
  - if @new_this_year == 0
    %li= content_for :the_newest_species

  %li
    Самый давно не встречаемый вид:
    = species_link(@oldest_species)
    = surround '(', ')' do
      %time= l(@oldest_species.last_seen_date, :format => :long)

  %li
    Чаще всего встречаемый вид:
    = species_link(@most_often_species)
    = surround '(', ')' do
      = @most_often_species.times_seen

  %li
    #{@sp_met_once} видов встречены всего однажды
