- @page_title = "Моя статистика"

%h1= @page_title

%h2 Списки

%ul
  %li= link_to('Lifelist', lifelist_path)
  %li= link_to('Ukraine list', list_path(locus: 'ukraine'))
  %li= link_to('USA list', list_path(locus: 'usa'))

%ul
  %li
    Я начал наблюдать птиц в августе 2007 года
  %li
    = raw "Всего я встречал #{link_to(@total, lifelist_path)} видов"
  %li
    = raw "Из них #{link_to(@species_ukraine, list_path(locus: 'ukraine'))} на территории Украины"

%h2 В 2013 году

%ul
  %li
    = raw "Я встретил #{link_to(@species_this_year, list_path(year: 2013))} видов"
  %li
    = raw "Из них #@new_this_year новых"
  %li
    Самый новый вид:

%h2 Рекорды

%ul
  %li
    Год, в котором встречено больше всего видов
  %li
    Год, в котором встречено больше всего видов
  %li
    Месяц, в котором встречено больше всего видов
  %li
    День, в который встречено больше всего видов
  %li
    День, в который встречено больше всего новых видов

%h2 Виды

%ul
  %li
    Самый давно не встречаемый вид
  %li
    Чаще всего встречаемый вид
  %li
    ХХ видов встречены всего однажды
