- @page_title = "Моя статистика"

- @robots = 'NOINDEX'


%div.header-with-subheader
  %h1= @page_title

  %ul.subheader-menu
    %li= link_to('Lifelist', lifelist_path)
    %li= link_to('Список Украины', list_path(locus: 'ukraine'))
    %li= link_to('Список США', list_path(locus: 'usa'))
    %li= link_to('Список Великобритании', list_path(locus: 'united_kingdom'))

%table.nice_stats

  - @year_data.each do |row|
    %tr
      %td.year= row.year
      %td.count_sp= row.count_species
      %td.count_sp_label
        = t('misc.species_count', count: row.count_species)
      - unless row.year == 2007
        %td.count_new
          = @first_sp_by_year[row.year]
        %td.count_new_label
          = t('my_stats.index.new_count_species', count: @first_sp_by_year[row.year])
      - else
        %td.count_new &mdash;
        %td


  %tr.total
    %td.year всего
    %td.count_sp= @total
    %td.count_sp_label
      = t('misc.species_count', count: @total)
    %td
    %td

- day_with_max_species = Date.new(2012, 6, 28)
- max_species_for_day = 60

- day_with_max_new_species = Date.new(2010, 8, 14)
- max_new_species_for_day = 15

%table.nice_stats
  %tr
    %th{colspan: 4}
      %h2 Рекорды:

  %tr
    %td.day= l(day_with_max_species, format: :long)
    %td.place с. Литочки и г. Бровары, Киевская область, Украина
    %td.count_sp= max_species_for_day
    %td.count_sp_label= t('misc.species_count', count: max_species_for_day)

  %tr
    %td.day= l(day_with_max_new_species, format: :long)
    %td.place Jamaica Bay Wildlife Refuge, New York City, USA
    %td.count_new= max_new_species_for_day
    %td.count_new_label
      = t('my_stats.index.new_count_species', count: max_new_species_for_day)
      = t('misc.species_count', count: max_new_species_for_day)
