-# no_viewport is for very wide pages, e.g. with table
- @no_viewport = true

- @special_styling = true

- @page_title = "Моя статистика"

- @robots = 'NOINDEX'


%div.header-with-subheader
  %h1= @page_title

  %ul.subheader-menu
    %li= link_to('Lifelist', lifelist_path)
    %li= link_to('Список Украины', list_path(locus: 'ukraine'))
    %li= link_to('Список США', list_path(locus: 'usa'))
    %li= link_to('Список Великобритании', list_path(locus: 'united_kingdom'))

- cache(key: CacheKey.lifelist) do

  - first_sp_by_year = @first_sp_by_year.count(:all)
  - grouped_by_year_and_country = @grouped_by_year_and_country.count_distinct_species
  - grouped_by_country = @grouped_by_country.count_distinct_species

  %table.nice_stats

    - @year_data.count_distinct_species.each do |year, count_species|
      %tr
        %td.year= year
        - unless year == 2007
          %td.count_new
            - new_sp = first_sp_by_year[year.to_i]
            - if new_sp && new_sp > 0
              %small{title: "Новых добавлено к списку"}
                = link_to advanced_list_path(anchor: "first_seen_#{year}") do
                  = precede '+' do
                    =  new_sp

        %td.count_sp{colspan: (year == 2007 ? 2 : 1)}
          - if year == 2007
            %small встречено видов:
          = link_to count_species, list_path(year: year)

        %td.countries
          %ul
            - @countries.each do |c|
              - count = grouped_by_year_and_country[[year, c.id]]
              - if count
                %li{class: c.slug}
                  = succeed ':' do
                    = c.name_ru
                  %span.count= link_to count, list_path(year: year, locus: c.slug)

    %tr.total
      %td.year всего
      %td
      %td.count_sp= link_to MyObservation.count_distinct_species, lifelist_path
      %td.countries
        %ul
          - @countries.each do |c|
            %li{class: c.slug}
              = succeed ':' do
                = c.name_ru
              %span.count= link_to grouped_by_country[c.id], list_path(locus: c.slug)

  - day_with_max_species = Date.new(2012, 6, 28)
  - max_species_for_day = 60

  - day_with_max_new_species = Date.new(2010, 8, 14)
  - max_new_species_for_day = 15

  %table.nice_stats
    %tr
      %th{colspan: 4}
        %h2 Рекорды:

    %tr
      %td.day= l(day_with_max_species, format: :long)
      %td.place с. Литочки и г. Бровары, Киевская область, Украина
      %td.count_sp= max_species_for_day
      %td.count_sp_label= t('misc.species_count', count: max_species_for_day)

    %tr
      %td.day= l(day_with_max_new_species, format: :long)
      %td.place Jamaica Bay Wildlife Refuge, New York City, USA
      %td.count_new= max_new_species_for_day
      %td.count_new_label
        = t('my_stats.index.new_count_species', count: max_new_species_for_day)
        = t('misc.species_count', count: max_new_species_for_day)
