= simple_form_for(@video) do |f|
  = f.error_notification

  .form-inputs
    = f.input :slug
    = f.input :title
    = f.input :url
    = f.input :description

  .form-actions
    = f.button :submit
