-# frozen_string_literal: true
%h2= link_to video.decorated.title, localize_path(video)

%ul.species_under_video
  - video.species.each do |sp|
    %li
      %b= species_link(sp)
      = name_sci(sp)

%p
  = succeed ', ' do
    %i<
      %time{datetime: video.observ_date.iso8601}= l(video.observ_date, format: :long)

  = succeed('.') do
    = video.decorated.public_locus_full_name

- if russian_locale?
  = video.decorated.description

= render video.small, video_resizable: true
