- stylesheet 'forms'

- @page_title = "#{new_or_edit_label(@video)} video"

%h1= page_header

-#- if @video.persisted?
-#  - provide :add_shortcuts do
-#    %li= link_to @video.mapped? ? 'Edit map' : '<b>MAP IT!</b>'.html_safe, action: :map_edit

= render 'admin/shortcuts' if current_user.admin?

= simple_form_for(@video) do |f|
  = f.error_notification

  .form-inputs
    = f.input :slug
    = f.input :title
    = f.input :url
    = f.input :description

  .form-actions
    = f.button :submit
