-# frozen_string_literal: true
-# @body_class = 'wider'

- @page_title = t(".window_title")
- @page_header = t(".title")

- @robots = 'NOINDEX'
- @feed = :photos

- content_for :translated do
  = render 'partials/translated'

%div.header-with-subheader
  %h1.over-header
    = page_header
  %ul.subheader-menu
    %li= link_to t('menu.gallery'), gallery_path
    = render "partials/feed_list_item"

- unless params[:page] || @videos.empty?
  %h3
    %i= t('images.index.last_updated', date: l(@videos.first.created_at.to_date, format: :long))

%div
  = render @videos

= paginate @videos
