- @page_title = 'Videos'

%h1= page_header

%table.neat_table
  %tr
    %th Slug
    %th Title
    %th Url
    %th Description
    %th
    %th
    %th

  - @videos.each do |video|
    %tr
      %td= video.slug
      %td= video.title
      %td= link_to 'YouTube', video.youtube_url
      %td= video.description
      %td= link_to 'Show', video
      %td= link_to 'Edit', edit_video_path(video)
      %td= link_to 'Destroy', video, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Video', new_video_path
