-# frozen_string_literal: true
-# @meta_thumbnail = thumbnail_item(@video).try(:url)
- @meta_description = @video.decorated.meta_description
- @canonical = localize_url(@video)
-# @og_type = 'birdwatchua:video'

- @page_header = @page_title = @video.decorated.title
-# @page_title = "#{@page_header} // #{t("countries.gallery.title.#{@video.locus.country.slug}")}"

- if notice
  %p#notice= notice

- provide :add_shortcuts do
  %li= link_to @video.mapped? ? 'Edit map' : '<b>MAP IT!</b>'.html_safe, action: :map_edit

= render 'admin/shortcuts' if current_user.admin?

- content_for :translated do
  = render 'partials/translated'

%h1= page_header

%ul.species_under_video
  - @video.species.each do |sp|
    %li
      %b= species_link(sp)
      = name_sci(sp)

= render @video.large

- # render 'social/buttons'

= render partial: "media/long_details", locals: {media: @video}

-#- if @video.multi?
-#  %nav= link_to(t(".more_photos_of_multiple_species"), photos_multiple_species_path)
