%p#notice= notice

%p
  %b Slug:
  = @video.slug
%p
  %b Title:
  = @video.title
%p
  %b Url:
  = @video.url
%p
  %b Description:
  = @video.description

= link_to 'Edit', edit_video_path(@video)
\|
= link_to 'Back', videos_path
