-# @body_class = 'wider'

- stylesheet 'public'
- @js_features = ['pjaxPagination']

- @page_title = 'Unmapped videos'

%h1= page_header

- @videos.each do |video|
  %h2= link_to video.formatted.title, localize_url(video)
  %p
    = succeed ', ' do
      %i<
        %time{datetime: video.observ_date.iso8601} #{l(video.observ_date, format: :long)}

    = succeed('.') do
      = video.formatted.public_locus_full_name

    %b= link_to "[MAP IT!]", edit_map_video_url(video)

= paginate @videos
