-# frozen_string_literal: true
- cache(key: CacheKey.checklist) do

  %table.neat_table.checklist_table

    - i = 0

    - @checklist.group_by_taxonomy do |order, family, species_list|
      %tr.family_row
        %td
        %td{:colspan => 3}
          %h2.order= render partial: 'species/taxonomy', locals: {rank: :order, value: order}
          %h3.family= render partial: 'species/taxonomy', locals: {rank: :family, value: family}

      - species_list.each do |species|
        %tr
          %td.align-right= i += 1
          %td.names
            %b= species_link(species.species)
            = name_sci(species.species)
          %td.status_marker
            - case species.status
            - when "-"
              %span.status-old{title: t('.status.old')} x
            - when "?"
              %span.status-unsure{title: t('.status.unsure')} ?
          %td.status_text
            = convert_status(species.notes)
            - species.reference.if_present do |ref|
              %small
                = surround("[", "]") do
                  %a{href: "##{ref}"}= ref
