- @page_title = t(".title.#{@country.slug}")

- cache(key: CacheKey.checklist) do

  = render 'partials/translated'

  %div.header-with-subheader
    %h1= page_header
    %ul.subheader-menu
      %li= link_to(t('menu.gallery'), country_path(country: @country.slug))
      - if I18n.russian_locale?
        %li= link_to("Зимующие птицы", show_page_path(:winter))

  = render "temp_checklist"
