-# frozen_string_literal: true
- @body_class = 'wider'
-# no_viewport is for very wide pages, e.g. with table
- @no_viewport = true

- @page_title = "Edit checklist for #{@country.name_en}"

%div.header-with-subheader
  %h1.over-header= page_header
  %ul.subheader-menu
    %li= link_to('Checklist', checklist_path(country: @country.slug))

%form{method: 'POST'}

  = token_tag

  %table.neat_table.checklist_table

    - i = 0

    - @checklist.group_by_taxonomy do |order, family, species_list|
      %tr.family_row
        %td
        %td{:colspan => 2}
          %h2.order= render partial: 'species/taxonomy', locals: {rank: :order, value: order}
          %h3.family= render partial: 'species/taxonomy', locals: {rank: :family, value: family}

      - species_list.each do |species|
        %tr
          %td.align-right= i += 1
          %td.names
            %b= species_link(species.species)
            = name_sci(species.species)
          %td.status_column
            = text_field_tag("s[][s]", species.status, size: 1)
            = hidden_field_tag("s[][id]", species.id)
            = text_area_tag("s[][n]", species.notes_ru, size: "100x2")
            = text_field_tag("s[][r]", species.reference)

  = submit_tag("Save", id: 'checklist_save')
