-# no_viewport is for very wide pages, e.g. with table
- @no_viewport = true

= render 'checklist'

%h2= t(".legend")
%p
  %span.status-old x
  = t('checklist.checklist.status.old')
%p
  %span.status-unsure ?
  = t('checklist.checklist.status.unsure')

%h2= t(".sources")

%dl
  %dt#checklist [checklist]
  %dd
    Grishchenko V.
    %a{href: 'http://aetos.narod.ru/selected/checklist.htm'} Checklist of the Birds of Ukraine
    \// Беркут. – 2004. – Т. 13, вип. 2. – С. 142–154.

  %dt#fesenko [fesenko]
  %dd
    Фесенко Г. В., Бокотей А. А. Анотований список українських наукових назв птахів фауни України (з характеристикою статусу видів). — Київ—Львів, 2007.

  %dt#raptors [raptors]
  %dd
    Ветров В.В., Гаврилюк М.Н., Домашевский С.В., Милобог Ю.В.
    %a{href: 'http://raptors.org.ua/ru/bp-status'} Статус хищных птиц Украины

  %dt#fieldguide [fieldguide]
  %dd
    Фесенко Г. В., Бокотей А. А. Птахи фауни України: польовий визначник. — К., 2002.
