-# frozen_string_literal: true
- stylesheet 'forms'

- @page_title = "#{@taxon.name_en} / #{@taxon.name_sci}"

%h1= page_header

= render 'admin/shortcuts' if current_user.admin?

- if notice
  %p#notice= notice

%dl
  - if @taxon.species
    %dt Species:
    %dd= species_link(@taxon.species, @taxon.species.name_sci)

  %dt Category
  %dd
    %span{class: "tag tag_#{@taxon.category}"}= @taxon.category

  %dt eBird code
  %dd= @taxon.ebird_code

  %dt Taxon concept id
  %dd= @taxon.taxon_concept_id

  %dt Order
  %dd
    = @taxon.order

  %dt Family
  %dd
    = @taxon.family

= simple_form_for [@book, @taxon] do |form|
  %div
    = form.input :name_sci, :label => 'Scientific name', :input_html => {:class => 'larger'}
    -#= form.input :authority
  %div
    = form.input :name_en, :label => 'English name'
    = form.input :name_ru, :label => 'Russian name'
    -#= form.input :name_uk, :label => 'Ukrainian name'
  %div
    -#= form.input :avibase_id, :label => 'Avibase ID'
    = form.input :index_num, :label => 'Index number', :input_html => {:disabled => true, :size => 10, :type => :text }
  .buttons
    = default_submit_button(form)
