-# frozen_string_literal: true
-# no_viewport is for very wide pages, e.g. with table
- @no_viewport = true
- @body_class = 'wider'

- @page_title = 'Taxonomic concepts'

- provide :add_shortcuts do
  %li= link_to "Species", admin_species_index_path
  %li= link_to "EBird Taxa", ebird_taxa_path

%h1= page_title

= render 'admin/shortcuts' if current_user.admin?

= render partial: "partials/admin_instant_search", locals: {url: taxa_path}

.instant_search_results
  = render "taxa/table"
