- @page_title = 'Pages'

%h1= page_header

= render 'admin/shortcuts' if current_user.admin?

%table.neat_table
  %tr
    %th Slug
    %th Title
    %th Meta
    %th

  - @pages.each do |page|
    %tr
      %td= link_to page.slug, edit_page_path(page)
      %td
        %b= link_to page.title, page_path(page.slug)
      %td= page.meta.to_hash
      %td= default_destroy_link(page)
