- @page_title = "Зимующие птицы Украины"
- @meta_thumbnail = "https://birdwatch.org.ua/photos/waxwings9311.jpg"
- @meta_description = "Краткое описание птиц, которых можно встретить зимой на территории Украины в районе Киева. Страница была создана в ранний период моего увлечения бердвочингом и с тех пор не обновлялась."

:css

  .winter_photo_table td p img {
    border: 1px solid #999999;
  }

  @media (max-width: 575.98px) {
    .winter_photo_table td {
      display: block;
    }

    .winter_photo_table td .flickr_subscr {
      display: block;
    }

    .winter_photo_table td:last-child {
      border-top: none;
    }

    .winter_photo_table td:first-child {
      padding-bottom: 0;
    }

    .winter_photo_table td:first-child p {
      margin-bottom: 0;
    }
  }

.container
  %header.simple-page-header
    %h1 Зимующие птицы Украины

  %div.alert.alert-danger.my-3
    %h6.alert-heading Архивная страница
    %p.mb-0
      Эта страница была создана, когда я был еще начинающим бердвочером, на основе моих собственных, весьма
      ограниченных наблюдений. Теперь ясно, что информация в ней неполна, а кое в чем может быть даже ошибочна.
      Тем не менее я вижу в ней некоторый исторический интерес. Изменения и уточнения вноситься
      не будут.

  %p Зимой главной целью птиц является поиск пищи и спасение от холодов. Многие виды отправляются «в теплые края». Для некоторых птиц севера такими теплыми краями является территория нашей страны. Также некоторые виды собираются в стаи и совершают кочевки, которые иногда выходят далеко за пределы гнездового ареала. Масштабы этих кочевок меняются из года в год, в зависимости от наличия пищи (урожая шишек, ягод и т. д.).
  %p Некоторые виды, которые гнездятся в Украине (например, синицы, ястребы), становятся гораздо заметнее жителям городов зимой, так как концентрируются там в поисках пищи.
  %p Наконец, даже среди перелетных птиц есть отдельные популяции или отдельные особи которые остаются зимовать,  найдя себе теплое место, часто антропогенного происхождения (например, теплые незамерзающие стоки различных предприятий).
  %p В таблице ниже я попытался собрать информацию о зимующих птицах в районе Киева, основываясь на литературе и собственных наблюдениях.
  %h2 Залетные зимующие виды
  %table.winter_photo_table.table
    %tbody
      %tr
        %td
          %p
            %img{:alt => "", :src => "https://farm9.staticflickr.com/8484/8222231500_bce84ac6be_q.jpg"}/
        %td
          %h3.h5
            %a.sp_link{:href => "/species/Regulus_regulus"} Желтоголовый королек
            %i.sci_name Regulus regulus
          %p Гнездится в Полесье, Карпатах и Крымских горах. Зимой кочует по всей территории Украины. Появляется довольно рано, обычен в хвойных лесах.
          %p
            %strong
              %em> Где искать
              \:
            леса, парки. Обычно держатся в кронах деревьев. Легко опознаются по голосу и приманиваются на голос.
            %br/
            %strong
              %em> Когда
              \:
            октябрь – апрель
      %tr
        %td
          %p
            %img{:alt => "", :src => "https://farm2.staticflickr.com/1123/3168417656_1468a5d498_q.jpg"}/
        %td
          %h3.h5
            %a.sp_link{:href => "/species/Pyrrhula_pyrrhula"} Снегирь
            %i.sci_name Pyrrhula pyrrhula
          %p Гнездится в Полесье, Карпатах. Зимой на всей территории, но численность залетов разная в разные годы. Держатся стайками. Питаются рябиной, крылатками ясеня, весной склевывают почки.
          %p
            %strong
              %em> Где искать
              \:
            опушки лесов, парки. Легко опознаются по голосу.
            %br/
            %strong
              %em> Когда
              \:
            октябрь – апрель
      %tr
        %td
          %p
            %img{:alt => "", :src => "https://farm4.staticflickr.com/3459/3274385685_c277a968d4_q.jpg"}/
        %td
          %h3.h5
            %a.sp_link{:href => "/species/Spinus_spinus"} Чиж
            %i.sci_name Spinus spinus
          %p Гнездится в Полесье, Карпатах и Крымских горах. Зимой кочует по всей территории Украины стаями, иногда большими. Объедают сережки березы, ольхи. Задерживаются долго, иногда до начала мая.
          %p
            %strong
              %em> Где искать
              \:
            парки, сады. Бывают на полях в стаях со щеглами, чечетками.
            %br/
            %strong
              %em> Когда
              \:
            октябрь – апрель
      %tr
        %td
          %p
            %img{:alt => "", :src => "https://farm4.staticflickr.com/3647/3404422693_501fccbe3c_q.jpg"}/
        %td
          %h3.h5
            %a.sp_link{:href => "/species/Fringilla_montifringilla"} Вьюрок
            %i.sci_name Fringilla montifringilla
          %p Пролетный и зимующий вид. Больших стай я не встречал. Чаще всего единичные особи в стаях с зябликами или другими вьюрковыми.
          %p
            %strong
              %em> Где искать
              \:
            опушки лесов, реже парки.
            %br/
            %strong
              %em> Когда
              \:
            до апреля
      %tr
        %td
          %p
            %img{:alt => "", :src => "https://farm4.staticflickr.com/3628/3403088817_78ef2c8eab_q.jpg"}/
        %td
          %h3.h5
            %a.sp_link{:href => "/species/Acanthis_flammea"} Обыкновенная чечетка
            %i.sci_name Acanthis flammea
          %p Часто залетают большими стаями, но не каждый год. Отдельные особи попадаются вместе с щеглами, чижами, коноплянками.
          %p
            %strong
              %em> Где искать
              \:
            поля заросшие бурьяном.
            %br/
            %strong
              %em> Когда
              \:
            я встречал с ноября по март.
      %tr
        %td
          %p
            %a.img{:href => "https://www.flickr.com/photos/13861029@N00/2043886667", :title => "Crossbill by Sergey Yeliseev, on Flickr"}
              %img{:src => "https://farm3.staticflickr.com/2109/2043886667_1d30542927_q.jpg"}/
            %small.flickr_subscr.text-muted
              by
              %a{:href => "https://www.flickr.com/photos/13861029@N00/", :rel => "nofollow"} Sergey Yeliseev
              on Flickr.
        %td
          %h3.h5
            %a.sp_link{:href => "/species/Loxia_curvirostra"} Обыкновенный клест
            %i.sci_name Loxia curvirostra
          %p Гнездятся в Карпатах и Крымских горах. Во время зимних кочевок встречаются на всей территории, но с разной интенсивностью год от года. Подвешиваются на концах ветвей хвойных деревьев и вылущивают семена из шишек. Наблюдались даже попытки гнездования под Киевом. Что интересно, могут гнездиться в разные сезоны, чаще всего в конце февраля – марте.
          %p
            %strong
              %em> Где искать
              \:
            хвойные деревья, преимущественно ели.
      %tr
        %td
          %p
            %img{:alt => "", :src => "https://farm4.staticflickr.com/3264/3232800402_66c1569e65_q.jpg"}/
        %td
          %h3.h5
            %a.sp_link{:href => "/species/Bombycilla_garrulus"} Свиристель
            %i.sci_name Bombycilla garrulus
          %p Залетают не каждый год. Питаются фруктами, оставшимися на деревьях, ягодами, в том числе омелой. Держатся стаями, часто большими. Легко опознаются по голосу.
          %p
            %strong
              %em> Где искать
              \:
            парки, сады, деревья в городе.
            %br/
            %strong
              %em> Когда
              \:
            октябрь – апрель.
      %tr
        %td
          %p
            %a.img{:href => "https://www.flickr.com/photos/13861029@N00/2240515008", :title => "Great Grey Shrike by Sergey Yeliseev, on Flickr"}
              %img{:src => "https://farm3.staticflickr.com/2215/2240515008_0d20a801dd_q.jpg"}/
            %small.flickr_subscr.text-muted
              by
              %a{:href => "https://www.flickr.com/photos/13861029@N00/", :rel => "nofollow"} Sergey Yeliseev
              on Flickr.
        %td
          %h3.h5
            %a.sp_link{:href => "/species/Lanius_excubitor"} Серый сорокопут
            %i.sci_name Lanius excubitor
          %p Гнездятся на севере Украины. Зимой встречаются на всей территории. Держатся поодиночке на открытых пространствах. Высматривая добычу, обычно сидят на верхушках кустов, невысоких деревьев.
          %p
            %strong
              %em> Где искать
              \:
            поля, пустыри.
            %br/
            %strong
              %em> Когда
              \:
            октябрь – март.
      %tr
        %td
          %p
            %img{:alt => "", :src => "https://farm9.staticflickr.com/8447/7914446410_aee0d45957_q.jpg"}/
        %td
          %h3.h5
            %a.sp_link{:href => "/species/Motacilla_cinerea"} Горная трясогузка
            %i.sci_name Motacilla cinerea
          %p Гнездится в Карпатах и Крымских горах. По сообщениям, зимой может встречаться по всей территории Украины, где есть проточная незамерзающая вода. Регулярно наблюдается в Днепропетровской области, в Запорожье на ДнепроГЭС, под Киевом на станции аэрации. Держатся поодиночке.
          %p
            %strong
              %em> Где искать
              \:
            незамерзающие проточные водоемы (ручьи, каналы, стоки).
            %br/
            %strong
              %em> Когда
              \:
            декабрь – апрель
      %tr
        %td
          %p
            %a.img{:href => "https://www.flickr.com/photos/13861029@N00/5626543079", :title => "Long-legged Buzzard by Sergey Yeliseev, on Flickr"}
              %img{:src => "https://farm6.staticflickr.com/5150/5626543079_07548f0ddd_q.jpg"}/
            %small.flickr_subscr.text-muted
              by
              %a{:href => "https://www.flickr.com/photos/13861029@N00/", :rel => "nofollow"} Sergey Yeliseev
              on Flickr.
        %td
          %h3.h5
            %a.sp_link{:href => "/species/Buteo_lagopus"} Зимняк
            %i.sci_name Buteo lagopus
          %p Вид, родственный канюку, однако в Украине только на пролете и зимовке. Я видел его даже в Киеве, но обычно держится над полями. От канюка отличается светлым цветом, с черными пятнами на сгибе (однако, светлые морфы канюка тоже могут быть похожи).
          %p
            %strong
              %em> Где искать
              \:
            поля, открытые пространства, даже в городе.
            %br/
            %strong
              %em> Когда
              \:
            конец октября – середина марта.
      %tr
        %td
          %p
            %img{:alt => "", :src => "https://farm4.staticflickr.com/3766/8824588448_7780928f42_q.jpg"}/
        %td
          %h3.h5
            %a.sp_link{:href => "/species/Falco_peregrinus"} Сапсан
            %i.sci_name Falco peregrinus
          %p
            Гнездится в Карпатах и горах Крыма. На зимовке может встречаться на всей территории, держаться в городах. Например, один сапсан
            = succeed "." do
              %a{:href => "/2013/03/links-raptors-wintering"} регулярно зимует в Киеве
          %p
            %strong
              %em> Где искать
              \:
            горы, леса. На зимовке – города.
      %tr
        %td
          %p
            %a.img{:href => "https://www.flickr.com/photos/13861029@N00/5619385484", :title => "Goldeneyes by Sergey Yeliseev, on Flickr"}
              %img{:src => "https://farm6.staticflickr.com/5304/5619385484_7674a5ebc1_q.jpg"}/
            %small.flickr_subscr.text-muted
              by
              %a{:href => "https://www.flickr.com/photos/13861029@N00/", :rel => "nofollow"} Sergey Yeliseev
              on Flickr.
        %td
          %h3.h5
            %a.sp_link{:href => "/species/Bucephala_clangula"} Обыкновенный гоголь
            %i.sci_name Bucephala clangula
          %p Гнездится в низовьях Днепра и отдельных районах запада и востока Украины. Зимует у морского побережья и на Днепре.
          %p
            %strong
              %em> Где искать
              \:
            незамерзающие участки Днепра (я встречал на ст. метро Днепр).
            %br/
            %strong
              %em> Когда
              \:
            декабрь – апрель
      %tr
        %td
          %p
            %a.img{:href => "https://www.flickr.com/photos/126993030@N06/26737882629", :title => "Common Merganser by Eric Ellingson, on Flickr"}
              %img{:src => "https://c1.staticflickr.com/5/4581/26737882629_93083fbc47_q.jpg"}/
            %small.flickr_subscr.text-muted
              by
              %a{:href => "https://www.flickr.com/photos/ericellingson/", :rel => "nofollow"} Eric Ellingson
              on Flickr.
        %td
          %h3.h5
            %a.sp_link{:href => "/species/Mergus_merganser"} Большой крохаль
            %i.sci_name Mergus merganser
          %p Зимует у морского побережья и на Днепре.
          %p
            %strong
              %em> Где искать
              \:
            незамерзающие участки Днепра (я встречал на ст. метро Днепр).
            %br/
            %strong
              %em> Когда
              \:
            декабрь – март
      %tr
        %td
          %p
            %a.img{:href => "https://www.flickr.com/photos/95305504@N00/293651570", :title => "Mergus albellus by Jan Svetlik, on Flickr"}
              %img{:src => "https://farm1.staticflickr.com/101/293651570_a6cb4a26ec_q.jpg"}/
            %small.flickr_subscr.text-muted
              by
              %a{:href => "https://www.flickr.com/photos/95305504@N00/", :rel => "nofollow"} Jan Svetlik
              on Flickr.
        %td
          %h3.h5
            %a.sp_link{:href => "/species/Mergus_albellus"} Луток
            %i.sci_name Mergus albellus
          %p Небольшой, красивый крохаль. Я встречал только единичных особей, но может зимовать повсюду на Днепре, Северском Донце, на морском побережье.
          %p
            %strong
              %em> Где искать
              \:
            незамерзающие участки Днепра.
      %tr
        %td
          %p
            %img{:alt => "", :src => "https://farm9.staticflickr.com/8296/7881761476_48058fe0f2_q.jpg"}/
        %td
          %h3.h5
            %a.sp_link{:href => "/species/Nucifraga_caryocatactes"} Кедровка
            %i.sci_name Nucifraga caryocatactes
          %p Гнездится на севере Украины и в Карпатах. Периодически (не каждый год) случаются залеты более северных птиц на территорию Украины, вероятно, вызванные нехваткой корма. Последний, очень массовый залет состоялся зимой 2008-2009 гг. По сообщениям, некоторых птиц наблюдали до лета. Есть информация, что после таких залетов многие птицы не возвращаются назад и погибают. А некоторые даже могут пытаться загнездиться.
          %p
            %strong
              %em> Где искать
              \:
            в обычных условиях – леса. Во время залетов их в основном наблюдали в парках.
      %tr
        %td
          %p
            %a.img{:href => "https://www.flickr.com/photos/slomaggie/4556494468/", :title => "HORNED LARK (Eremophila alpestris) by Maggie.Smith, on Flickr"}
              %img{:alt => "HORNED LARK (Eremophila alpestris)", :src => "https://farm4.staticflickr.com/3044/4556494468_e641ab0172_q.jpg"}/
            %small.flickr_subscr.text-muted
              by
              %a{:href => "https://www.flickr.com/photos/slomaggie/", :rel => "nofollow"} Maggie.Smith
              on Flickr
        %td
          %h3.h5
            %a.sp_link{:href => "/species/Eremophila_alpestris"} Рогатый жаворонок
            %i.sci_name Eremophila alpestris
          %p Бывают на пролете и зимовке каждый год, но в разных количествах. Держатся стайками. Отличаются характерной внешностью.
          %p
            %strong
              %em> Где искать
              \:
            дороги, пустыри, участки, свободные от снега.
      %tr
        %td
          %p
            %img{:src => "https://c1.staticflickr.com/5/4478/37182958024_e24459b2e5_q.jpg"}/
        %td
          %h3.h5
            %a.sp_link{:href => "/species/Plectrophenax_nivalis"} Пуночка
            %i.sci_name Plectrophenax nivalis
          %p Зимуют каждый год. Держатся стаями. Отличаются бело-черной расцветкой.
          %p
            %strong
              %em> Где искать
              \:
            поля, луга.
            %br/
            %strong
              %em> Когда
              \:
            ноябрь – начало марта.
  %p
    Другие хищники, которых можно встретить на зимних кочевках:
    = succeed "," do
      %a.sp_link{:href => "/species/Circus_cyaneus"} полевой лунь
    = succeed "," do
      %a.sp_link{:href => "/species/Falco_columbarius"} дербник
    = succeed "." do
      %a.sp_link{:href => "/species/Aquila_chrysaetos"} беркут
  %h2 Кочующие виды
  %p Большинство этих видов являются обычными гнездящимися видами Украины, но зимой их часто бывает легче увидеть, так как они собираются в стаи, залетают в города (где теплее и больше пищи), а иногда держатся в одном и том же месте (это особенно касается водоплавающих).
  %p
    Нередко в лесах и парках можно наткнутся на смешанные стайки, состоящие из разных видов синиц (в том числе не упомянутых в таблице
    = succeed "," do
      %a.sp_link{:href => "/species/Parus_cristatus"} гренадерок
    = succeed "," do
      %a.sp_link{:href => "/species/Parus_ater"} московок
    = succeed ")" do
      %a.sp_link{:href => "/species/Parus_montanus"} гаичек-пухляков
  %table.winter_photo_table.table
    %tbody
      %tr
        %td
          %p
            %img{:alt => "", :src => "https://farm3.staticflickr.com/2277/1823235583_0f1fa2b5f1_q.jpg"}/
        %td
          %h3.h5
            %a.sp_link{:href => "/species/Anas_platyrhynchos"} Кряква
            %i.sci_name Anas platyrhynchos
          %p Обычнейшая из уток Украины. На зимовке широко представлена на всех водоемах.
          %p
            %strong
              %em> Где искать
              \:
            незамерзающие участки водоемов, морское побережье.
      %tr
        %td
          %p
            %img{:alt => "", :src => "https://farm4.staticflickr.com/3347/3218667780_8df5305ed6_q.jpg"}/
        %td
          %h3.h5
            %a.sp_link{:href => "/species/Accipiter_nisus"} Перепелятник
            %i.sci_name Accipiter nisus
          %p Гнездится в лесах и парках, зимой становится гораздо более заметен в населенных пунктах. Может охотиться на кормушках, где собираются синицы и прочие мелкие воробьиные.
          %p
            %strong
              %em> Где искать
              \:
            город, парки.
      %tr
        %td
          %p
            %img{:alt => "", :src => "https://farm4.staticflickr.com/3340/3197868524_437b3e289b_q.jpg"}/
        %td
          %h3.h5
            %a.sp_link{:href => "/species/Accipiter_gentilis"} Тетеревятник
            %i.sci_name Accipiter gentilis
          %p Гнездится в лесах, зимой так же как и перепелятник может перемещаться в города.
          %p
            %strong
              %em> Где искать
              \:
            город, парки.
      %tr
        %td
          %p
            %img{:alt => "", :src => "https://farm5.staticflickr.com/4043/4254415098_7aa6bb9bfd_q.jpg"}/
        %td
          %h3.h5
            %a.sp_link{:href => "/species/Buteo_buteo"} Канюк
            %i.sci_name Buteo buteo
          %p Один из обычнейших хищников Украины, летом и зимой. Встречается на открытых полях, хотя зимой я нередко встречал его и над Киевом.
          %p
            %strong
              %em> Где искать
              \:
            открытые пространства, поля.
      %tr
        %td
          %p
            %img{:alt => "", :src => "https://farm8.staticflickr.com/7062/6964769241_ab9810e4eb_q.jpg"}/
        %td
          %h3.h5
            %a.sp_link{:href => "/species/Haliaeetus_albicilla"} Орлан-белохвост
            %i.sci_name Haliaeetus albicilla
          %p Крупный рыбоядный хищник, гнездится во многих регионах Украины. Зимой часто концентрируется на незамерзающих участках крупных рек, других водоемов, у плотин.
          %p
            %strong
              %em> Где искать
              \:
            незамерзающие участки водоемов.
      %tr
        %td
          %p
            %img{:alt => "", :src => "https://farm4.staticflickr.com/3405/3192675062_fa1e7a7f82_q.jpg"}/
        %td
          %h3.h5
            %a.sp_link{:href => "/species/Larus_canus"} Сизая чайка
            %i.sci_name Larus canus
          %p Вроде бы гнездится на севере Украины, но в Киеве я ее встречал только зимой. В это время довольно обычная чайка.
          %p
            %strong
              %em> Где искать
              \:
            водоемы.
      %tr
        %td
          %p
            %a.img{:href => "https://www.flickr.com/photos/13861029@N00/5534293541", :title => "Long-eared Owl by Sergey Yeliseev, on Flickr"}
              %img{:src => "https://farm6.staticflickr.com/5258/5534293541_b7cb98ee01_q.jpg"}/
            %small.flickr_subscr.text-muted
              by
              %a{:href => "https://www.flickr.com/photos/13861029@N00/", :rel => "nofollow"} Sergey Yeliseev
              on Flickr.
        %td
          %h3.h5
            %a.sp_link{:href => "/species/Asio_otus"} Ушастая сова
            %i.sci_name Asio otus
          %p Зимой ушастые совы нередко собираются в стаи и держатся в одном месте долгое время. Обычно это густые ели, но иногда и кроны других деревьев. Охотятся ночью. При обнаружении мест дневки сов следует быть осторожным, чтоб не спугнуть птиц и не привлечь к ним внимание ворон, перед которыми они уязвимы.
          %p
            %strong
              %em> Где искать
              \:
            густые ели, другие деревья в парках, иногда даже среди застройки.
      %tr
        %td
          %p
            %img{:alt => "", :src => "https://farm6.staticflickr.com/5455/9663615268_3b75059a8a_q.jpg"}/
        %td
          %h3.h5
            %a.sp_link{:href => "/species/Galerida_cristata"} Хохлатый жаворонок
            %i.sci_name Galerida cristata
          %p В некотором роде необычная птица, которую бывает несложно увидеть, но про которую мало кто знает. Этот жаворонок прозван «посметюхой» за привычку рыться в пыли, песке. Осенью и зимой я регулярно вижу его на остановках общественного транспорта как в Броварах так и в Киеве, часто в местах с оживленным движением, чуть ли не под колесами машин.
          %p
            %strong
              %em> Где искать
              \:
            обочины автомобильных дорог, в том числе в городе, особенно где пыль, мусор. Часто возле остановок общественного транспорта.
      %tr
        %td
          %p
            %img{:alt => "", :src => "https://farm8.staticflickr.com/7437/10226168075_45729310ea_q.jpg"}/
        %td
          %h3.h5
            %a.sp_link{:href => "/species/Troglodytes_troglodytes"} Крапивник
            %i.sci_name Troglodytes troglodytes
          %p Маленькая и довольно незаметная птичка. Даже когда показывается, обычно шныряет в кустах. Но может привлечь внимание неожиданно громким трескучим голосом или песней. Хорошо идет на голос. Часть крапивников зимой мигрирует, но многие зимуют, обычно у источников воды.
          %p
            %strong
              %em> Где искать
              \:
            заросли кустарников, чаще всего у воды.
      %tr
        %td
          %p
            %img{:alt => "", :src => "https://farm3.staticflickr.com/2194/2280718261_f54a115bfa_q.jpg"}/
        %td
          %h3.h5
            %a.sp_link{:href => "/species/Turdus_pilaris"} Рябинник
            %i.sci_name Turdus pilaris
          %p Обычный гнездящий дрозд Украины. Однако зимой они становятся гораздо заметнее, потому что собираются в стаи и пасутся на деревьях и кустарниках с плодами, ягодами.
          %p
            %strong
              %em> Где искать
              \:
            парки, сады.
      %tr
        %td
          %p
            %img{:alt => "", :src => "https://farm5.staticflickr.com/4065/4450774525_a30c026e58_q.jpg"}/
        %td
          %h3.h5
            %a.sp_link{:href => "/species/Turdus_viscivorus"} Деряба
            %i.sci_name Turdus viscivorus
          %p Дрозд, менее обычный чем рябинник, но зимой тоже может быть заметен. Судя по латинскому и украинскому названию, любит ягоды омелы. Похож на певчего дрозда, но крупнее.
          %p
            %strong
              %em> Где искать
              \:
            парки, опушки лесов.
      %tr
        %td
          %p
            %img{:alt => "", :src => "https://farm3.staticflickr.com/2321/1869045365_dcc07cc37b_q.jpg"}/
        %td
          %h3.h5
            %a.sp_link{:href => "/species/Parus_major"} Большая синица
            %i.sci_name Parus major
          %p Одна из обычнейших птиц, однако зимой становится еще более заметна в городах. Самая многочисленная птица на кормушках.
          %p
            %strong
              %em> Где искать
              \:
            парки, леса, на кормушках в городе.
      %tr
        %td
          %p
            %img{:alt => "", :src => "https://farm3.staticflickr.com/2107/2102480591_fc1c5aba57_q.jpg"}/
        %td
          %h3.h5
            %a.sp_link{:href => "/species/Parus_caeruleus"} Лазоревка
            %i.sci_name Parus caeruleus
          %p Синица помельче, и не так многочисленна, как большая. Чаще сидит на верхушках деревьев.
          %p
            %strong
              %em> Где искать
              \:
            парки, леса, на кормушках в городе.
      %tr
        %td
          %p
            %img{:alt => "", :src => "https://farm3.staticflickr.com/2211/2384020027_923919b579_q.jpg"}/
        %td
          %h3.h5
            %a.sp_link{:href => "/species/Aegithalos_caudatus"} Длиннохвостая синица
            %i.sci_name Aegithalos caudatus
          %p Очень красивые птички с длинным хвостом. Держатся почти всегда стайками и быстро продвигаются.
          %p
            %strong
              %em> Где искать
              \:
            парки, леса.
      %tr
        %td
          %p
            %img{:alt => "", :src => "https://farm4.staticflickr.com/3191/2307284538_6fa1b23d32_q.jpg"}/
        %td
          %h3.h5
            %a.sp_link{:href => "/species/Sitta_europaea"} Поползень
            %i.sci_name Sitta europaea
          %p Одна из обычных лесных птиц, встречается и в парках. Обычно лазит по стволам деревьев, может двигаться вниз головой. Может приходить на кормушку, если расположить ее в удачном месте. В интернете много фотографий, как поползни кормятся с рук.
          %p
            %strong
              %em> Где искать
              \:
            леса, парки.
      %tr
        %td
          %p
            %img{:alt => "", :src => "https://farm4.staticflickr.com/3801/9715839467_37ec926d1b_q.jpg"}/
        %td
          %h3.h5
            %a.sp_link{:href => "/species/Certhia_familiaris"} Пищуха
            %i.sci_name Certhia familiaris
          %p Тоже обычная лесная птица, кормящаяся на стволах деревьев. Однако передвигается только вверх, потом перелетает. Более мелкая, пугливая, расцветка легко ее маскирует. Часто держатся стайками, в таких случаях легко найти по голосу.
          %p
            %strong
              %em> Где искать
              \:
            леса, парки.
      %tr
        %td
          %p
            %a.img{:href => "https://www.flickr.com/photos/7599112@N08/8414640718", :title => "Bearded Tit (Male) by Smudge 9000, on Flickr"}
              %img{:src => "https://live.staticflickr.com/8375/8414640718_41818d2a32_q.jpg"}/
            %small.flickr_subscr.text-muted
              by
              %a{:href => "https://www.flickr.com/photos/smudge9000/", :rel => "nofollow"} Smudge 9000
              on Flickr.
        %td
          %h3.h5
            %a.sp_link{:href => "/species/Panurus_biarmicus"} Усатая синица
            %i.sci_name Panurus biarmicus
          %p Необычная, красивая птица. Зимой кочуют стайками. Их можно найти в зарослях тростников, камышей. Хорошо идут на голос.
          %p
            %strong
              %em> Где искать
              \:
            тростники, камыши на реках, озерах.
      %tr
        %td
          %p
            %img{:alt => "", :src => "https://farm3.staticflickr.com/2217/2276178495_5ec487ca9b_q.jpg"}/
        %td
          %h3.h5
            %a.sp_link{:href => "/species/Carduelis_carduelis"} Щегол
            %i.sci_name Carduelis carduelis
          %p Обычные птицы, но зимой более заметны, так как кочуют стаями, иногда очень большими, часто с другими вьюрковыми: чижами, чечетками, коноплянками. Легко отличаются по расцветке, а также по голосу.
          %p
            %strong
              %em> Где искать
              \:
            леса, парки (особенно на верхушках деревьев), поля, пустыри с бурьяном.
      %tr
        %td
          %p
            %img{:alt => "", :src => "https://birdwatch.org.ua/photos/greenfinch8609.jpg", width: 150, height: 150, style: "object-position: -4 0px 0; object-fit: cover;"}/
        %td
          %h3.h5
            %a.sp_link{:href => "/species/Chloris_chloris"} Зеленушка
            %i.sci_name Chloris chloris
          %p Один из обычных видов птиц, но малоизвестный, вероятно, из-за своей непритязательной окраски. По поведению подобны щеглам, хорошо отличаются по голосу.
          %p
            %strong
              %em> Где искать
              \:
            леса, парки (особенно на верхушках деревьев), поля, пустыри.
  %p Также на зимовке есть вероятность встретить многих других водоплавающих, как обычных, так и редких.
  %h2 Спорадически зимующие виды
  %p Большинство моих наблюдений спорадически зимующих видов происходило на канале Бортничской станции аэрации (далее – канал БСА).
  %table.winter_photo_table.table
    %tbody
      %tr
        %td
          %p
            %img{:alt => "", :src => "https://farm3.staticflickr.com/2683/4465802951_df0f1106c2_q.jpg"}/
        %td
          %h3.h5
            %a.sp_link{:href => "/species/Turdus_merula"} Черный дрозд
            %i.sci_name Turdus merula
          %p В киевских парках обитают оседлые популяции, завезенные из Польши. Отдельные зимующие особи нередко встречаются и в других местах.
          %p
            %strong
              %em Где искать:
            парки, заросли кустарника с ягодами.
      %tr
        %td
          %p
            %img{:alt => "", :src => "https://farm4.staticflickr.com/3143/2401154667_e204e858d0_q.jpg"}/
        %td
          %h3.h5
            %a.sp_link{:href => "/species/Sturnus_vulgaris"} Скворец
            %i.sci_name Sturnus vilgaris
          %p Обычный гнездящийся вид. На юге Украины зимующий. Регулярно зимуют на канале БСА, отдельные особи нередко встречаются в других местах.
          %p
            %strong
              %em Где искать:
            парки, сады, частный сектор. Часто держатся большими стаями.
      %tr
        %td
          %p
            %img{:alt => "", :src => "https://farm9.staticflickr.com/8107/8641272682_5e7cdc43f1_q.jpg"}/
        %td
          %h3.h5
            %a.sp_link{:href => "/species/Falco_tinnunculus"} Обыкновенная пустельга
            %i.sci_name Falco tinnunculus
          %p Обычный вид Украины. Часто гнездится в высотных домах. На зиму большинство улетает (часть зимует на юге Украины), но отдельные особи регулярно наблюдаются на полях под Киевом.
          %p
            %strong
              %em Где искать:
            открытые пространства, поля (охотится на грызунов), возможно, в городах.
      %tr
        %td
          %p
            %a.img{:href => "https://www.flickr.com/photos/7322586@N06/6110197175", :title => "Green Sandpiper (Tringa ochropus) by ajmatthehiddenhouse, on Flickr"}
              %img{:src => "https://farm7.staticflickr.com/6080/6110197175_705b68a62b_q.jpg"}/
            %br/
            %small.flickr_subscr.text-muted
              by
              %a{:href => "https://www.flickr.com/photos/7322586@N06/", :rel => "nofollow"} ajmatthehiddenhouse
              on Flickr.
        %td
          %h3.h5
            %a.sp_link{:href => "/species/Tringa_ochropus"} Черныш
            %i.sci_name Tringa ochropus
          %p Гнездится на севере и западе Украины. Зимой встречается в основном на юге, но иногда и в других регионах. Каждый год отмечается зимой на канале БСА.
          %p
            %strong
              %em Где искать:
            незамерзающие водоемы.
      %tr
        %td
          %p
            %img{:alt => "", :src => "https://c2.staticflickr.com/4/3492/3895472701_0e2e2d6276_q.jpg"}/
        %td
          %h3.h5
            %a.sp_link{:href => "/species/Alcedo_atthis"} Зимородок
            %i.sci_name Alcedo atthis
          %p Регулярно зимует на канале БСА. Отмечался на зимовке на незамерзающих водоемах даже в Санкт-Петербурге.
          %p
            %strong
              %em Где искать:
            незамерзающие водоемы.
  %p
    Другие птицы, которых можно встретить на зимовке на станции аэрации:
    = succeed "," do
      %a.sp_link{:href => "/species/Fringilla_coelebs"} зяблик
    = succeed "," do
      %a.sp_link{:href => "/species/Fulica_atra"} лысуха
    = succeed "," do
      %a.sp_link{:href => "/species/Egretta_alba"} большая белая цапля
    = succeed "," do
      %a.sp_link{:href => "/species/Ardea_cinerea"} серая цапля
    = succeed "," do
      %a.sp_link{:href => "/species/Cygnus_olor"} лебедь-шипун
    = succeed "," do
      %a.sp_link{:href => "/species/Erithacus_rubecula"} зарянка
    = succeed "," do
      %a.sp_link{:href => "/species/Phalacrocorax_carbo"} большой баклан
    = succeed "," do
      %a.sp_link{:href => "/species/Podiceps_ruficollis"} малая поганка
    = succeed "," do
      %a.sp_link{:href => "/species/Anthus_pratensis"} луговой конек
    = succeed "," do
      %a.sp_link{:href => "/species/Remiz_pendulinus"} ремез
    = succeed "." do
      %a.sp_link{:href => "/species/Botaurus_stellaris"} большая выпь
