-# frozen_string_literal: true
- stylesheet 'forms'

- @page_title = "#{new_or_edit_label(@book)} book"

%h1= page_header

= render 'admin/shortcuts' if current_user.admin?

= simple_form_for @book do |form|
  %div
    = form.input :slug
  %div
    = form.input :name
  %div
    = form.input :description, input_html: {rows: 7}

  .buttons
    = default_submit_button(form)
