-# frozen_string_literal: true
- @page_title = 'Books'

%h1= page_header

= render 'admin/shortcuts' if current_user.admin?

%table.neat_table
  %tr
    %th Slug
    %th Name
    %th Description
    %th Species
    %th

  - @books.each do |author|
    %tr
      %td
        %b= author.slug
      %td= link_to author.name, book_path(author)
      %td
        %i
          %small= author.description
      %td.align-center= author.legacy_taxa.size
      %td= default_destroy_link(author)
