-# frozen_string_literal: true
- @page_title = "[#{@book.name}]"

%h1= @page_title

= render 'admin/shortcuts' if current_user.admin?

- if notice
  %p#notice= notice

%dl
  %dt
    %b= @book.slug
  %dd
    %i= @book.description

%h2 Species

%table.neat_table
  %tr
    %th.align-right No
    %th Scientific name
    %th Legacy species
    %th Names
    %th.align-right Avibase id

  - @taxa.group_by_taxonomy do |order, family, species_list|
    %tr
      %td
      %td{:colspan => 4}
        %h2.order= render partial: 'species/taxonomy', locals: {rank: :order, value: order}
        %h3.family= render partial: 'species/taxonomy', locals: {rank: :family, value: family}
    - species_list.each do |species|
      %tr
        %td.align-right= species.index_num
        %td
          %i
            %b= link_to(species.name_sci, [@book, species])
          %span.less-important= species.authority
        %td
          - if species.legacy_species
            = content_tag(:i, species.legacy_species.name_sci)

        %td
          - %w(en ru uk).each do |lang|
            %div
              %i.less-important.monospace= "#{lang}:"
              = species.send("name_#{lang}")
        %td.align-right= link_to(species.avibase_id, avibase_species_url(species.avibase_id)) if species.avibase_id

