= semantic_form_for @locus do |form|
  = form.inputs do
    = form.input :code, :label => 'Code'
    -# = form.input :parent, :label => 'Parent'
    = form.input :type, :label => 'Type'
    = form.input :name_en, :label => 'English name'
    = form.input :name_ru, :label => 'Russian name'
    = form.input :name_uk, :label => 'Ukrainian name'
    = form.input :lat, :label => 'Lat'
    = form.input :lon, :label => 'Lon'
  = form.buttons
