- locus = locus_tree[0]
%tr
  %td{rstyle: "padding-left: #{30 * indent}px;"}
    = raw "&mdash;" * indent * 2
    = link_to locus.slug, edit_locus_path(locus)
    - if locus.iso_code.present?
      (<b>#{locus.iso_code}</b>)
    - if locus.loc_type.present?
      %small.tag.good= locus.loc_type
  %td
    - %w(en ru uk).map do |lang|
      %div
        %i.less-important.monospace
          #{lang}:
        #{locus.send("name_#{lang}")}
  %td
    = link_to("list", advanced_list_path(locus: locus.slug))
  %td.align-center
    %small= latlon(locus)
  %td.align-right
    = locus.public_index
    - if locus.private_loc
      %small.tag.alert private

  %td
    - if locus.descendants.any? || locus.observations.any? || locus.patch_observations.any?
      = disabled_destroy_icon
    - else
      = default_destroy_link(locus)

= render partial: 'locus_tree', collection: locus_tree[1].to_a, locals: {indent: indent + 1}
