%tr
  %td{rstyle: "padding-left: #{30 * indent}px;"}
    = raw "&mdash;" * indent * 2
    = link_to locus_tree.slug, edit_locus_path(locus_tree)
    - if locus_tree.iso_code.present?
      (<b>#{locus_tree.iso_code}</b>)
  %td
    - %w(en ru uk).map do |lang|
      %div
        %i.less-important.monospace
          #{lang}:
        #{locus_tree.send("name_#{lang}")}
  %td.align-center= latlon(locus_tree)
  %td.align-right
    = locus_tree.public_index
    - if locus_tree.patch
      %small.tag.good patch
    - if locus_tree.private_loc
      %small.tag.alert private

  %td
    - if @loci[locus_tree.id].present? || locus_tree.observations.count > 0
      = disabled_destroy_icon
    - else
      = default_destroy_link(locus_tree)

= render partial: 'locus_tree', collection: @loci[locus_tree.id], locals: {indent: indent + 1}
