-# frozen_string_literal: true
%table.neat_table{data: {term: @term}}
  %tr
    %th Id
    %th Slug
    %th Names
    %th Parent
    %th.align-center LatLon
    %th Public #

  - @loci.each do |locus|
    %tr
      %td
        = locus.id
      %td
        = link_to locus.slug, edit_locus_path(locus.slug)
        - if locus.iso_code.present?
          (<b>#{locus.iso_code}</b>)
        - if locus.loc_type.present?
          %small.tag{class: locus.loc_type}= locus.loc_type
      %td
        - LocaleHelper::NAMING_LOCALE_PRIORITY.each do |lang|
          %div
            %i.less-important.monospace #{lang}:
            = term_highlight(locus.public_send("name_#{lang}"), @term)
            - I18n.with_locale(lang) do
              - loc_name = locus.decorated.full_name
              %i.less-important.fas.fa-globe{title: loc_name, "data-tooltip": true}
      %td
        - if locus.parent_id
          = link_to locus.parent.name_en, edit_locus_path(locus.parent.slug)
      %td.align-center
        - if locus.lat
          %div
            %small= latlon(locus)
        %div
          = link_to "List", advanced_list_path(locus: locus.slug)
      %td.align-right
        = locus.public_index
        - if locus.private_loc
          %small.tag.alert private


- if @loci.is_a?(Kaminari::ActiveRecordRelationMethods)
  = paginate @loci
