- stylesheet 'forms'
- javascript AssetsHelper::GMAP_API_URL, 'locus_edit'

- @page_title = "#{new_or_edit_label(@locus)} location"

%h1= page_header

- if notice
  %p#notice= notice

= render 'admin/shortcuts' if current_user.admin?

= simple_form_for @locus do |form|
  %div
    = form.input :slug, required: false
    = form.input :parent_id, label: 'Parent', collection: (Locus.where.not(id: @locus).suggestion_order),
          input_html: {class: 'suggest-combo'}
    = form.input :iso_code, label: 'ISO code'
  %div
    = form.input :loc_type, label: 'Locus type', as: :select, collection: Locus::TYPES
    = form.input :name_format
  %div
    Full name:
    = @locus.decorated.full_name
  %div
    = form.input :name_en, label: 'English name'
    = form.input :name_ru, label: 'Russian name'
    = form.input :name_uk, label: 'Ukrainian name'
  %div
    = form.input :lat, as: :hidden
    = form.input :lon, as: :hidden

    = form.input :public_index, input_html: { size: 10, type: :text }
    = form.input :private_loc
    = form.input :five_mile_radius, label: "5MR"
    = form.input :ebird_location_id, label: 'eBird Location', collection: EbirdLocation.all,
          input_html: {class: 'suggest-combo'}

  %div#googleMap

  .buttons
    = default_submit_button(form)
    = default_submit_button(form, {value: "Save and next >>"})
