- stylesheet 'forms'

- @page_title = "#{new_or_edit_label(@locus)} location"

%h1= page_header

= render 'admin/shortcuts' if current_user.admin?

= simple_form_for @locus do |form|
  %div
    = form.input :slug
    = form.input :parent_id, label: 'Parent', collection: (Locus.all - [@locus])
    = form.input :iso_code, label: 'ISO code'
  %div
    = form.input :loc_type, label: 'Locus type', as: :select, collection: Locus::TYPES
    = form.input :name_format
  %div
    = form.input :name_en, label: 'English name'
    = form.input :name_ru, label: 'Russian name'
    = form.input :name_uk, label: 'Ukrainian name'
  %div
    = form.input :lat, input_html: { size: 10, type: :text }
    = form.input :lon, input_html: { size: 10, type: :text }

    = form.input :public_index, input_html: { size: 10, type: :text }
    = form.input :private_loc
    = form.input :patch
  .buttons
    = default_submit_button(form)
