-# frozen_string_literal: true
- stylesheet 'forms'
- javascript AssetsHelper::GMAP_API_URL, 'locus_edit'

- @page_title = "#{new_or_edit_label(@locus)} location"

%h1= page_header

- if notice
  %p#notice= notice

= render 'admin/shortcuts' if current_user.admin?

= simple_form_for @locus do |form|
  %div
    = form.input :slug, required: false
    = form.input :parent_id, label: 'Parent', collection: (Locus.where.not(id: @locus).suggestion_order),
          input_html: {class: 'suggest-combo'}
    = form.input :iso_code, label: 'ISO code'
  %div
    = form.input :loc_type, label: 'Locus type', as: :select, collection: Locus::TYPES
  %div
    .less-important These fields are presentational, they should be modified separately from ancestry
    = form.input :cached_parent_id, collection: (Locus.where.not(id: @locus).suggestion_order),
          input_html: {class: 'suggest-combo'}
    = form.input :cached_city_id, collection: (Locus.where.not(id: @locus).suggestion_order),
          input_html: {class: 'suggest-combo'}
    = form.input :cached_subdivision_id, collection: (Locus.where.not(id: @locus).suggestion_order),
          input_html: {class: 'suggest-combo'}
    - if @locus.persisted?
      = form.input :cached_country_id, as: :string,
            input_html: {disabled: true, value: @locus.cached_country&.name_en}
  %div
    Full name:
    = @locus.decorated.full_name
  %div
    = form.input :name_en, label: 'English name'
    = form.input :name_ru, label: 'Russian name'
    = form.input :name_uk, label: 'Ukrainian name'
  %div
    = form.input :lat, as: :hidden
    = form.input :lon, as: :hidden

    = form.input :public_index, input_html: { size: 10, type: :text }
    = form.input :private_loc
    = form.input :five_mile_radius, label: "5MR"
    = form.input :patch
    = form.input :ebird_location_id, label: 'eBird Location', collection: EBirdLocation.all,
          input_html: {class: 'suggest-combo'}

  %div#googleMap{data: {map_enabled: map_enabled}}

  .buttons
    = default_submit_button(form)
