%h2 Listing locations

%table
  %tr
    %th Code
    %th Parent
    %th Type
    %th English
    %th Russian
    %th Ukrainian
    %th LatLon
    %th

  - @loci.each do |locus|
    %tr
      %td= link_to locus.code,edit_locus_path(locus)
      %td= locus.parent.code rescue '-'
      %td= locus.loc_type
      %td= locus.name_en
      %td= locus.name_ru
      %td= locus.name_uk
      %td= latlon(locus.lat, locus.lon)
      %td= link_to '[x]', locus, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New locus', new_locus_path
