-# no_viewport is for very wide pages, e.g. with table
- @no_viewport = true
- @body_class = 'wider'

- @js_features = [:admin_instant_search]

- @page_title = 'Locations'

%h1= page_header

- provide :add_shortcuts do
  %li= link_to 'Order public locations', action: :public

= render 'admin/shortcuts' if current_user.admin?

= render partial: "partials/admin_instant_search", locals: {url: loci_path}

.instant_search_container
  = render "loci/table"
