-# frozen_string_literal: true
- @page_title = @locus.slug

%h1= @locus.slug

= render 'admin/shortcuts' if current_user.admin?

- if notice
  %p#notice= notice

%p
  %b Parent:
  = @locus.parent.nil? ? '-' : (link_to @locus.parent.slug, @locus.parent)
%p
  %b English name:
  = @locus.name_en
%p
  %b Russian name:
  = @locus.name_ru
%p
  %b Ukrainian name:
  = @locus.name_uk
%p
  %b LatLon:
  = latlon(@locus)
%p
  %b Public index #:
  = @locus.public_index
