%h2= @locus.code

%p
  %b Type:
  = @locus.loc_type
%p
  %b Parent:
  = (link_to @locus.parent.code, @locus.parent) rescue '-'
%p
  %b English name:
  = @locus.name_en
%p
  %b Russian name:
  = @locus.name_ru
%p
  %b Ukrainian name:
  = @locus.name_uk
%p
  %b LatLon:
  = latlon(@locus.lat, @locus.lon)

= link_to 'Edit', edit_locus_path(@locus)
\|
= link_to 'Index', loci_path
