- stylesheet "forms"

- javascript "ebird_imports"

- @page_title = "eBird Imports"

%h1= page_header

- if notice
  %p= notice

= form_tag ebird_imports_path, method: :get, class: "simple_form" do
  = label_tag :date
  = date_field_tag :date, params[:date].presence || Card.maximum(:observ_date) + 1, required: true
  = submit_tag "Fetch"

- if @checklists
  = form_tag ebird_imports_path do
    %table.neat_table
      %tr
        %th eBird id
        %th Date/time
        %th Location
        %th County
        %th State/Prov
        %th Select locus

      - @checklists.each do |list|
        %tr
          %td
            = list[:ebird_id]
            - unless list[:card]
              = hidden_field_tag "c[][ebird_id]", list[:ebird_id]
          %td
            %nobr= list[:time]
          %td= list[:location]
          %td= list[:county]
          %td= list[:state_prov]
          %td.ebird-locus-select-td
            - if list[:card]
              %span.fas.fa-check.green-check
              = link_to "Card", list[:card]
            - else
              = select_tag "c[][locus_id]",
                    options_from_collection_for_select(Locus.suggestion_order, :id, :to_label, Locus.find_by_name_en(list[:location])&.id),
                    include_blank: true, class: "locus_select"
    = submit_tag "Import"

