-# frozen_string_literal: true
- stylesheet "forms"

- @page_title = "eBird Imports"

- content_for :add_shortcuts do
  %li= link_to "eBird Exports", ebird_submissions_path

= render 'admin/shortcuts' if current_user.admin?

%h1= page_header

- if notice
  %p= notice

= button_to "Enqueue preload", refresh_ebird_imports_path,
            method: :post, remote: true,
            class: "button", form: {id: :ebird_refresh_form}

.preloads-container
  = render partial: "ebird/imports/preloaded"
