-# frozen_string_literal: true
%td
  %b
    = species_link(lifer.species)
  = name_sci(lifer.species)
  - if I18n.locale != :en
    %span.lifer_en
      = lifer.species.name_en

- if lifer.same_date?
  %td.comb_date{colspan: 2}
    %span.dashes &mdash;&ensp;
    = render "lifelist/advanced/lifer_date", life_observation: lifer.first_seen, designation: nil
    %span.dashes &ensp;&mdash;
- else
  - [:first_seen, :last_seen].each do |method|
    %td.single_date
      = render "lifelist/advanced/lifer_date", life_observation: lifer.send(method), designation: method
%td.count_cell
  %span.designation Encounters:
  %b= lifer.obs_count
