- @page_title = "Patches"

%h1= page_header

= render 'admin/shortcuts' if current_user.admin?

%table.neat_table
  %tr
    %th Name
    %th Lat
    %th Lng
    %th
    %th
    %th

  - @patches.each do |patch|
    %tr
      %td= patch.name
      %td= patch.lat
      %td= patch.lng
      %td= link_to 'Show', patch
      %td= link_to 'Edit', edit_patch_path(patch)
      %td= link_to 'Destroy', patch, :method => :delete, :data => { :confirm => 'Are you sure?' }
