- @page_title = "Patch `#{@patch.name}`"

%h1= page_header

= render 'admin/shortcuts' if current_user.admin?

- if notice
  %p#notice= notice

%p
  %b Name:
  = @patch.name
%p
  %b Lat:
  = @patch.lat
%p
  %b Lng:
  = @patch.lng
