%h2= (['new', 'create'].include?(action_name) ? 'New' : 'Editing') + ' location'

= semantic_form_for @locus do |form|
  = form.inputs do
    = form.input :code, :label => 'Code'
    = form.input :parent, :label => 'Parent', :label_method => :code, :collection => (Locus.all_ordered - [@locus])
    = form.input :loc_type, :label => 'Type',  :collection => ['Country', 'Region', 'Location'], :include_blank => false
    = form.input :name_en, :label => 'English name'
    = form.input :name_ru, :label => 'Russian name'
    = form.input :name_uk, :label => 'Ukrainian name'
    = form.input :lat, :label => 'Lat', :input_html => { :size => 10 }
    = form.input :lon, :label => 'Lon', :input_html => { :size => 10 }
  = form.buttons
