- stylesheet 'forms'

- @page_title = (['new', 'create'].include?(action_name) ? 'New' : 'Editing') + ' location'

%h2= @page_title

= simple_form_for @locus do |form|
  = form.input :code, :label => 'Code'
  = form.association :parent, :label => 'Parent', :label_method => :name_en, :collection => (Locus.all_ordered - [@locus])
  = form.input :loc_type, :label => 'Type',  :collection => Locus::TYPES, :input_html => {:size => '3'}, :include_blank => false
  = form.input :name_en, :label => 'English name'
  = form.input :name_ru, :label => 'Russian name'
  = form.input :name_uk, :label => 'Ukrainian name'
  %br
  = form.input :lat, :label => 'Lat', :input_html => { :size => 10, :type => :text }
  = form.input :lon, :label => 'Lon', :input_html => { :size => 10, :type => :text }
  = form.button :submit, :value => 'Save'
