%h2 Listing locations

%table.neat_table
  %tr
    %th Code
    %th Parent
    %th Names
    %th.align-center LatLon
    %th
      
  - @types.each do |type|
    %tr
      %td{:colspan => 4}
        %h3= type[:name].pluralize.upcase
    - type[:locs].each do |locus|
      %tr
        %td= link_to locus.code,edit_locus_path(locus)
        %td= locus.parent.code rescue '-'
        %td= %w(en ru uk).map{|lang| "#{lang}: #{locus.send('name_'+lang)}"}.join('<br />').html_safe
        %td.align-center= latlon(locus.lat, locus.lon)
        %td= link_to '[x]', locus, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New locus', new_locus_path
