- @page_title = @locus.code

%h2= @locus.code

%p
  %b Type:
  = @locus.loc_type
%p
  %b Parent:
  = @locus.parent.nil? ? '-' : (link_to @locus.parent.code, @locus.parent)
%p
  %b English name:
  = @locus.name_en
%p
  %b Russian name:
  = @locus.name_ru
%p
  %b Ukrainian name:
  = @locus.name_uk
%p
  %b LatLon:
  = latlon(@locus.lat, @locus.lon)
