- @page_title = "Login"

- @robots = "NOINDEX,NOFOLLOW"

= form_tag(url_for({action: 'login_do'}.merge(url_options_for_admin)), method: :post) do
  = hidden_field_tag(:ret, flash[:ret]) if flash[:ret]
  = text_field_tag :username
  = password_field_tag
  = submit_tag("Login", class: 'submit')
