-# frozen_string_literal: true
- canonical_posts = media.posts.merge(current_user.available_posts).to_a
- localized_posts_map = Post.localized_for(canonical_posts, I18n.locale, scope: current_user.available_posts)
- localized_posts = canonical_posts.filter_map { |canonical| localized_posts_map[canonical.id] }

%p
  %div
    %i<
      %time{ datetime: media.observ_date.iso8601 }= l(media.observ_date, format: :long)
  %div
    = media.decorated.public_locus_full_name

- unless blogless_locale?
  = media.decorated.description

- if localized_posts.present?
  %h3= t(".blog_posts")
  %ul
    - localized_posts.each do |post|
      %li= post_link(post.decorated.title, post, true)
