- posts = media.posts.merge(current_user.available_posts)

%p
  = t('images.picture_taken')
  = succeed ', ' do
    %i<
      %time{datetime: media.observ_date.iso8601} #{l(media.observ_date, :format => :long)}

  = succeed('.') do
    = media.decorated.public_locus_full_name

- if I18n.russian_locale?
  = media.decorated.description

  - if posts.present?
    %h3 Почитать:
    %ul
      - posts.each do |post|
        %li= post_link(post.decorated.title, post, true)

