-# frozen_string_literal: true
- posts = media.posts.merge(current_user.available_posts)

%p
  %div
    %i<
      %time{ datetime: media.observ_date.iso8601 }= l(media.observ_date, format: :long)
  %div
    = media.decorated.public_locus_full_name

- unless blogless_locale?
  = media.decorated.description

  - if posts.present?
    %h3= t(".blog_posts")
    %ul
      - posts.each do |post|
        %li= post_link(post.decorated.title, post, true)
