-# frozen_string_literal: true
- javascript AssetsHelper::GMAP_API_URL, 'media_mappable'
- @body_class = 'map-page'
- stylesheet 'map_edit'

- @page_title = "Edit map: #{mappable.slug}"

- provide :add_shortcuts do
  %li= link_to "Map the card", edit_map_url(q: {card_id: mappable.card.id})

.map-side-panel
  = render 'admin/shortcuts' if current_user.admin?

  - if notice
    %p#notice= notice

  = content_for :observable_thumbnail

  - if mappable.spots.empty?
    %p.errors No observations mapped!
  - elsif mappable.spot_id.blank?
    %p.errors Not yet mapped!

  %ul.obs-list
    = render partial: 'observations/obs_item', collection: mappable.observations.preload(:taxon => :species, :card => :locus)

= render 'spots/form'

.mapContainer{data: {marks: mappable.spots.to_json(only: [:lat, :lng, :id])}}
  #googleMap

:javascript
  var patch_url = "#{url_for(action: :patch, format: :json)}",
      media_type = '#{mappable.class.to_s.downcase}',
      marks = $(".mapContainer").data("marks"),
      max_zoom = #{mappable.spots.map(&:zoom).max || "null"},
      selected_spot, locusLatLng;
  #{"selected_spot = #{mappable.spot_id};" if mappable.spot_id}
  if (typeof google === 'object') {
    #{"locusLatLng = new google.maps.LatLng(#{mappable.locus.lat}, #{mappable.locus.lon});" if mappable.locus.lat}
  }

