-# frozen_string_literal: true

- javascript AssetsHelper::GMAP_API_URL, 'media_mappable'
- @body_class = 'map-page'
- stylesheet 'map_edit'

- @page_title = "Edit map: #{mappable.slug}"

- provide :add_shortcuts do
  %li= link_to "Map the card", edit_map_url(q: {card_id: mappable.card.id})

.map-side-panel
  = render 'admin/shortcuts' if current_user.admin?

  - if notice
    %p#notice= notice

  = content_for :observable_thumbnail

  - if mappable.spots.empty?
    %p.errors No observations mapped!
  - elsif mappable.spot_id.blank?
    %p.errors Not yet mapped!

  %ul.obs-list
    = render partial: 'observations/obs_item', collection: mappable.observations.preload(:taxon => :species, :card => :locus)

= render 'spots/form'

.mapContainer{data: {
                marks: mappable.spots.to_json(only: [:lat, :lng, :id]),
                patch_url: url_for(action: :patch, format: :json),
                media_type: mappable.class.to_s.downcase,
                max_zoom: mappable.spots.map(&:zoom).max,
                selected_spot: mappable.spot_id,
                locus_coords: mappable.locus.to_json(only: [:lat, :lon]),
                }
              }
  #googleMap{data: {map_enabled: map_enabled}}
