-# frozen_string_literal: true
%table.with_search
  %tr
    %td.observation_search{colspan: 2}
      = simple_fields_for media.search_applicable_observations(date: params[:exif_date]) do |form2|
        = form2.input :observ_date, label: 'Date:', as: :string,
            input_html: {class: 'short', maxlength: 10, type: 'date'}, required: false
        = form2.input :locus_id, label: 'Location:', collection: Locus.suggestion_order,
            input_html: {class: 'suggest-combo'}, required: false
        = form2.input :taxon_id, label: 'Taxon:', collection: taxa_for_select,
            input_html: {class: 'suggest-combo'}, required: false
        %input#obs_limit{type: 'hidden', name: 'limit', value: 5}
        %button.obs_search_btn{type: 'button'} Search
  %tr
    %td.observation_list
      %h5 Current observations
      - unless media.new_record?
        %span.restore.pseudolink Restore original
      %ul.obs-list.current-obs
        -# Collection defined in such a way so that it works for unsaved images (unlike media.observations)
        = render partial: 'observations/obs_item', collection: Observation.where(id: media.observation_ids).preload(:taxon => :species, :card => :locus)
    %td.observation_options
      %h5 Found observations
      %ul.obs-list.found-obs
