-# frozen_string_literal: true
-# @body_class = 'wider'

- stylesheet 'public'

- @page_title = @half ? 'Half-mapped media' : 'Unmapped media'

%h1= page_header

%ul.horiz-list.admin-shortcuts
  %li= link_to 'Unmapped', {half: nil}
  %li= link_to 'Half-mapped', {half: true}

%div.thumbnails
  = render_justified @media.map(&:extend_with_class).map {|me| Thumbnail.new(url_for(id: me.slug, controller: me.class.to_s.downcase.pluralize, action: 'map_edit'), me.decorated.title, me)}

%div{data: {turbolinks: "true"}}
  = paginate @media
