-# frozen_string_literal: true
%li.observ_card{data: {id: card.id}}
  %ul.card_cell
    %li
      = hidden_field_tag("card_id[]", card.id)
      = link_to card.observ_date, day_path(card.observ_date)
      = surround('[', ']') do
        %b= link_to 'edit', edit_card_path(card), class: 'pseudolink'
    %li
      %small
        %i= card.locus.decorated.short_full_name
    %li
      %small
        = surround('[', ']') do
          = link_to 'show', card_path(card), class: 'pseudolink'
        = surround('[ ', ' ]') do
          = link_to edit_map_path(q: {card_id: card.id}), class: 'pseudolink' do
            map (#{card.mapped_percentage})
            = image_tag("/img/kml_logo.png", width: 16) if card.kml_url.present?
  %ul.card_cell
    %li
      Obs:
      %big= card.observations.size
      - if card.observations.empty?
        %small.voice.tag empty
    %li
      Taxa:
      %big= card.observations.merge(Observation.all).count("DISTINCT taxon_id")
    %li
      Species:
      %big= card.observations.merge(MyObservation.all).count("DISTINCT taxa.species_id")
      - new_sp_size = card.lifer_species_ids.size
      - if new_sp_size > 0
        %span.new_sp{title: "Lifers"} &#8727;
        %small<>= new_sp_size
      - if card.observations.empty?
        = default_destroy_link(card)
  %ul.card_cell
    %li
      - if card.post
        %small= post_link(card.post.decorated.title, card.post)
      - else
        %i.less-important.grayout No post
    - if @post
      %li= post_attach_detach_link(card, @post)
  %ul.card_cell
    %li

      - tag_class = card.effort_type.downcase
      %small{class: "#{tag_class} tag"}= card.effort_type

      - unless card.resolved
        %small.draft.tag UNRESOLVED

      - if card.ebird_id
        %small= link_to "eBird", "https://ebird.org/checklist/#{card.ebird_id}"

    %li.card_time
      = [card.start_time, card.duration_minutes.to_s, card.distance_kms.to_s].zip(["", " min", " km"]).delete_if {|v, _m| v.blank?}.map(&:join).join(", ")
      - card.observers.if_present do |observers|
        &bull;
        %b= observers
    - if card.motorless?
      %b Motorless
    - elsif !@post
      -# So that the link does not show on post page
      = link_to 'Mark motorless',
                card_path(card.id, {card: {motorless: true}, format: :json}),
                method: :put,
                remote: true, class: 'pseudolink mark_motorless'

    - params[:obs].if_present do |obs|
      = link_to 'Attach here', attach_card_path(card, obs: obs), class: 'pseudolink', data: {method: :post}

  - if card.notes.present?
    -# %span.ui-icon.ui-icon-comment.inline-block.notes-tooltip{"data-title" => card.decorated.notes}
    %div.card-notes
      = card.decorated.notes

  = render partial: 'partials/errors', object: card.errors

-# show separate observation on card search
- if @observation_search.try(:observation_filtered?)
  %ul
    - card.observations.each do |obs|
      = render 'observation_row', obs: obs
