%li.observ_card{data: {id: card.id}}
  %ul.card_cell
    %li
      = hidden_field_tag("card_id[]", card.id)
      = link_to card.observ_date, card
      = surround('[ ', ' ]') do
        %b= link_to 'edit', edit_card_path(card), class: 'pseudolink'
    %li
      %small
        %i= card.locus.name
  %ul.card_cell
    %li
      Obs:
      %big= card.observations.count
      - if card.observations.count == 0
        %small.voice.tag empty
    %li
      Taxa:
      %big= card.observations.merge(Observation.all).count("DISTINCT taxon_id")
    %li
      Species:
      %big= card.observations.merge(MyObservation.all).count("DISTINCT taxa.species_id")
      - new_sp_size = card.new_species_ids.size
      - if new_sp_size > 0
        %span.new_sp{title: "Lifers"} &#8727;
        %small<>= new_sp_size
      - if card.observations.count == 0
        = default_destroy_link(card)
  %ul.card_cell
    %li
      - if card.post
        %small= post_link(card.post.decorated.title, card.post)
      - else
        %i.less-important.grayout No post
      - if card.ebird_id
        %p= link_to "eBird Checklist", "http://ebird.org/ebird/view/checklist?subID=#{card.ebird_id}"
    - if @post
      %li= attach_detach_link(card)
  %ul.card_cell
    %li
      = surround('[ ', ' ]') do
        = link_to edit_map_path(q: {card_id: card.id}), class: 'pseudolink' do
          = card.mapped? ? "edit map (<b>#{card.mapped_percentage}</b>)".html_safe : '<b>MAP IT!</b>'.html_safe
          = image_tag("/img/kml_logo.png", width: 16) if card.kml_url.present?

      - tag_class = card.effort_type.downcase
      %small{class: "#{tag_class} tag"}= card.effort_type

      - unless card.resolved
        %small.draft.tag UNRESOLVED

    %li.card_time
      = card.start_time + ", " if card.start_time
      = card.duration_minutes.to_s + " min, " if card.duration_minutes
      = card.distance_kms.to_s + " km" if card.distance_kms

    - if params[:obs]
      = link_to 'Attach here', attach_card_path(card, obs: params[:obs]), class: 'pseudolink', data: {method: :post}

  - if card.notes.present?
    -#%span.ui-icon.ui-icon-comment.inline-block.notes-tooltip{"data-title" => card.decorated.notes}
    %div.card-notes
      = card.decorated.notes

  = render card.errors.extend(GenericErrors)

-# show separate observation on card search
- if @observation_search.try(:observations_filtered?)
  %ul
    - card.observations.each do |obs|
      = render 'observation_row', obs: obs
