%li.observ_card
  %div.card_cell
    = card.observ_date
    %br
    = card.locus.name
  %div.card_cell
    Obs:
    %big= card.observations.count
  %div.card_cell
    Species:
    %big= card.observations.merge(Observation.identified).count("DISTINCT species_id")
  %div.card_cell
    = post_link("POST >>", card.post)
    - if @post
      %div= attach_detach_link(card)
  %div.card_cell
    = link_to 'Show', card
    = link_to 'Edit', edit_card_path(card)
    = link_to 'Destroy', card, method: :delete, data: { confirm: 'Card will be destroyed' }
    - if params[:obs]
      = link_to 'Attach here', attach_card_path(card, obs: params[:obs]), class: 'pseudolink', data: {method: :post}

- if show_separate_observation_on_card_search?
  %ul
    - card.observations.each do |obs|
      = render 'observation_row', obs: obs
