%li
  %small
    = surround('[', ']') do
      = link_to(obs.id, observation_path(obs))
  %b= species_link(obs.species)
  = name_sci(obs.species)
  = obs.quantity
  = obs.notes
  = obs.place
  (#{obs.private_notes})
  %b= post_link('POST >>', obs.post)
  - if @post
    %span= attach_detach_link(obs)
  - if obs.voice
    %small.voice.tag voice
