-# frozen_string_literal: true
%li
  %small
    = surround('[', ']') do
      = link_to(obs.id, observation_path(obs))
  %b= taxon_link(obs.taxon)
  = name_sci(obs.taxon)
  %small.tag{class: "tag_#{obs.taxon.category}"}= obs.taxon.category
  = obs.quantity
  = obs.notes
  (#{obs.private_notes})
  %b= post_link('POST >>', obs.post)
  - if @post
    %span= attach_detach_link(obs)
  - if obs.voice
    %small.voice.tag voice
