- @wider = true

- javascript 'card_index'
- stylesheet 'forms'

- @page_title = 'Cards'

%h1= page_header

= render 'admin/shortcuts' if current_user.admin?

= render 'observations/search'

%ul.cards_list
  - if @search.observations_filtered?
    - @cards.each do  |card|
      = render card
      %ul
        - card.observations.each do |obs|
          = render 'observation_row', obs: obs

  - else
    = render @cards

= paginate @cards
