- @wider = true

- javascript 'card_index'
- stylesheet 'forms'

- @page_title = 'Cards'

%h1= page_header

= render 'admin/shortcuts' if current_user.admin?

= render 'observations/search'

%ul.cards_list
  - if @search.observations_filtered?
    - @cards.each do  |card|
      = render card
      %ul
        - card.observations.each do |obs|
          %li
            = link_to(obs.id, observation_path(obs))
            = obs.formatted.species_str
            = obs.formatted.when_where_str

  - else
    = render @cards

= paginate @cards
