-# frozen_string_literal: true
- @body_class = 'wider'
-# no_viewport is for very wide pages, e.g. with table
- @no_viewport = true

- javascript 'card_index'
- stylesheet 'forms'

- @page_title = 'Cards'

- provide :add_shortcuts do
  %li
    - if params.dig(:q, :resolved).to_s == 'false'
      - @page_title = 'Unresolved cards'
      = link_to 'Show all', cards_path
    - else
      = link_to 'Unresolved', cards_path(q: {resolved: false})

%h1= page_header

= render 'admin/shortcuts' if current_user.admin?

= simple_form_for @observation_search, url: cards_path, method: :get, html: {class: 'search'} do |form|
  = render 'observations/search_fields', form: form

= render 'search_results'
