- @page_title = 'Cards'

%h1= page_header

= render 'admin/shortcuts' if current_user.admin?

- @cards.each do |card|
  %div.observ_card
    = card.observ_date
    = card.locus.name
    = link_to 'Show', card
    = link_to 'Edit', edit_card_path(card)
    = link_to 'Destroy', card, :method => :delete, :data => { :confirm => 'Are you sure?' }

= paginate @cards
