-# frozen_string_literal: true
- stylesheet 'public'

- @page_title = "#{link_to l(@card.observ_date, format: :long), day_path(@card.observ_date)}, #{@card.locus.decorated.short_full_name}".html_safe

- provide :add_shortcuts do
  %li= link_to @card.mapped? ? 'Edit map' : '<b>MAP IT!</b>'.html_safe, edit_map_path(q: {card_id: @card.id})

= render 'admin/shortcuts' if current_user.admin?

%h1= page_header

- if notice
  %p#notice= notice

= @card.decorated.notes

- if @card.post || @card.secondary_posts.present?
  %h3 Posts
  %ul
    - @card.post.if_present do |post|
      %li
        %big
          %b= post_link(post.decorated.title, post)

    - @card.secondary_posts.if_present do |ps|
      - ps.each do |p|
        %li= post_link(p.decorated.title, p)


- @card.images.if_present do |images|
  %div.photos
    %h3 Photos
    %div.thumbnails
      = render_justified images.map(&:to_thumbnail)

= render partial: 'species/flat_section', object: @card

%h3 Observations

%ol
  - @card.observations.preload(:taxon => :species).each do |obs|
    = render 'observation_row', obs: obs
