- @page_title = "#{@card.observ_date}, #{@card.locus.name}"

%h1= page_header

= render 'admin/shortcuts' if current_user.admin?

%p#notice= notice

%ol
  - @card.observations.preload(:species).each do |obs|
    %li= species_link(obs.species)
