- stylesheet 'public'

- @page_title = "#{l(@card.observ_date, format: :long)}, #{@card.locus.name}"

= render 'admin/shortcuts' if current_user.admin?

%h1= page_header

- if notice
  %p#notice= notice

= @card.formatted.notes

- @card.images.if_present do |images|
  %div.photos
    %h3 Photos
    %ul.thumbnails
      = render partial: 'images/thumbnail', collection: images

- @card.species.if_present do |spcs|
  %h3 Species (#{spcs.size})
  %p
    = (spcs.map { |sp| species_link(sp) }.join(",\n") << ".").html_safe

%h3 Observations

%ol
  - @card.observations.preload(:species).each do |obs|
    = render 'observation_row', obs: obs
