- if @edit
  - javascript 'checklist_edit'

- @page_title = "%s %s" % [t('.title.checklist_for'), t(".country.#{@locus.slug}")]

%h1= page_header

%table.neat_table.checklist_table

  - i = 0

  - @checklist.group_by_taxonomy do |order, family, species_list|
    %tr.family_row
      %td
      %td{:colspan => 3}
        %h2= render partial: 'species/taxonomy', locals: {rank: :order, value: order}
        %h3= render partial: 'species/taxonomy', locals: {rank: :family, value: family}

    - species_list.each do |species|
      %tr
        %td.align-right= i += 1
        %td.names
          %b= species_link(species)
          = name_sci(species)
        %td= species.status
        %td.status_column
          - if @edit
            = hidden_field_tag("s[][id]", species.id)
            = text_area_tag("s[][n]", species.notes_ru, :size => "100x2")
          - else
            = species.notes_ru

- if @edit
  = submit_tag("Save", id: 'checklist_save')
