- @page_title = "%s %s" % [t('.title.checklist_for'), t(".country.#{@locus.slug}")]

%h1= page_header

%table.neat_table.checklist_table
  %tr
    %th.align-right
    %th= t '.table.name'
    %th= t '.table.sci_name'
    %th
    %th= t '.table.status'

  - i = 0

  - @checklist.group_by_family.each do |fam, species_list|
    %tr
      %td
      %td{:colspan => 4}
        %h3= "#{fam[:order].upcase}: #{fam[:family]}"
    - species_list.each do |species|
      %tr
        %td.align-right= i += 1
        %td= species_link(species)
        %td= name_sci(species)
        %td= species.status
        %td= species.notes_ru
