-# @body_class = 'wider'
-# This is rquired to be outside of cache
- @social_likes = true
- @canonical = country_url(protocol: 'http')
- @og_type = 'website'
- @js_features = [:justified]

- @page_title = t(".title.#{@country.slug}")

- cache(admin: current_user.admin?, key: CacheKey.gallery) do

  = render 'partials/translated'

  %div.header-with-subheader
    %h1= page_header
    = render "countries/gallery/subheader/#{@country.slug}"

  = render "countries/gallery/#{@country.slug}"
