-# @body_class = 'wider'
- @canonical = country_url(@country)
- @og_type = 'website'
- @meta_thumbnail = 'http://farm4.staticflickr.com/3492/3895472701_13ab6ba2e7.jpg'

- @page_title = t(".title.#{@country.slug}")

- cache(admin: current_user.admin?, key: CacheKey.gallery) do

  %div.header-with-subheader
    %h1= page_header
    - if @country.slug == 'ukraine'
      %ul.subheader-menu
        %li= link_to('Checklist', checklist_path(country: @country))

  = render "countries/gallery/#{@country.slug}"
