- stylesheet 'forms'

= render 'admin/shortcuts' if admin_session?

= simple_form_for @post do |form|

  = form.input :code
  = form.input :face_date, :as => :string, :label => 'Post date' unless @post.new_record?
  = form.input :title, :wrapper_html => {:class => 'block'}
  = form.input :text
  = form.input :topic, :collection => Post::TOPICS, :input_html => {:size => '3'}, :include_blank => false
  = form.input :status, :collection => Post::STATES, :input_html => {:size => '3'}, :include_blank => false
  - unless @post.lj_url_id.blank?
    %b LJ:
    = link_to(lj_post_url)
  = form.button :submit, :value => 'Save'