%article.post-box{:id => "post-#{post.code}", :class => post.status != 'OPEN' ? 'grayout' : nil}
  %header
    = content_tag(action_name == 'show' ? :h1 : :h2, link_to_unless_current(post.title, public_post_path(post)), :class => 'post-title')
    %time{:pubdate => 'pubdate'}= l(post.face_date, :format => :long)
    -#%small= post.topic

  = wiki_filter(post)
  - unless post.images.empty?
    %section= render :partial => 'images/thumbnail', :collection => post.images