-# frozen_string_literal: true
- cache ['blog', post, admin: current_user.admin?] do

  %div.post-box{id: "post-#{post.slug}"}
    %div.post{class: post_lang_classes(post), lang: post.lang}
      %div.header-with-subheader
        %h2= link_to(post.decorated.title, public_post_path(post))
        %i
          %time{datetime: post.face_date.iso8601}= l(post.face_date, format: :long)
        - unless post.public?
          %span.tag.draft Draft

      = render partial: "posts/other_lang_expand", locals: {post: post}

      %div{class: other_lang_unwrap(post)}
        = post.decorated.for_site.body

      - post.decorated.the_rest_of_images.if_present do |images|
        %div.thumbnails
          = render_justified images.map(&:to_thumbnail)

    - cache ['comment', post, post.comments.size, admin: current_user.admin?] do

      %ul.comment_links
        - post.comments.approved.size.yield_self do |cmt_count|
          - if cmt_count > 0
            %li.num_comments= link_to t('.comments', count: cmt_count), public_post_path(post, anchor: 'comments')
        - if current_user.admin?
          - post.comments.unapproved.size.yield_self do |cmt_count|
            - if cmt_count > 0
              %li.num_comments
                = link_to "#{cmt_count} hidden comment(s)", public_post_path(post, anchor: 'comments'), class: "tag draft"
        %li.add_comment= link_to t('.add_comment'), public_post_path(post, anchor: 'add_comment')
