.post-box{:id => "post-#{post.code}", :class => post.status != 'OPEN' ? 'grayout' : nil}
  %h2.post-title= link_to_unless_current post.title, public_post_path(post)

  %em.post-date= l(post.face_date, :format => :long)
  -#%small= post.topic

  = post_body(post)
%p
  %b Images:
%p
  - post.images.each do |img|
    - sp_url = img.observations.size > 1 ? 'Spp' : img.species.first.to_param
    = link_to image_tag("http://birdwatch.org.ua/aves/#{sp_url}/tn_#{img.code}.jpg"), public_image_path(img)