%div.post-box{id: "post-#{post.slug}"}
  %div.post
    %div.post-heading
      %h2.post-title= link_to(post_title(post), public_post_path(post))
      %time{pubdate: 'pubdate', datetime: post.face_date.iso8601}= l(post.face_date, format: :long)
      - unless post.public?
        %span.tag.draft Draft

    = wiki_filter(post.text)
    - post.images.if_present do |images|
      %div= render partial: 'images/thumbnail', collection: images

  %p.comment_links
    - post.comments.size.tap do |cmt_count|
      - if cmt_count > 0
        = succeed ' | ' do
          = link_to t('.comments', count: cmt_count), public_post_path(post, anchor: 'comments')
      = link_to t('.add_comment'), public_post_path(post, anchor: 'add_comment')
