-# frozen_string_literal: true
- post = shout

- cache ['blog', post, admin: current_user.admin?, locale: I18n.locale] do

  %div.post-box.shout-box{id: "post-#{post.slug}"}
    %div.post.shout
      %h2

        %time{datetime: post.face_date.iso8601}

          = link_to(l(post.face_date.to_date, format: :long), public_post_path(post))

          %i
            = post.face_date.strftime("%H:%M")

      = post.decorated(locale: I18n.locale).for_site.body
      -#- post.decorated.the_rest_of_images.if_present do |images|
      -#  %div.thumbnails
      -#    = render_justified images.map(&:to_thumbnail)

    - cache ['comment', post, post.comments.size, admin: current_user.admin?, locale: I18n.locale] do

      .comment_links
        - post.comments.approved.size.yield_self do |cmt_count|
          - if cmt_count > 0
            = link_to public_post_path(post, anchor: 'comments') do
              %span.num_comments= cmt_count
              %span.sr-only
                = t("posts.post.comment_declension", count: cmt_count)
                \|
        - if !Settings.disable_comments  
          = link_to public_post_path(post, anchor: 'add_comment'), title: t('posts.post.add_comment') do
            %i.fas.fa-comment
            %span.sr-only= t('posts.post.add_comment')
