- @page_title = "#{new_or_edit_label(@post)} post"

- javascript 'post_form'
- @js_features = [:wikiFields]

- bootstrap true

- stylesheet 'forms'

.container

  %h1= page_header

  = render 'admin/shortcuts' if current_user.admin?

  - if notice
    %p#notice= notice

  - if alert
    %p.errors= alert

  = simple_form_for @post do |form|

    .row
      .col-md-3.col-sm-6.col-xs-6
        = form.input :slug
      .col-md-3.col-sm-6.col-xs-6
        = form.input :face_date, label: 'Post date', input_html: {value: @post.face_date.strftime("%F %T")}, as: :string unless @post.new_record?
      .col-md-3.col-sm-6.col-lg-3
        = form.input :topic, collection: Post::TOPICS, as: :radio_buttons, item_label_class: "radio-inline", item_wrapper_tag: false, collection_wrapper_tag: 'div'
      .col-md-3.col-sm-6.col-lg-3
        = form.input :status, collection: Post::STATES, as: :radio_buttons, item_label_class: "radio-inline", item_wrapper_tag: false, collection_wrapper_tag: 'div'

    = form.input :title

    = form.input :text, label: false, input_html: {rows: 17, class: 'wiki_field'}
    %div
      = default_submit_button(form)
      - if @post.persisted?
        .pull-right
          = default_destroy_button(class: "btn btn-danger pull-right")

    %h3#card_attach Attach cards

    = simple_form_for @observation_search, url: cards_path, method: :get, remote: true, html: {class: 'search'} do |form|
      = render 'observations/search_fields', form: form
      = hidden_field_tag("new_post_id", @post.id)

    %ul.cards_list#search-results

    %h3 Dreamwidth / LJ
    %ul
      %li#lj_url_li
        - if @post.lj_data.blank?
          Not yet on Dreamwidth
        - else
          = link_to(@post.lj_url, @post.lj_url)

      %li= button_to('Post to Dreamwidth', {action: :lj_post}, {form: {id: 'lj_post'}, class: "btn btn-primary"})
