- @page_title = "#{new_or_edit_label(@post)} post"

- javascript 'post_form'
- @js_features = [:wikiFields]

- stylesheet 'forms'

%h1= page_header

= render 'admin/shortcuts' if current_user.admin?

- if notice
  %p#notice= notice

- if alert
  %p.errors= alert

= simple_form_for @post do |form|

  %div.form-horizontal
    = form.input :slug, wrapper: "horizontal_form", wrapper_html: {class: 'col-sm-6 col-xs-12'}
    = form.input :face_date,
                  wrapper: "horizontal_form",
                  wrapper_html: {class: 'col-sm-6 col-xs-12'},
                  label: 'Post date',
                  input_html: {value: @post.face_date.strftime("%F %T")}, as: :string unless @post.new_record?
  %div.clearfix
  = form.input :title, input_html: {class: 'long'}
  = form.input :text, input_html: {rows: 20, class: 'wiki_field'}, label_html: {class: "sr-only"}
  %div.row
    %div.col-lg-1.col-sm-2.col-xs-4
      = form.input :topic, collection: Post::TOPICS, input_html: {size: '3'}, include_blank: false
    %div.col-lg-1.col-sm-2.col-xs-4
      = form.input :status, collection: Post::STATES, input_html: {size: '3'}, include_blank: false
  .buttons
    = default_submit_button(form)
    = default_destroy_button if @post.persisted?

- if @post.persisted?

  %h3#card_attach Attach cards

  = simple_form_for @observation_search, url: cards_path, method: :get, remote: true, html: {class: 'search'} do |form|
    = render 'observations/search_fields', form: form
    = hidden_field_tag("new_post_id", @post.id)

  %ul.cards_list#search-results

  %h3 Livejournal
  %ul
    %li#lj_url_li
      - if @post.lj_data.blank?
        Not yet on Livejournal
      - else
        = link_to(@post.lj_url, @post.lj_url)

    %li= button_to('Post to LJ', {action: :lj_post}, {class: "btn btn-default", form: {id: 'lj_post'}})
