-# frozen_string_literal: true
- @page_title = "#{new_or_edit_label(@post)} post"

- javascript 'post_form'
- @js_features = [:wikiFields]

- stylesheet 'forms'

%h1= page_header

- if current_user.admin?
  %ul.horiz-list.admin-shortcuts
    - if action_name.in?(%w{edit update}) && controller.respond_to?(:show)
      %li= link_to 'Show this one', universal_public_post_path(@post)
    - if action_name.in?(%w{show}) && controller.respond_to?(:edit)
      %li= link_to 'Edit this one', edit_post_path(@post)
    - if controller.respond_to?(:new)
      %li= link_to 'Create new', action: :new
    = yield :add_shortcuts
    - if correcting?
      %li= link_to 'Correction', @correction

- if notice
  %p#notice= notice

- if alert
  %p.errors= alert

= simple_form_for @post do |form|

  %div
    = form.input :slug, required: false
    = form.input :face_date, label: 'Post date', input_html: {value: @post.face_date.strftime("%F %T")}, as: :string
    = form.input :lang, as: :select, collection: I18n.available_locales, include_blank: false
  %div
    = form.input :title, input_html: {class: 'long', required: false}
  = form.input :body, label: false, input_html: {rows: 20, class: 'wiki_field'}
  %div
    = form.input :topic, collection: Post::TOPICS, input_html: {size: '3'}, include_blank: false
    = form.input :status, collection: Post::STATES, input_html: {size: '3'}, include_blank: false
    = form.input :cover_image_slug
    = form.input :publish_to_facebook, label: "Publish to Facebook Instant Articles"
    = inject_correction_field

  .buttons
    = default_submit_button(form)

- if @post.persisted?

  %p= default_destroy_button

  %h3#card_attach Attach cards

  = simple_form_for @observation_search, url: cards_path, method: :get, remote: true, html: {class: 'search'} do |form|
    = render 'observations/search_fields', form: form
    = hidden_field_tag("new_post_id", @post.id)

  %ul.cards_list#search-results

  %h3 Livejournal
  %ul
    %li= link_to 'Show LJ version', for_lj_post_path(@post)
    %li#lj_url_li
      - if @post.lj_data.blank?
        Not yet on Livejournal
      - else
        = link_to(@post.lj_url, @post.lj_url)

    %li= button_to('Post to LJ', {action: :lj_post}, {form: {id: 'lj_post'}})
