-# frozen_string_literal: true
- @page_title = "#{new_or_edit_label(@post)} post"

- stylesheet 'forms'

%h1= page_header

- if current_user.admin?
  %ul.horiz-list.admin-shortcuts
    - if action_name.in?(%w{edit update}) && controller.respond_to?(:show)
      %li= link_to 'Show this one', universal_public_post_path(@post)
    - if action_name.in?(%w{show}) && controller.respond_to?(:edit)
      %li= link_to 'Edit this one', edit_post_path(@post)
    %li= link_to "All posts", posts_path
    = yield :add_shortcuts
    - if correcting?
      %li= link_to 'Correction', @correction

- if (core = @post.post_core)
  %div.post-core-summary
    %div.core-body
      %div.core-meta
        %b Slug:
        = link_to core.slug, edit_post_core_path(core), target: "_blank", rel: "noopener"
        %span.sep —
        %b Topic:
        = core.topic
      -# Re-query siblings fresh from DB so an unsaved/failed-update @post doesn't
      -# masquerade as a different language than what's actually persisted.
      - other_siblings = Post.where(post_core_id: core.id).where.not(id: @post.id).index_by(&:lang)
      %ul.core-translations
        - %w(uk ru en).each do |lang|
          - is_current = @post.persisted? && @post.lang == lang && other_siblings[lang].nil?
          - sibling = is_current ? @post : other_siblings[lang]
          %li
            %span.lang= lang.upcase
            - if sibling
              %span.date= sibling.face_date.strftime("%Y-%m-%d")
              %span.title= sibling.title.presence || "(untitled)"
              %span.actions
                = link_to "view", localized_public_post_path(sibling), target: "_blank", rel: "noopener"
                \|
                - if is_current
                  %span.current (this one)
                - else
                  = link_to "edit", edit_post_path(sibling), target: "_blank", rel: "noopener"
            - else
              %span.title= link_to "Create", new_post_path(post: { post_core_id: core.id, lang: lang }), class: "pseudolink"
    - cover_url = post_cover_image_url(core)
    - if cover_url
      %div.core-cover
        = image_tag(cover_url, alt: "Cover")

- if notice
  %p#notice= notice

- if alert
  %p.errors= alert

= simple_form_for @post do |form|
  - if @post.new_record?
    = form.hidden_field :post_core_id
  %div
    = form.input :face_date, label: 'Post date', input_html: {value: @post.face_date.strftime("%F %T")}, as: :string
    = form.input :lang, as: :select, collection: I18n.available_locales, include_blank: false
    = form.input :status, collection: Post::STATES, input_html: {size: '3'}, include_blank: false
  %div
    = form.input :title, input_html: {class: 'long', required: false}
  = form.input :body, label: false, input_html: {rows: 20, class: "wiki_field", data: {wiki_field: true}}
  = inject_correction_field

  .buttons
    = default_submit_button(form)

- if @post.persisted?

  %p= default_destroy_button

  - if @post.post_core
    %p
      Cards and observations attach to the post core.
      = link_to "Manage attached cards", edit_post_core_path(@post.post_core, anchor: "attached_cards")

  %h3 Livejournal
  %ul
    -# %li= link_to 'Show LJ version', for_lj_post_path(@post)
    %li#lj_url_li
      - if @post.lj_data.blank?
        Not yet on Livejournal
      - else
        = link_to(@post.lj_url, @post.lj_url)
    %li Posting to Livejournal disabled.
    -# %li= button_to('Post to LJ', {action: :lj_post}, {form: {id: 'lj_post'}})
