- @page_title = "#{new_or_edit_label(@post)} post"

- javascript 'post_form'
- @js_features = [:wikiFields]

- bootstrap true

- stylesheet 'forms'

.container

  %h1= page_header

  = render 'admin/shortcuts' if current_user.admin?

  - if notice
    %p#notice= notice

  - if alert
    %p.errors= alert

  = simple_form_for @post do |form|

    .row
      .col-md-3.col-sm-6
        = form.input :slug
      .col-md-3.col-sm-6.col-xs-7
        = form.input :face_date, label: 'Post date', input_html: {value: @post.face_date.strftime("%F %T")}, as: :string unless @post.new_record?
      .clearfix.visible-xs-block
      .col-md-3.col-sm-6.col-lg-3
        = form.input :topic, collection: Post::TOPICS, as: :radio_buttons, item_label_class: "radio-inline", item_wrapper_tag: false, collection_wrapper_tag: 'div'
      .col-md-3.col-sm-6.col-lg-3
        = form.input :status, collection: Post::STATES, as: :radio_buttons, item_label_class: "radio-inline", item_wrapper_tag: false, collection_wrapper_tag: 'div'

    = form.input :title

    = form.input :text, label: false, input_html: {rows: 17, class: 'wiki_field'}
    %div
      = default_submit_button(form)
      - if @post.persisted?
        .pull-right
          = default_destroy_button

  - if @post.persisted?
    %h3#card_attach Attach cards
    .panel.panel-default
      .panel-body
        = simple_form_for @observation_search, url: cards_path, method: :get, remote: true, wrapper: :vertical_form_small, html: {class: 'search'} do |form|
          = render 'observations/search_fields', form: form
          = hidden_field_tag("new_post_id", @post.id)

    %ul.cards_list#search-results

    %h3 Dreamwidth / LJ
    %p
      - if @post.lj_data.blank?
        Not yet on Dreamwidth
        - button_text = "Post to Dreamwidth"
      - else
        %span.lj-url
          DW:
          = link_to("whinchat/#{@post.lj_url.match(/(\d+)\.html$/)[1]}", @post.lj_url)
        - button_text = "Update the post"
      = link_to(button_text, {action: :lj_post}, {form: {id: 'lj_post'}, class: "btn btn-default btn-sm"})
