- @page_title = "#{new_or_edit_label(@post)} post"

- javascript 'post_form'

- stylesheet 'forms'

%h1= page_header

= render 'admin/shortcuts' if current_user.admin?

= simple_form_for @post do |form|

  %div
    = form.input :slug
    = form.input :face_date, label: 'Post date', input_html: {value: @post.face_date.strftime("%F %T")}, as: :string unless @post.new_record?
  %div
    = form.input :title, input_html: {class: 'long'}
  = form.input :text, label: false
  %div
    = form.input :topic, collection: Post::TOPICS, input_html: {size: '3'}, include_blank: false
    = form.input :status, collection: Post::STATES, input_html: {size: '3'}, include_blank: false
  .buttons
    = default_submit_button(form)

- if @post.persisted?

  %p= default_destroy_button

  %h3 Livejournal
  - if @post.lj_url_id.blank?
    Not yet on Livejournal
  - else
    = link_to(lj_post_url, lj_post_url)

  = button_to('Post to LJ', action: :lj_post)
