-# frozen_string_literal: true
- @js_controller = 'comments'

- javascript 'post_show_admin' if current_user.admin?

- @meta_thumbnail = post_cover_image_url(@post)
- @canonical = public_post_url(@post)
- @og_type = 'article'

- if @post.public?
  - provide :add_shortcuts do
    - if @post.status == 'OPEN'
      %li
        %b= link_to('Do not index!', {action: :update, post: {status: 'NIDX'}}, method: :put)
    - elsif @post.status == 'NIDX'
      %li
        %b= link_to('Make back indexable', {action: :update, post: {status: 'OPEN'}}, method: :put)

- @page_title = @post.decorated.title
- @meta_description = truncate(strip_tags(@post.decorated.for_site.body), length: 150, :separator=>" ").gsub(/\s+/, " ")

- unless @post.lj_data.blank?
  - provide :add_shortcuts do
    %li= link_to 'LJ Post', @post.lj_url

= render 'admin/shortcuts' if current_user.admin?

- cache @post do

  %div.post{id: "post-#{@post.slug}", class: post_lang_classes(@post), lang: @post.lang}
    = render partial: "posts/other_lang_notice", locals: {post: @post}
    %div.header-with-subheader
      %h1= @post.decorated.title
      - unless @post.shout?
        %i
          %time{datetime: @post.face_date.iso8601}= l(@post.face_date, format: :long)
      - unless @post.public?
        %span.tag.draft Draft

    = @post.decorated.for_site.body

    = render 'posts/sections/photos'

= render 'social/buttons'

- cache([:species_section, post_id: @post.id, key: CacheKey.lifelist, locale: I18n.locale]) do
  = render partial: 'species/flat_section', object: @post

= render 'posts/sections/comments'

- if current_user.admin?

  %hr

  %p= link_to('Add new card', new_card_path(card: {post_id: @post.id}))

  %p= link_to('Attach existing cards / observations', edit_post_path(@post, anchor: 'card_attach'))

  %ul.cards_list
    -# Template Dependency: cards/card
    = render @post.cards.default_cards_order(:asc).preload(:post, :locus)

    %ul
      - @post.observations.each do |obs|
        = render 'cards/observation_row', obs: obs
