- javascript 'comments'

- stylesheet 'formalize'

- @page_title = post_title(@post)

= render 'admin/shortcuts' if current_user.admin?

%article.post{:id => "post-#{@post.code}", :class => @post.status != 'OPEN' ? 'grayout' : nil}
  %header
    %h1.post-title= post_title(@post)
    %time{:pubdate => 'pubdate', :datetime => @post.face_date.iso8601}= l(@post.face_date, :format => :long)
    -#%small= @post.topic

  = wiki_filter(@post.text)
  - images = @post.images.all
  - unless images.empty?
    %section.photos
      %h3= t('.sections.photos')
      = render :partial => 'images/thumbnail', :collection => images

- unless @post.species.blank?
  %p
    %b= t('.sections.species')
    = @post.species.uniq.map { |sp| species_link(sp) }.join(",\n").html_safe

%h3#comments= t('.sections.comments')

= render @comments[0] if @comments[0]

%h4#add_comment= t('.add_comment')

= render "comments/form"

%p= link_to('Add more observations', add_observations_path(:post_id => @post.id)) if current_user.admin?

- unless @post.lj_url_id.blank?
  %p= link_to 'This post on Livejournal', lj_post_url