- javascript 'comments'
- javascript 'post_show_admin' if current_user.admin?

-# @meta_thumbnail = thumbnail_item(@post.images.to_a.first).try(:url) if @post.images.present?
- @canonical = public_post_path(@post, only_path: false)
- @og_type = 'article'

- if @post.public?
  - provide :add_shortcuts do
    - if @post.status == 'OPEN'
      %li
        %b= link_to('Do not index!', {action: :update, post: {status: 'NIDX'}}, method: :put)
    - elsif @post.status == 'NIDX'
      %li
        %b= link_to('Make back indexable', {action: :update, post: {status: 'OPEN'}}, method: :put)

- @page_title = @post.formatted.title

= render 'admin/shortcuts' if current_user.admin?

- cache @post do

  %div.post{id: "post-#{@post.slug}"}
    %div.header-with-subheader
      %h1= @post.formatted.title
      %i
        %time{datetime: @post.face_date.iso8601}= l(@post.face_date, format: :long)
      - unless @post.public?
        %span.tag.draft Draft

    = @post.formatted.for_site.text

= render 'social/buttons'

- @post.formatted.the_rest_of_images.if_present do |images|
  %div.photos
    %h2= t('.sections.photos')
    %div.thumbnails
      = render_justified images.map(&:to_thumbnail)

- @post.species.if_present do |spcs|
  %h3
    = t('.sections.species')
    - arr = [spcs.size]
    - arr << "из них #{t('my_stats.index.new_count_species', count: @new_species.size)}" if @new_species.size > 0
    = surround '(', ')' do
      = arr.join(", ")
  %p
    = (spcs.map { |sp| species_link_in_post(sp, @post) }.join(",\n") << ".").html_safe

- top_level_comments = @comments[0]

- if top_level_comments || notice.try(:has_key?, 0)

  %h2#comments= t('.sections.comments')

  - if top_level_comments
    = render top_level_comments

  - if notice.try(:has_key?, 0)

    %p.comment_screened= notice[0]

%h3#add_comment= t('.add_comment')

= render "comments/form"

- if current_user.admin?

  %hr

  %p= link_to('Add new card', new_card_path(card: {post_id: @post.id}))

  %p= link_to('Attach existing cards / observations', edit_post_path(@post, anchor: 'card_attach'))

  %ul.cards_list
    = render @post.cards.preload(:post, :locus)

    %ul
      - @post.observations.each do |obs|
        = render 'cards/observation_row', obs: obs

  - unless @post.lj_url_id.blank?
    %p= link_to 'This post on Livejournal', @post.lj_url
