- javascript 'comments'

- if @post.public?
  - provide :add_shortcuts do
    - if @post.status == 'OPEN'
      %li
        %b= link_to('Do not index!', {action: :update, post: {status: 'NIDX'}}, method: :put)
    - elsif @post.status == 'NIDX'
      %li
        %b= link_to('Make back indexable', {action: :update, post: {status: 'OPEN'}}, method: :put)

- @page_title = @post.formatted.title

= render 'admin/shortcuts' if current_user.admin?

- cache @post do

  %div.post{id: "post-#{@post.slug}"}
    %div.header-with-subheader
      %h1= @post.formatted.title
      %i
        %time{pubdate: 'pubdate', datetime: @post.face_date.iso8601}= l(@post.face_date, format: :long)
      - unless @post.public?
        %span.tag.draft Draft

    = @post.formatted.for_site.text

- @post.images.if_present do |images|
  %div.photos
    %h2= t('.sections.photos')
    %ul.thumbnails
      = render partial: 'images/thumbnail', collection: images

- @post.species.if_present do |spcs|
  %h3= t('.sections.species', count: spcs.size)
  %p
    = (spcs.map { |sp| species_link(sp) }.join(",\n") << ".").html_safe

- if @comments[0] || (notice && notice[0])

  %h2#comments= t('.sections.comments')

  - if @comments[0]
    = render @comments[0]

  - if notice && notice[0]

    %p.comment_screened= notice[0]

%h3#add_comment= t('.add_comment')

= render "comments/form"

- if current_user.admin?

  %hr

  %p= link_to('Add new card', new_card_path(card: {post_id: @post.id}))

  %ul.cards_list
    = render @post.cards

  - unless @post.lj_url_id.blank?
    %p= link_to 'This post on Livejournal', @post.lj_url
