- javascript 'comments'

- @page_title = post_title(@post)

= render 'admin/shortcuts' if current_user.admin?

%div.post{id: "post-#{@post.slug}"}
  %div.post-heading
    %h1.post-title= post_title(@post)
    %time{pubdate: 'pubdate', datetime: @post.face_date.iso8601}= l(@post.face_date, format: :long)
    - unless @post.public?
      %span.tag.draft Draft

  = wiki_filter(@post.text)
  - @post.images.if_present do |images|
    %div.photos
      %h2= t('.sections.photos')
      %ul.thumbnails
        = render partial: 'images/thumbnail', collection: images

- @post.species.if_present do |spcs|
  %p
    %b= t('.sections.species')
    = spcs.map { |sp| species_link(sp) }.join(",\n").html_safe

%h2#comments= t('.sections.comments')

= render @comments[0] if @comments[0]

%h3#add_comment= t('.add_comment')

= render "comments/form"

- if current_user.admin?

  %p= link_to('Add more observations', add_observations_path(post_id: @post.id))

  - unless @post.lj_url_id.blank?
    %p= link_to 'This post on Livejournal', lj_post_url
