-# frozen_string_literal: true

- javascript 'post_show_admin' if current_user.admin?

- @meta_thumbnail = post_cover_image_url(@post)
- @canonical = default_public_post_url(@post)
- @og_type = 'article'

- content_for :translated do
  %ul.translated
    - other_locales.each do |new_locale|
      - @localized_versions[new_locale].yield_self do |loc_post|
        - if loc_post
          %li
            - link_hash = amended_params({id: loc_post.slug, locale: new_locale == I18n.default_locale ? nil : new_locale})
            = link_to link_hash, lang: new_locale, hreflang: new_locale, rel: :alternate, class: "translated-link translated-link-#{new_locale}" do
              %span<>= t("translated.#{new_locale}")

- if @post.public?
  - provide :add_shortcuts do
    - if @post.status == 'OPEN'
      %li
        %b= link_to('Do not index!', {action: :update, post: {status: 'NIDX'}}, method: :put)
    - elsif @post.status == 'NIDX'
      %li
        %b= link_to('Make back indexable', {action: :update, post: {status: 'OPEN'}}, method: :put)

- @page_title = @post.decorated.title

- if @post.lj_data.present?
  - provide :add_shortcuts do
    %li= link_to 'LJ Post', @post.lj_url

- if current_user.admin?
  %ul.horiz-list.admin-shortcuts
    - if action_name.in?(%w{edit update}) && controller.respond_to?(:show)
      %li= link_to 'Show this one', universal_public_post_path(@post)
    - if action_name.in?(%w{show}) && controller.respond_to?(:edit)
      %li= link_to 'Edit this one', edit_post_path(@post)
    - if controller.respond_to?(:new)
      %li= link_to 'Create new', action: :new
    = yield :add_shortcuts
    - if correcting?
      %li= link_to 'Correction', @correction

- cache [@post, { locale: I18n.locale }] do
  %div.post{id: "post-#{@post.slug}", class: post_lang_classes(@post), lang: @post.lang}
    = render partial: "posts/other_lang_notice", locals: {post: @post}
    %div.header-with-subheader
      %h1= @post.decorated.title
      - unless @post.shout?
        %i
          %time{datetime: @post.face_date.iso8601}= l(@post.face_date, format: :long)
      - unless @post.public?
        %span.tag.draft Draft

    = @post_body

    = render 'posts/sections/photos'

= render 'social/buttons'

- cache([:species_section, post_id: @post.id, key: Quails::CacheKey.lifelist, locale: I18n.locale]) do
  = render partial: 'species/flat_section', object: @post

= render 'posts/sections/comments'

- if current_user.admin?

  %hr

  %p= link_to('Add new card', new_card_path(card: {post_id: @post.id}))

  %p= link_to('Attach existing cards / observations', edit_post_path(@post, anchor: 'card_attach'))

  %ul.cards_list
    -# Template Dependency: cards/card
    = render @post.cards.default_cards_order(:asc).preload(:post, :locus)

    %ul
      - @post.observations.each do |obs|
        = render 'cards/observation_row', obs: obs
