- javascript 'ujs'

- @page_title = 'Authorities'

%h1= page_header

= render 'admin/shortcuts' if current_user.admin?

%table.neat_table.loci_index
  %tr
    %th Slug
    %th Name
    %th Description
    %th Species
    %th

  - @authorities.each do |author|
    %tr
      %td= link_to author.slug, authority_path(author)
      %td= author.name
      %td
        %i
          %small= author.description
      %td.align-center= link_to author.book_species.count, authority_book_species_index_path(author)
      %td= default_destroy_link(author)
