%h2= t(".#{@year_progress_cell.type}")

.year-summary
  = render partial: "cells/#{@year_progress_cell.type}", object: @year_progress_cell

- if new_year_mode
  %h2
    = t(".#{@year_summary_cell.type}")
    &ndash;
    = @year_summary_cell.year

  .year-summary
    = render partial: "cells/year_summary", object: @year_summary_cell
