- @page_title = "Архив блога"

- @robots = 'NOINDEX'

- @jumbo_image = "https://bwua-static.s3.eu-central-1.amazonaws.com/mergus-jumbo.jpg"

- content_for :jumbo do

  %h1= page_header


= render 'filters/years'

%div.fluid-row

  - @archive.each do |year, months|
    %div.fluid-column.span_3
      %h2= link_to("#{t('blog.year.year')} #{year}", year_path(year: year))
      %ul
        - months.each do |month|
          %li
            = link_to t('date.month_names')[month.raw_month.to_i], month_path(year: year, month: "%02d" % month.raw_month)
            (#{month.posts_count})
