- @page_title = t('.title')

%div.header-with-subheader
  = feed_icon
  %h1.over-header
    = page_header
  %ul.subheader-menu
    %li= link_to(t('menu.archive'), action: :archive)

= render @posts

- if @prev_month
  %nav.month-navigation.front_page_prev
    = link_to t('.previous_posts'), month_path(@prev_month)
    (#{[t('date.month_names')[@prev_month[:month].to_i], @prev_month[:year]] * ' '})
