- @page_title = t('.title')

%div.header-with-subheader
  %h1.over-header= page_header
  %div.subheader-menu
    = link_to(t('menu.archive'), action: :archive)
    &bull;
    = link_to(t('misc.feed'), {:controller => :feeds, :action => @feed, :format => :xml})

= render @posts

- if @prev_month
  %nav.month-navigation.front_page_prev
    = link_to t('.previous_posts'), month_path(@prev_month)
    (#{[t('date.month_names')[@prev_month[:month].to_i], @prev_month[:year]] * ' '})
