- @js_features = [:videoQuality]

- @page_title = t('.title')

- @jumbo_image = "https://c1.staticflickr.com/9/8345/8198280055_0391dba330_b.jpg"

- translated(url: {controller: :images, action: :index})

- content_for :jumbo do

  %h1
    = page_header

- content_for :jumbo_side do
  %ul.subheader-menu
    %li= link_to(t('menu.archive'), action: :archive)
    = feed_list_item

- cache [@posts, admin: current_user.admin?] do

  = render @posts

  - if @prev_month
    %nav.front_page_prev
      = link_to t('.previous_posts'), month_path(@prev_month)
      (#{[t('date.month_names')[@prev_month[:month].to_i], @prev_month[:year]] * ' '})
