- @page_title = t('.title')

- cache [@posts, admin: current_user.admin?] do

  = render 'partials/translated'

  %div.header-with-subheader
    %h1.over-header
      = page_header
    %ul.subheader-menu
      %li= link_to(t('menu.archive'), action: :archive)
      = feed_list_item

  = render @posts

  - if @prev_month
    %nav.front_page_prev
      = link_to t('.previous_posts'), month_path(@prev_month)
      (#{[t('date.month_names')[@prev_month[:month].to_i], @prev_month[:year]] * ' '})
