-# frozen_string_literal: true
- @page_title = t('.title')
- @meta_thumbnail = 'https://bwua-static.s3.eu-central-1.amazonaws.com/kingfisher-thumb.jpg'
- @meta_description = t(".meta_description")
- @canonical = root_url
- @og_type = "website"

- @jumbo_image = "https://bwua-static.s3.eu-central-1.amazonaws.com/whitethroat-jumbo.jpg"

- content_for :jumbo do
  = render partial: 'partials/translated', locals: {url: {controller: :images, action: :index}}
  %h1
    = page_header

- content_for :jumbo_side do
  %ul.subheader-menu
    %li= link_to(t('menu.archive'), action: :archive)
    = render "partials/feed_list_item"

- cache [@posts, admin: current_user.admin?] do

  = render @posts

  - if @prev_month
    %nav.front_page_prev
      = link_to t('.previous_posts'), month_path(@prev_month)
      (#{[t('date.month_names')[@prev_month[:month].to_i], @prev_month[:year]] * ' '})
