-# frozen_string_literal: true
- @page_title = capture do
  #{t('date.month_names')[@month.to_i]} #{link_to(@year, year_path(@year))}

- @robots = 'NOINDEX'

- content_for :translated do
  = render partial: 'partials/translated', locals: { blog: true }

%h1.over-header<= page_header

= render @posts

%nav.month-navigation
  = link_to "<< #{t('.previous')}", month_path(@prev_month) if @prev_month
  = link_to "#{t('.next')} >>", month_path(@next_month) if @next_month
