- @page_title = "#{t('.year')} #{@year}"

%h1= page_header

= render 'partials/years'

- @months.each do |month, posts|
  %h2= "#{link_to(t('date.month_names')[month.to_i], month_path({:year => @year, :month => month}))}".html_safe
  %ul
    - posts.each do |post|
      %li= "#{post.day}: #{post_link(post_title(post), post)}".html_safe
