- @page_title = "#{t('.year')} #@year"

%h1= page_header

= render 'partials/years'

- @months.each do |month, posts|
  %h2
    = link_to month_path({:year => @year, :month => month}) do
      = t('date.month_names')[month.to_i]
  %ul
    - posts.each do |post|
      %li
        #{post.day}:
        = post_link(post_title(post), post)
