-# frozen_string_literal: true
- @page_title = "#{t('.year')} #@year"

- @robots = 'NOINDEX'

%h1= page_header

= render 'filters/years'

- @months.each do |month, posts|
  %h2
    = link_to t('date.month_names')[month.to_i], month_path({:year => @year, :month => month})
  %ul
    - posts.each do |post|
      %li
        #{post.day}:
        = post_link(post.decorated.title, post)
