-# frozen_string_literal: true

- admin_nav_classes = %w[w-full px-3 py-1 bg-neutral-800 text-neutral-300 font-admin font-bold text-sm text-center]

- if current_user.admin?
  %nav{class: admin_nav_classes}
    %ul.list-none.p-0.m-0
      = admin_menu_item "+Post", new_post_path, adder: true
      = admin_menu_item "+Card", new_card_path, adder: true
      = admin_menu_item "+Image", new_image_path, adder: true
      = admin_menu_item "Drafts", hidden_posts_path
      = admin_menu_item "Species", admin_species_index_path
      = admin_menu_item "Cards", cards_path
      = admin_menu_item "eBird", ebird_imports_path
      = admin_menu_item "Comments", comments_path
      = admin_menu_item "Locations", loci_path
      = admin_menu_item "Videos", videos_path
      = admin_menu_item "Reports", reports_path
      = admin_menu_item "Map Edit", edit_map_path
      %li.inline-block.mr-2
        = link_to "Jobs", "/jobs", target: "_blank", rel: :noopener, class: App2Helper::ADMIN_LINK_CLASSES
        = render "app2/admin/failing_jobs_badge"
      %li.inline-block.mr-2= "|"
      = admin_menu_item "Photostream", images_path
      = admin_menu_item "Stats", reports_stats_path
      = admin_menu_item t("menu.lifelist"), advanced_list_path(locale: nil)
      = admin_menu_logout logout_path

- elsif has_trust_cookie?
  %nav{class: admin_nav_classes}
    %ul.list-none.p-0.m-0
      = admin_menu_item "Login", login_path
