- if current_user.admin?
  %nav.admin-menu
    %ul.admin-menu-list
      %li.adder= link_to '+Post', new_post_path
      %li.adder= link_to '+Card', new_card_path
      %li.adder= link_to '+Image', new_image_path
      %li= link_to 'Drafts', hidden_posts_path
      %li= link_to 'Species', admin_species_index_path
      %li= link_to 'Cards', cards_path
      %li= link_to 'eBird', ebird_imports_path
      %li= link_to 'Comments', comments_path
      %li= link_to 'Locations', loci_path
      %li= link_to 'Videos', videos_path
      %li= link_to 'Reports', reports_path
      %li= link_to 'Map Edit', edit_map_path
      %li= link_to 'Deflicker', deflicker_path
      %li
        = link_to 'Resque', "/resque", target: "_blank"
        = render "app2/admin/resque_badge"

      %li= "|"

      %li= link_to 'Photostream', images_path
      %li= link_to 'Stats', reports_stats_path
      %li= link_to t('menu.lifelist'), advanced_list_path(locale: nil)

      %li= link_to "Logout", logout_path, class: "logout_btn"

- elsif has_trust_cookie?
  %nav.admin-menu
    %ul.admin-menu-list
      %li
        = link_to 'Login', login_path
