-# frozen_string_literal: true
- if defined?(total_count)
  - i = total_count - lifer_counter

- if defined?(count_reached)
  - i = count_reached + lifer_counter

%tr
  %td
    = i
  %td
    - canonical_sp = lifer.taxon.ebird_taxon.nearest_species.taxon.species
    - seen_sp = lifer.taxon.species
    %b= lifer.taxon.ebird_taxon.nearest_species.name_en
    = name_sci(lifer.taxon.ebird_taxon.nearest_species)
    %div
      %a.tag-link{href: "#my", data: {turbolinks: "false"}}
        %small.tag.tag-crow.fas.fa-crow{title: "My species"}
      %small= species_link(canonical_sp)
    - if seen_sp != canonical_sp
      %div
        %a.tag-link{href: "#seen", data: {turbolinks: "false"}}
          %small.tag.tag-eye.fas.fa-eye{title: "Actually seen"}
        %small= species_link(seen_sp)

  %td.place_td
    = post_link(content_tag(:time, l(lifer.card.observ_date, :format => :long), {datetime: lifer.card.observ_date.iso8601}), lifer.main_post || lifer.post, true)
    %span.lifer_locus= lifer.patch_or_locus.public_locus.decorated.full_name

