-# frozen_string_literal: true
- unless hide_banners?
  - cache [:banners_footer, admin: current_user.admin?] do
    %div.footer_banners
      .banner-group
        %div.banner_holder.birdingtop_holder
          = include_birdingtop_button
        %div.banner_holder.ebird_banner
          = link_to "https://ebird.org/ebird/profile/MjEzNjU4/world", target: "_blank", rel: "me nofollow noopener" do
            %span.inner
              = image_tag("ebird-logo.png", alt: "eBird", width: 63, height: 27)
              %span profile

      .banner-group
        %div.banner_holder.fb_banner
          = link_to "https://www.facebook.com/birdwatch.org.ua/", class: "img", target: "_blank", rel: "nofollow noopener" do
            %span.inner
              facebook page
        %div.banner_holder.flickr_banner
          = link_to "https://www.flickr.com/photos/phenolog/", class: "img", target: "_blank", rel: "me nofollow noopener" do
            %span.inner
              My Flickr
