- stylesheet "forms"
- @page_title = "Deflicker"

%h1 Flickr photos

%p
  = button_to "Refresh", deflicker_refresh_path, class: "button"

%p
  - I18n.with_locale :en do
    = page_entries_info @photos, entry_name: "photo"

= simple_form_for @search, as: "", url: deflicker_path, method: :get do |f|
  = f.input :public, as: :radio_buttons,
            label: "Privacy",
            collection: [["All", ""], ["Public", true], ["Private", false]],
            include_hidden: false

  = f.input :removed, as: :radio_buttons,
            label: "Status",
            collection: [["On flickr", false], ["Removed", true]],
            include_hidden: false

  = f.input :on_site, as: :radio_buttons,
            label: "Site status",
            collection: [["All", ""], ["On the site", true], ["Not on site", false]],
            include_hidden: false

  = f.submit "Filter", name: nil, class: "button"

%table.neat_table{style: "width: 100%;"}
  -#%tr
  -#  %th
  -#
  -#  %th
  -#
  - @photos.each do |photo|
    %tr
      %td
        = link_to "https://www.flickr.com/photos/phenolog/#{photo.flickr_id}/", class: "img", target: :blank do
          = image_tag(photo.url_s)
      %td
        %div
          %b= photo.title
        %div
          Uploaded:
          = photo.uploaded_at.strftime("%F %T")
        %div
          Views:
          = photo.views
        - if photo.slug
          %div
            &bull;
            = link_to "/photos/#{photo.slug}" do
              %b= photo.slug

        - if photo.machine_tags.present?
          %div
            %code
              %u= photo.machine_tags
      %td
        %div
          - if photo.public?
            %span.tag.good Public
          - else
            %span.tag.alert Private
        %div
          - if photo.removed?
            %span.tag.alert Removed
        %div
          - if photo.slug
            %span.tag.good On site
          - else
            %span.tag.alert Not site

- I18n.with_locale :en do
  = paginate @photos
