- @meta_description = "Птицы Украины с фотографиями"

:textile
  #{t(".intro", url: checklist_path(country: 'ukraine'))}

- if FacebookSdk.configured? && @social_likes
  %p= render 'social/fb_like'

- if VkontakteSdk.configured? && @social_likes
  %p= render 'social/vk_like'

- species_rarity = @species.group_by {|s| s.status.match(/\?|\-/).nil? }

- [true, false].each do |common|
  - if sps = species_rarity[common]
    %h2= t(".is_common.#{common}")

    %div.thumbnails
      = render_justified sps.map(&:to_thumbnail)
