-# frozen_string_literal: true
- stylesheet 'forms'

- @page_title = "Editing #{@taxon.name_sci} [#{link_to @book.name, @book}]".html_safe

%h1= page_header

= render 'admin/shortcuts' if current_user.admin?

- if notice
  %p#notice= notice

- if @taxon.avibase_id.present?
  = link_to @taxon.avibase_id, avibase_species_url(@taxon.avibase_id)

= simple_form_for [@book, @taxon] do |form|
  %div
    = form.input :name_sci, :label => 'Scientific name', :input_html => {:class => 'larger'}
    = form.input :authority
  %div
    Legacy species:
    = @taxon.legacy_species.name_sci
    = form.input :name_en, :label => 'English name'
  %div
    = form.input :name_ru, :label => 'Russian name'
    = form.input :name_uk, :label => 'Ukrainian name'
  %div
    = form.input :order, :input_html => {:disabled => true}
    = form.input :family, :input_html => {:disabled => true}
  %div
    = form.input :avibase_id, :label => 'Avibase ID'
    = form.input :index_num, :label => 'Index number', :input_html => {:disabled => true, :size => 10, :type => :text }
  .buttons
    = default_submit_button(form)
