- cache([:lifelist_chart, year: lifelist_chart.year, key: Quails::CacheKey.lifelist, locale: I18n.locale]) do
  %div.lifelist-chart-container
    .lifelist-chart-year-bars
      %table.lifelist-chart-table
        %thead
          %tr
            %th.lifelist-chart-th{colspan: 3}
              = t("lifelist_chart.number_of_species")
        %tbody
          = render partial: "cells/lifelist_chart/table_row", locals: {data: lifelist_chart.all.first, row_class: "current_year"}
          - lifelist_chart.all[1..-1].each do |data|
            = render partial: "cells/lifelist_chart/table_row", locals: {data: data, row_class: nil}
    .lifelist-chart-lifers
      %div
        %h5= t("lifelist_chart.lifers_header")
        %div.lifers-count
          = lifelist_chart.lifers.size
      %ol.lifers-list
        - lifelist_chart.lifers.each do |lifer|
          %li
            = species_link_long(lifer.species)
            -#%div= tag.time(l(lifer.observ_date, format: :long), datetime: lifer.observ_date.iso8601)

