-# frozen_string_literal: true
%table.neat_table
  %tr
    %th.align-right No
    %th Name
    %th Code & Concept
    %th Taxonomy
    %th Taxon & Species

  - @taxa.each do |taxon|
    %tr
      %td.align-right
        = taxon.index_num
      %td
        %div
          %b
            %i
              = link_to taxon do
                = term_highlight(taxon.name_sci, @term)
          %small{class: [:tag, "tag_#{taxon.category}"]}= taxon.category
        %div
          - name_str = [:name_en, :name_ioc_en].map {|m| taxon.public_send(m)}.uniq.compact.join(", ")
          = term_highlight(name_str, @term)
      %td
        %div= taxon.ebird_code
        %div
          %small.less-important= taxon.taxon_concept_id
      %td
        %div= taxon.order
        %div= taxon.family
      %td
        - if tx = taxon.taxon
          %div
            %span.less-important Taxon:
            = taxon_link(tx, tx.name_sci)
          - if tx.full_species? && (sp = tx.species)
            %div
              %span.less-important Species:
              = species_link(sp, sp.name_sci)
        - else
          = button_to "Promote to taxon", promote_ebird_taxon_path(taxon)

- if @taxa.is_a?(Kaminari::ActiveRecordRelationMethods)
  = paginate @taxa
