-# frozen_string_literal: true
- @page_title = @taxon.name_sci

= render 'admin/shortcuts' if current_user.admin?

%h1
  = page_title
  %small{class: [:tag, "tag_#{@taxon.category}"]}= @taxon.category

%p
  %i= @taxon.order
  &bull;
  %i= @taxon.family


%h2= @taxon.name_en

%p
  %b Name IOC:
  = @taxon.name_ioc_en
  \|
  %b eBird code:
  = @taxon.ebird_code
  \|
  %b Taxon concept id:
  = @taxon.taxon_concept_id

- if (tx = @taxon.taxon)
  %div
    %span.less-important Taxon:
    = taxon_link(tx, tx.name_sci)
  - if tx.full_species? && (sp = tx.species)
    %div
      %span.less-important Species:
      = species_link(sp, sp.name_sci)
- else
  = button_to "Promote to taxon", promote_ebird_taxon_path(@taxon)

- @taxon.parent.if_present do |parent|
  %h3 Parent

  &bull;
  = link_to parent.name_sci, parent

- @taxon.children.if_present do |chd|
  %h3 Children
  %ul
    - chd.each do |child_tx|
      %li= link_to tx.name_sci, child_tx
