- i = @lifelist.size + 1
- sorter = params[:sort].nil? ? :first_seen_date : :last_seen_date
- @lifelist.group_by {|s| s.send(sorter).year}.each do |year, species_list|
  - if params[:year].blank?
    %tr
      %td
      %td{:colspan => 5}
        %h3= "%s seen in %d" % [params[:sort].nil? ? 'First' : 'Last', year]
  - species_list.each do |sp|
    - first_date = l(sp.first_seen_date, :format => :long)
    - last_date = l(sp.last_seen_date, :format => :long)
    %tr
      %td.align-right= "#{i -= 1}."
      %td
        = species_link(sp)
        = name_sci(sp)
      %td.align-right
        %time= post_link(first_date, sp.post, true)
      %td.align-right
        %time= post_link(last_date, sp.last_post, true)
      %td.align-right= sp.count