- @page_title = 'Environment'

%h1= page_title

%dl
  %dt Ruby version
  %dd= "#{RUBY_ENGINE}-#{RUBY_VERSION}-p#{RUBY_PATCHLEVEL}"

  %dt Rails version
  %dd= Rails.version

  - if defined? Thin
    %dt Thin version
    %dd= Thin::SERVER rescue nil

  - if defined? Unicorn
    %dt Unicorn version
    %dd= Unicorn::Const::UNICORN_VERSION rescue nil

  %dt Environment
  %dd= Rails.env
