- @page_title = 'Environment'

%h1= page_title

%dl
  %dt Ruby version
  %dd #{RUBY_ENGINE}-#{RUBY_VERSION}-p#{RUBY_PATCHLEVEL}

  %dt Rails version
  %dd= Rails.version

  %dt Rack release
  %dd= Rack.release

  - if server_software = request.env['SERVER_SOFTWARE']
    %dt Server Software
    %dd= server_software

  %dt Rails Environment
  %dd= Rails.env

  %dt Quails Environment
  %dd= Quails.env

  - if $revision
    %dt Revision
    %dd
      :textile
        ["#{$revision}":https://github.com/khustochka/quails/commit/#{$revision}]

        #{$commit}

%h3 Counts

%ul
  %li Posts: #{Post.count}
  %li Images: #{Image.count}
  %li Observations: #{Observation.count}
  %li Spots: #{Spot.count}
