- @page_title = 'Research tasks'

%h1= @page_title

%ul
  %li
    %b= link_to('Advanced lifelist', {:action => :lifelist})
  %li= link_to('Find species seen after more than a year', {:action => :more_than_year})
  %li= link_to('Species to take photos (no picture at all or long time since last captured)', {:action => :topicture})
  %li= link_to('Images and posts of this day', {:action => :day})