- @page_title = 'Research tasks'

%h1= page_header

%h3= link_to('Statistics', action: :stats)

%ul
  %li= link_to('Number of species up to day', {:action => :uptoday})
  %li= link_to('Find species seen after more than a year', {:action => :more_than_year})
  %li= link_to('Species to take photos (no picture at all or long time since last captured)', {:action => :topicture})
  %li= link_to('Species mostly recorded by voice', {:action => :voices})
  %li= link_to('Images and posts of this day', {:action => :day})
  %li= link_to('Compare lists of two regions', {:action => :compare})

%h3= link_to('Environment', action: :environ)

%h3= link_to('Insights', action: :insights)
