- @page_title = 'Insights'

%h1= page_title

%div.fluid-row

  %div.fluid-column

    %h3 Counts

    %ul
      %li
        Posts: #{Post.count}
        %ul.no-margin-list
          %li public: #{Post.public_posts.count}
          %li indexable: #{@index_posts}
      %li
        Approved comments: #{@comments}
        %ul.no-margin-list
          %li not by admin: #{@user_comments}
      %li
        Images: #{Image.count}
        %ul.no-margin-list
          %li indexable: #{@index_images}
      %li Cards: #{Card.count}
      %li Observations: #{Observation.count}
      %li Spots: #{Spot.count}
      %li Indexed species: #{@index_species}
      %li
        %b
          Total indexable (posts + images + species):
          = @index_posts + @index_images + @index_species
