- @page_title = 'Insights'

%h1= page_title

%h3 Counts

%ul
  %li
    Posts: #{Post.count}
    %ul
      %li public: #{Post.public.count}
  %li Images: #{Image.count}
  %li Cards: #{Card.count}
  %li Observations: #{Observation.count}
  %li Spots: #{Spot.count}

- @facebook_like = true

- if FacebookSdk.configured? && @facebook_like
  %div.fb-activity{"data-app-id" => FacebookSdk.config.code, "data-width" => 300, "data-height" => 600,
           "data-header" => "true", "data-recommendations" => "false"}
