- sort = params[:sort]
- @page_title = "Lifelist #{sort.nil? ? "by date" : sort.sub('_', ' ')}"

%h1= @page_title

= render 'lifelist/menus', :sort_options => {'date' => nil, 'count' => 'count', 'taxonomy' => 'class'}

%ul.horiz-list.filter-list
  %strong Months:
  - (1..12).to_a.insert(0, nil).each do |m|
    %li
      - if m.nil?
        = params[:month].nil? ? 'All' : link_to('All', params.merge(:month => nil))
      - else
        = link_to_unless_current(m, params.merge(:month => m))

- if @lifelist.blank?
  %p No species
- else
  = render sort.nil? ? 'by_date' : sort
