- @page_title = 'Species seen after more than a year'

%h1= link_to('Research', research_path) + ' : ' + @page_title

%table.neat_table
  %th Species
  %th= link_to_unless_current('Last seen ⇓', params.merge({:sort => :date1}))
  %th= params[:sort].nil? ? 'Seen again ⇓' : link_to('Seen again ⇓', params.merge(:sort => nil))
  %th= link_to_unless_current('Days ⇓', params.merge({:sort => :days}))

  - @list.each do |el|
    %tr
      %td= species_link(el[:sp])
      %td= el[:date1]
      %td= el[:date2]
      %td.align-right= el[:days]