-# frozen_string_literal: true
-# no_viewport is for very wide pages, e.g. with table
- @no_viewport = true

- @page_title = 'Legacy species'

%h1= page_header

= render 'admin/shortcuts' if current_user.admin?

%table.neat_table
  %tr
    %th.align-right No
    %th.align-center Code
    %th Scientific name
    %th Names
    %th.align-center Avibase id

  - @species.group_by_taxonomy do |order, family, species_list|
    %tr
      %td
      %td
      %td{:colspan => 4}
        %h2.order= render partial: 'species/taxonomy', locals: {rank: :order, value: order}
        %h3.family= render partial: 'species/taxonomy', locals: {rank: :family, value: family}
    - species_list.each do |species|
      %tr
        %td.align-right= species.index_num
        %td.align-center
          %b= species.code
        %td
          %i
            %b= link_to(species.name_sci, legacy_species_path(species))
          = species.authority
          %div
            %small proto:
            %i.less-important= species.protonym
        %td
          - %w(en ru uk fr).each do |lang|
            %div
              %i.less-important.monospace= "#{lang}:"
              = species.send("name_#{lang}")
        %td.align-center
          %small= link_to species.avibase_id, avibase_species_url(species.avibase_id)
