-# frozen_string_literal: true
- @page_title = 'Species by number of countries'

%h1= reports_page_header

- @result.each do |num, species|
  %h2 Seen in #{num} countries (#{species.size} species)
  - if num > 1
    %ul
      - species.each do |sp|
        %li
          = species_link(sp)
          = name_sci(sp)
