-# no_viewport is for very wide pages, e.g. with table
- @no_viewport = true

- @page_title = 'Compare two regions'
- i = 0

%h1= reports_page_header

%ul.horiz-list.filter-list
  %li= link_to('Kiev / Brovary', {loc1: 'kiev', loc2: 'brovary'})
  %li= link_to('Kiev obl / Kherson obl', {loc1: 'kiev_obl', loc2: 'kherson_obl'})
  %li= link_to('Kiev obl / Ukraine', {loc1: 'kiev_obl', loc2: 'ukraine'})
  %li= link_to('Ukraine / USA', {loc1: 'ukraine', loc2: 'usa'})
  %li= link_to('USA / Canada', {loc1: 'usa', loc2: 'canada'})

%table.neat_table
  %tr
    %th.align-right No
    %th Scientific name
    %th.align-center
      = name1 = @loc1.name
      %br
      (#{@loc1_species.size})
    %th.align-center
      = name2 = @loc2.name
      %br
      (#{@loc2_species.size})

  - @species.group_by_taxonomy do |order, family, species_list|
    %tr
      %td
      %td{:colspan => 3}
        %h2.order= render partial: 'species/taxonomy', locals: {rank: :order, value: order}
        %h3.family= render partial: 'species/taxonomy', locals: {rank: :family, value: family}
    - species_list.each do |species|
      %tr
        %td.align-right= i += 1
        %td
          = species_link(species)
          = name_sci(species)
        %td.align-center= locus_check(name1) if species.in?(@loc1_species)
        %td.align-center= locus_check(name2) if species.in?(@loc2_species)
