-# frozen_string_literal: true
- @page_title = 'Environment'

%h1= page_title

%dl
  %dt Ruby version
  %dd= RUBY_DESCRIPTION

  %dt Rubygems version
  %dd= Gem::VERSION

  %dt Bundler version
  %dd= Bundler::VERSION

  %dt Rails version
  %dd= Rails.version

  %dt Rack release
  %dd= Rack.release

  - request.env['SERVER_SOFTWARE'].if_present do |server_software|
    %dt Server Software
    %dd= server_software

  %dt Rails Environment
  %dd= Rails.env

  %dt Quails Environment
  %dd= Quails.env

  %dt Database software version
  %dd= @pg_version

  %dt Collation / ctype
  %dd
    = @collate["datcollate"]
    \/
    = @collate["datctype"]

  - ENV["DOCKER_IMAGE"].yield_self do |docker_image|
    - if docker_image
      %dt Docker image
      %dd= docker_image

  - Quails.revision.yield_self do |revision|
    - if revision.present?
      %dt Revision
      %dd
        = link_to revision.sha[0..7], "https://bitbucket.org/khustochka/quails/commits/#{revision.sha}"
        = simple_format(revision.message)
