-# frozen_string_literal: true
- @page_title = 'Environment'

%h1= page_title

%dl
  %dt Ruby version
  %dd= RUBY_DESCRIPTION

  %dt Rails version
  %dd= Rails.version

  %dt Rack release
  %dd= Rack.release

  - request.env['SERVER_SOFTWARE'].if_present do |server_software|
    %dt Server Software
    %dd= server_software

  %dt Rails Environment
  %dd= Rails.env

  %dt Quails Environment
  %dd= Quails.env

  %dt Database software version
  %dd= @pg_version

  %dt LC_COLLATE (should be "C")
  %dd= @lc_collate

  %dt LC_CTYPE (should be "en_US.UTF8")
  %dd= @lc_ctype

  - if $revision
    %dt Revision
    %dd
      - if defined?($revision) && $revision.present?
        = link_to $revision[0..7], "https://bitbucket.org/khustochka/quails/commits/#{$revision}"
        = simple_format($commit)

