-# frozen_string_literal: true
- @page_title = 'Reports and settings'

%h1= page_header

%h3= link_to('Statistics', action: :stats)

%ul
  %li= link_to('Number of species year to date', {action: :uptoday})
  %li= link_to('Yearly chart', {action: :charts})
  %li= link_to('Species found after more than a year', {action: :more_than_year})
  %li= link_to('Start of year contest', {action: :year_contest})
  %li= link_to('Pictured species stats', {action: :topicture})
  %li= link_to('Species mostly recorded by voice', {action: :voices})
  %li= link_to('Images and posts of this day', {action: :this_day})
  %li= link_to('Compare lists of two regions', {action: :compare})
  %li= link_to('Species by number of countries', {action: :by_countries})
  %li= link_to('Month targets', {action: :month_targets})

%h3 Review tasks:

%ul
  %li= link_to('Bulk review and correct', corrections_path)
  %li= link_to('5MR', reports_five_mile_radius_path)
  %li
    = link_to('Half-mapped media', {controller: :media, action: :unmapped, half: true})
    %b (#{Media.half_mapped.size})
    \/
    = link_to('Unmapped media', {controller: :media, action: :unmapped})
  %li= link_to('Unflickred images', unflickred_photos_path)
  %li= link_to('Unused flickr images', flickr_unused_path)
  %li= link_to('Flickr "Birds of Ukraine" photos with CC license', flickr_bou_cc_path)
  %li= link_to('Flickr search', flickr_path)
  %li= link_to('Posted as Facebook instant articles', facebook_posts_path)

%h3
  = link_to('Environment', action: :environ)
  &bull;
  = link_to('DB Insights', action: :insights)
  &bull;
  = link_to('Settings', settings_path)
  &bull;
  = link_to('PG Analysis', "/pg_extras")

%ul
  %li
    %b= link_to('Clear cache', clear_cache_path, method: :post)
  %li
    = link_to('Send test email', send_test_email_path, method: :post)  
  %li= link_to('Intentionally produced Server Error', reports_server_error_path)
