-# frozen_string_literal: true
-# no_viewport is for very wide pages, e.g. with table
- @no_viewport = true

- @page_title = "Species found after #{@period} days"

%h1= reports_page_header

%table.neat_table
  %th Species
  %th= sorting_link_to(:date1, "Last encounter")
  %th= sorting_link_to(nil, "Found again")
  %th= sorting_link_to(:days, "Days")

  - @list.each do |el|
    %tr
      %td= species_link(el[:sp])
      %td= link_to el[:date1], day_path(el[:date1])
      %td= link_to el[:date2], day_path(el[:date2])
      %td.align-right= el[:days]
