-# frozen_string_literal: true
-# no_viewport is for very wide pages, e.g. with table
- @no_viewport = true

- @page_title = 'Statistics'

%h1= reports_page_header

= render 'filters/years'

= render partial: 'filters/loci', locals: {loci_filter_label: 'Countries:'}

%table.neat_table.statistics
  %tr
    %th Year
    %th Observ
    %th Days
    %th Species
    %th Lifers

  - @year_data.each do |row|
    %tr
      %td= row.year
      %td= row.count_obs
      %td= row.count_days
      %td= row.count_species
      %td= @first_sp_by_year[row.year] rescue nil

%p
  eBird eligible cards this year:
  %b.stats_num= @ebird_eligible_this_year

%table.neat_table.statistics
  %tr
    %th Month
    %th Observ
    %th Species
    %th Lifers

  - (1..12).each do |month|
    %tr
      - @month_data[month].tap do |row|
        %td= t('date.month_names')[month.to_i]
        %td= row.count_obs rescue 0
        %td= row.count_species rescue 0
        %td= @first_sp_by_month[row.month] rescue nil

%h2 Рекордные дни

%h3
  %i — По количеству наблюдений за день

%table.neat_table.statistics
  %tr
    %th Date
    %th Observations
    %th Locations

  - @day_by_obs.each do |row|
    %tr
      %td.nowrap= link_to l(row.observ_date, format: :long), day_path(row.observ_date)
      %td= row.count_obs
      %td= @locs_for_day_by_obs[row.observ_date].map {|c| c.locus.short_name}.join(", ")

%h3
  %i — По количеству видов за день

%table.neat_table.statistics
  %tr
    %th Date
    %th Species count
    %th Locations

  - @day_by_species.each do |row|
    %tr
      %td.nowrap= link_to l(row.observ_date, format: :long), day_path(row.observ_date)
      %td= row.count_species
      %td= @locs_for_day_by_species[row.observ_date].map {|c| c.locus.short_name}.join(", ")

%h3
  %i — По количеству видов в одной местности

%table.neat_table.statistics
  %tr
    %th Date
    %th Species count
    %th Location

  - @day_and_loc_by_species.each do |row|
    %tr
      %td.nowrap= link_to l(row.observ_date, format: :long), day_path(row.observ_date)
      %td= row.count_species
      %td= @preloaded_locs[row.locus_id].short_name

%h3
  %i — По количеству новых видов за день

%table.neat_table.statistics
  %tr
    %th Date
    %th Lifers
    %th Locations

  - (@day_by_new_species || []).each do |row|
    %tr
      %td.nowrap= link_to l(row.observ_date, format: :long), day_path(row.observ_date)
      %td= row.count_species
      %td= @locs_for_day_by_new_species[row.observ_date].map {|c| c.card.locus.short_name}.join(", ")
