-# frozen_string_literal: true
- @page_title = 'Images and posts of the day'

%h1= reports_page_header

%h2= sprintf("%s %s", t("date.month_names")[@month.to_i], @day)

%p
  = link_to("<< previous #@prev_day", {:day => @prev_day}) if @prev_day
  = precede ' | ' do
    = link_to("next #@next_day >>", {:day => @next_day}) if @next_day

- @images.each do |img|
  %h3= link_to img.decorated.title, image_path(img)
  %p
    %i= img.species.map(&:name_sci) * ', '
  %p= image_tag(jpg_url(img))
  %p
    = succeed ", " do
      = link_to l(img.observ_date, :format => :long), day_path(img.observ_date)
    = img.locus.decorated.short_full_name
