-# frozen_string_literal: true
- @page_title = 'Species to take pictures of'

%h1= reports_page_header

%p
  Species with media:
  %b= @species_with_media

%div
  %div.column_layout
    %h2 No pictures at all

    %table.neat_table
      %th &nbsp;
      %th Species
      %th Observations

      - @no_photo.each_with_index do |sp, i|
        %tr
          %td.align-right= "#{i+1}."
          %td= species_link(sp)
          %td.align-right= sp.cnt

  %div.column_layout
    %h2 Latest new species pictured

    %table.neat_table
      %th &nbsp;
      %th Species
      %th Add date

      - @new_pics.each_with_index do |sp, i|
        %tr
          %td.align-right= "#{i+1}."
          %td= species_link(sp)
          %td.align-right= sp.add_date

%div
  %div.column_layout
    %h2 Long time no photo

    %table.neat_table
      %th &nbsp;
      %th Species
      %th Last photo taken

      - @long_time.each_with_index do |sp, i|
        %tr
          %td.align-right= "#{i+1}."
          %td= species_link(sp)
          %td.align-right= sp.lastphoto


  %div.column_layout
    %h2 Latest pictured after > 2yrs

    %table.neat_table
      %th &nbsp;
      %th Species
      %th Last photo
      %th Photo again

      - @recent_2yrs.each_with_index do |el, i|
        %tr
          %td.align-right= "#{i+1}."
          %td= species_link(el[:sp])
          %td= el[:date1]
          %td= el[:date2]
