-# frozen_string_literal: true
- @page_title = 'Number of species year to date'

%h1= reports_page_header

= render partial: 'filters/loci', locals: {loci_filter_label: 'Countries:'}

%h2
  = link_to "<", day: @prev_day.strftime("%m-%d"), locus: params[:locus]
  = l(@this_day, format: :long)
  = link_to ">", day: @next_day.strftime("%m-%d"), locus: params[:locus]

= render partial: @cell, locals: { include_lifers: false, highlight_max: true }
