-# frozen_string_literal: true
- stylesheet 'forms'

- @page_title = "Edit flickr photo data"

%h1= page_header

%ul.horiz-list.admin-shortcuts
  %li= link_to('Show', image_path(@image))
  %li= link_to('Edit', edit_image_path(@image))
  %li= link_to('Flickr link', flickr_photo_path(@image))
  %li= link_to('Map', edit_map_image_path(@image))

= render partial: 'partials/errors', object: @photo.errors

%p
  = link_to @photo.page_url, class: "img" do
    = image_tag(thumbnail_item(@image).try(:full_url), class: 'flickr_image')

- if _FlickrClient.valid?

  = form_tag(flickr_photo_path(@photo), method: :put) do
    %table.neat_table.flickr_info
      %thead
        %tr
          %th
          %th Generated
          %th On flickr
      %tr
        %th Title:
        %td= text_field_tag(:title, @photo.title)
        %td= @photo.info.title
      %tr
        %th Descr:
        %td= text_area_tag(:description, @photo.description)
        %td= @photo.info.description
      %tr
        %th Tags:
        %td= text_area_tag(:tags, @photo.tags)
        %td= @photo.info.tags

    = submit_tag 'Post info'

  %h2 Date taken:

  = form_tag(flickr_photo_path(@photo), method: :put) do
    %table.neat_table.flickr_info
      %tr
        %th Taken:
        %td= text_field_tag(:date_taken, @photo.date_taken)
        %td= @photo.info.date_taken

    = submit_tag 'Post date'

- else
  %div.errors No Flickr API key or secret defined!
