- @page_title = "Add image"

%h1= page_header

%ul.horiz-list
  %li= link_to('Skip to simple add form', new_image_path)

= form_tag(upload_images_path, multipart: true) do
  %p
    %label{for: "image"} Select file
    = file_field_tag 'image'
    %label
      To flickr
      = check_box_tag 'to_flickr'
    = submit_tag "Upload"

%div.flickr_result

  = render partial: 'flickr_photos/flickr_images', object: @flickr_images
