- @page_title = "Add image"

%h1= page_header

%ul.horiz-list
  %li= link_to('Skip to simple add form', new_image_path)

= form_tag(upload_images_path, multipart: true) do
  %p
    %label{for: "image"} Select file
    = file_field_tag 'image'
    = submit_tag "Upload"

- @flickr_images.each do |img|
  = link_to(new_image_path(i: {flickr_id: img.id})) do
    = image_tag(FlickRaw.url_m(img))
