-# frozen_string_literal: true
- stylesheet 'forms'
- javascript 'image_flickr'

- @page_title = [@image.on_flickr? ? 'Flickred' : 'Unflickred', @image.decorated.title].join(": ")

%h1= page_header

%ul.horiz-list.admin-shortcuts
  %li= link_to('Show', image_path(@image))
  %li= link_to('Edit', edit_image_path(@image))
  %li= link_to('Map', edit_map_image_path(@image))

= render @photo.errors.extend(GenericErrors)

%p
  - if @image.on_flickr?
    This image is
    %b= link_to "linked to flickr photo", @photo.page_url
    \//
    = link_to "Edit flickr photo data", edit_flickr_photo_path(@image)
    = form_tag({action: :destroy, id: @image.slug}, method: 'DELETE') do
      = submit_tag "Detach"
  - else
    This image is not linked to flickr photo.
    = form_tag flickr_photos_path do
      = hidden_field_tag("id", @image.slug)
      = hidden_field_tag("public", "0")
      %div.input.flat
        %label
          = check_box_tag 'public', 1, true
          Public
        = submit_tag("Upload to flickr")

  - if @image.on_storage?
    %p This image is stored in Active Storage.
  - else
    %p
      This image is not stored in Active Storage.
    - if @image.on_flickr?
      = form_tag push_to_storage_flickr_photo_path(@image) do
        = submit_tag("Push to storage")

  - if flash[:job]
    %p= flash[:job]


%h3 Find a picture:

%table.with_search.flickr_search_table
  %tr
    %td{rowspan: 2, valign: 'top'}
      = image_tag(@image.thumbnail_variant, class: 'image_pic')
      = form_tag flickr_photos_path(format: :json), class: "flickr_edit", remote: true do
        = hidden_field_tag("id", @image.slug)
        = hidden_field_tag("flickr_id")
    %td.flickr_search
      - if _FlickrClient.valid?
        %input.string.short#user_id{name: 'user_id', type: 'hidden', value: flickr_admin.user_id}
        %div.input.string
          %label.string Text:
          %input.string#text{name: 'text', type: 'text', value: @image.species.map(&:name_sci).join(' ')}
        %div.input.string
          %label.string Date:
          %input.string.short#flickr_date{name: 'flickr_date', maxlength: '10', type: 'date', value: @image.observ_date}
        %button.flickr_search_btn{type: 'button'} Search
      - else
        %div.errors No Flickr API key or secret defined!
  %tr
    %td.found_pictures
      %div.flickr_result

= link_to("Next unflickred image >>", flickr_photo_path(@next), class: 'next_unflickred') if @next
