- i = 0
- @lifelist.group_by_taxonomy do |order, family, species_list|
  %h5= "%s: %s" % [order.upcase, family]
  %ol
    - species_list.each do |sp|
      %li.lifer_row{:value => i += 1}
        %span
          = species_link(sp)
          = name_sci(sp)
        %time= l(sp.first_seen_date, :format => :long)
        = post_link('>>', sp.post)
