- stylesheet 'forms', 'autocomplete'
- use_jquery
- javascript JQ_UI_FILE, 'tmpl', 'suggest_over_combo', 'images'

- observ_search = @image.search_applicable_observations

= render 'admin/shortcuts' if current_user.admin?

= simple_form_for @image do |form|

  - if @image.errors.any?
    %ul.errors
      - @image.errors.full_messages.each do |msg|
        %li= msg

  %div
    = form.input :code
    = form.input :title

  %p= image_tag(jpg_url(@image, true), :class => 'image_pic')

  %table
    %tr
      %td.observation_search{:colspan => 2}
        = simple_form_for observ_search, :url => observations_path, :method => :get do |form2|
          = form2.input :observ_date_eq, :label => 'Date:',
              :input_html => {:class => 'short', :maxlength => 10, :type => 'date'}
          = form2.input :locus_id_eq, :label => 'Location:', :collection => Locus.all_ordered,
              :label_method => :name_en, :input_html => {:class => 'suggest-combo'}
          = form2.input :species_id_eq, :label => 'Species:', :collection => species_for_select,
              :label_method => :name_sci, :input_html => {:class => 'suggest-combo'}
          %button{:class => 'search_btn', :type => 'button'} Search
    %tr
      %td.observation_list
        %h5 Current observations
        %ul.obs-list.current-obs
          - @image.observations.each do |ob|
            %li
              %input{:type => :hidden, :value => ob.id, :name => 'image[observation_ids][]'}
              %div
                %span= obs_species_span(ob)
                %span= obs_when_where_span(ob)
              %span.pseudolink.remove= image_tag('/images/x_alt_16x16.png')
      %td.observation_options
        %h5 Found observations
        %ul.obs-list.found-obs

  %div
    = form.input :description
    = form.input :index_num, :input_html => { :size => 10, :type => :text }
  .buttons
    = form.button :submit, :value => 'Save'