- stylesheet 'forms', 'autocomplete'
- use_jquery
- javascript JQ_UI_FILE, 'tmpl', 'suggest_over_combo', 'images'

- observ_search = @image.search_applicable_observations

= render 'admin/shortcuts' if current_user.admin?

= simple_form_for @image do |form|

  - if @image.errors.any?
    %ul.errors
      - @image.errors.full_messages.each do |msg|
        %li= msg

  %div
    = form.input :code
    = form.input :title

  %p= image_tag(jpg_url(@image, true), :class => 'image_pic')

  %table.observations_block
    %tr
      %td.observations_list
        Observations:
        - unless @image.observations.empty?
          %b= @image.locus.name_en
          %time= l(@image.observ_date, :format => :long)
        %ul.obs-list
          - @image.observations.each do |ob|
            %li
              %input{:type => :hidden, :value => ob.id, :name => 'image[observation_ids][]'}
              %i= ob.species.name_sci
              %span.pseudolink.remove= image_tag('/images/x_alt_12x12.png')
      %td.observations_search
        = simple_form_for observ_search, :url => observations_path, :method => :get do |form2|
          = form2.input :observ_date_eq, :label => 'Date:', :input_html => {:type => 'date'}
          = form2.input :locus_id_eq, :label => 'Location:', :collection => Locus.all_ordered, :label_method => :name_en,
              :input_html => {:class => 'suggest-combo'}

  %div
    = form.input :description
    = form.input :index_num, :input_html => { :size => 10, :type => :text }
  .buttons
    = form.button :submit, :value => 'Save'