= simple_form_for @image do |form|

  -if @image.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@image.errors.count, "error")} prohibited this #{Image.name.titleize} from being saved:"
      %ul
        - @image.errors.full_messages.each do |msg|
          %li= msg  

  = form.input :code
  = form.input :title

  %p= image_tag(jpg_url(@image, true), :class => 'image_pic')

  %div.observations_list
    %div
      %label Observations:
      %span.pseudolink (add/edit)
    - if @image.observations.empty?
      %p None.
    - else
      -# Using SimpleForm's collection_check_boxes will require some hack
      = form.association :observations, :collection => @image.observations, :as => :check_boxes, :label => false, :disabled => true,
        :label_method => lambda {|ob| [ob.species.name_sci, ob.observ_date, ob.locus.name_en].join(', ')}, :value_method => :id

  = form.input :description
  = form.input :index_num, :as => :string

  = form.button :submit, :value => 'Save'