- observ_search = @image.search_applicable_observations

= simple_form_for @image do |form|

  -if @image.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@image.errors.count, "error")} prohibited this #{Image.name.titleize} from being saved:"
      %ul
        - @image.errors.full_messages.each do |msg|
          %li= msg  

  = form.input :code
  = form.input :title

  %p= image_tag(jpg_url(@image, true), :class => 'image_pic')

  %table.observations_block
    %tr
      %td.observations_list
        Observations:
        - if @image.observations.empty?
          %p None.
        - else
          = form.association :observations, :collection => @image.observations, :as => :check_boxes, :label => false, :disabled => true,
            :label_method => lambda {|ob| [ob.species.name_sci, ob.observ_date, ob.locus.name_en].join(', ')}, :value_method => :id
      %td.observations_search
        = simple_form_for observ_search, :url => observations_path, :html => {:method => :get} do |form2|
          = form2.input :observ_date_eq, :label => 'Date:', :required => false, :input_html => {:type => 'date'}
          = form2.input :locus_id_eq, :label => 'Location:', :collection => Locus.all_ordered, :label_method => :name_en,
              :required => false, :input_html => {:class => 'suggest-combo'}


  = form.input :description
  = form.input :index_num, :as => :string

  = form.button :submit, :value => 'Save'