- posts = image.posts(current_user.available_posts)

%p
  Снято
  = succeed ', ' do
    %i<
      %time{datetime: image.observ_date.iso8601} #{l(image.observ_date, :format => :long)}

  = succeed('.') do
    = image.public_locus.name

  - if posts.present?
    %h3 Почитать:
    %ul
      - posts.each do |post|
        %li= post_link(post.formatted.title, post, true)

= image.formatted.description
