- extra_data = current_user.admin? && request.format == 'text/html'

- data = extra_data ? thumbnail.data : nil

- size_class = ["thumb_#{thumbnail.width}x#{thumbnail.height}"]
- wrapper_class = size_class
- video_class = thumbnail.video? ? ["video-thumb"] : []

%figure.image_thumb{data: data, class: size_class + video_class}<>
  - img_class = []
  - img_class << "map_strip_img" if @strip
  - if thumbnail.dummy_dimensions?
    - img_class << "fake_dimensions"
  - else
    - img_class << size_class
  - img_attrs = {alt: t('images.alt_photo'), class: img_class}
  - img_attrs.merge!({width: thumbnail.width, height: thumbnail.height}) if @strip && !thumbnail.dummy_dimensions?
  - url_object = thumbnail.image.image? ? thumbnail.image.thumbnail_variant : thumbnail.asset_url
  = link_to image_tag(url_object, img_attrs), localize_url(thumbnail.url, only_path: true), class: "thumb-img-link"
  %figcaption.imagetitle
    = link_to localize_url(thumbnail.url, only_path: true) do
      - if thumbnail.title.is_a? String
        = thumbnail.title
      - else
        = render thumbnail.title
