-# frozen_string_literal: true
- @body_class = 'wider'
-# This is required to be outside of cache
- @canonical = country_images_url(page: params[:page])
- @og_type = 'website'
- @meta_description = t(".meta_description.#{@country.slug}")
- @meta_thumbnail = ImagesController::COUNTRY_THUMBNAILS[@country.slug]

- if params[:page]
  - @robots = 'NOINDEX'

- @page_title = t(".title.#{@country.slug}")

- content_for :translated do
  = render 'partials/translated'

- do_not_cache = params[:page]
- cache_unless(do_not_cache, admin: current_user.admin?, key: Quails::CacheKey.gallery) do
  %div.header-with-subheader
    %h1= page_header
    %ul.subheader-menu
      %li= link_to t('menu.photos'), {action: 'index', controller: 'images'}
      - (ImagesController::COUNTRIES - [@country.slug]).map do |country|
        %li= link_to t("images.country.link_text.#{country}"), country_images_path(country: country)

  - if params[:page]
    %h3
      %i= t('misc.page', n: params[:page])

  %div.thumbnails
    = render_justified @thumbs.map(&:to_thumbnail)

  %div
    = paginate @thumbs
