- stylesheet 'forms'
- javascript 'image_flickr'

- @page_title = "Edit: #{@image.slug}"

%h1= page_header

%ul.horiz-list
  %li= link_to('Show', action: :show)
  %li= link_to('Edit', action: :edit)

%p
  - if @image.on_flickr?
    This image is linked to flickr photo
    = link_to nil, "http://www.flickr.com/photos/#{Settings.flickr_admin.user_id}/#{@image.flickr_id}/"
    = form_tag({action: :patch}, method: 'post') do
      = hidden_field_tag 'image[flickr_id]', nil
      = submit_tag "Detach"
  - else
    This image is not linked to flickr photo. Legacy picture:

%p= image_tag(jpg_url(@image))

- if FlickrApp.configured?
  %h3 Find a picture:

  %table.with_search.flickr_search_table.with_search
    %tr
      %td
        = simple_form_for @image,url: patch_image_path(@image, :json), remote: true, method: :post, html: {class: 'flickr_edit'} do |form|
          = form.input :flickr_id, as: :hidden
      %td.flickr_search
        %input.string.short#flickr_user_id{name: 'flickr_user_id', type: 'hidden', value: Settings.flickr_admin.user_id}
        %div.input.string
          %label.string Text:
          %input.string#flickr_text{name: 'flickr_text', type: 'text', value: @image.species.map(&:name_sci).join(' ')}
        %div.input.string
          %label.string Date:
          %input.string.short#flickr_date{name: 'flickr_date', maxlength: '10', type: 'date', value: @image.observ_date}
        %button.flickr_search_btn{type: 'button'} Search
    %tr
      %td.found_pictures{colspan: 2}
- else
  %div.errors No Flickr API key or secret defined!

= link_to("Next unflickred image >>", edit_flickr_image_path(@next), class: 'next_unflickred') if @next
