- stylesheet 'forms'
- javascript 'image_form'

- @page_title = "#{new_or_edit_label(@image)} image"

%h1= page_header

- if @image.persisted?
  - provide :add_shortcuts do
    %li= link_to 'Edit map', action: :map_edit
    %li
      = link_to action: :flickr_edit do
        - if @image.on_flickr?
          Edit flickr data
        - else
          %b Link to flickr!

= render 'admin/shortcuts' if current_user.admin?

%p
  - if @image.on_flickr?
    This image is linked to flickr photo.

  - elsif @image.persisted?
    This image is not linked to flickr photo.

  = link_to('Edit flickr data', action: :flickr_edit) if @image.persisted?

- if @image.persisted?
  %p= image_tag(thumbnail_item(@image).full_url, class: 'image_pic')

- if flash[:alert]
  %div.errors= flash[:alert]

- if @image.errors.any?
  %ul.errors
    - @image.errors.full_messages.each do |msg|
      %li= msg

= simple_form_for @image, html: {class: 'image'} do |form|

  %div
    = form.input :slug
    = form.input :title
    = form.input :has_old_thumbnail

  %table.with_search
    %tr
      %td.observation_search{colspan: 2}
        = simple_fields_for @image.search_applicable_observations do |form2|
          = form2.input :observ_date, label: 'Date:', as: :string,
              input_html: {class: 'short', maxlength: 10, type: 'date'}, required: false
          = form2.input :locus_id, label: 'Location:', collection: Locus.suggestion_order,
              input_html: {class: 'suggest-combo'}, required: false
          = form2.input :species_id, label: 'Species:', collection: species_for_select,
              input_html: {class: 'suggest-combo'}, required: false
          %input#obs_limit{type: 'hidden', name: 'limit', value: 5}
          %button.obs_search_btn{type: 'button'} Search
    %tr
      %td.observation_list
        %h5 Current observations
        - unless @image.new_record?
          %span.restore.pseudolink Restore original
        %ul.obs-list.current-obs
          = render partial: 'observations/obs_item', collection: @image.observations.preload(:species, :card => :locus)
      %td.observation_options
        %h5 Found observations
        %ul.obs-list.found-obs

  %div
    - unless @image.persisted?
      = form.input :flickr_id, as: :hidden
    = form.input :description
    = form.input :index_num, input_html: { size: 10, type: :text }
  .buttons
    = default_submit_button(form)

- if @image.persisted?
  %p= default_destroy_button
