- use_jquery

- @page_title = 'Listing images'

%h1= @page_title

%table.neat_table
  %tr
    %th
    %th Code
    %th Title
    %th Index
    %th

  - @images.each do |image|
    %tr
      %td.thumbnail= link_to image_tag(jpg_url(image, true)), public_image_path(image)
      %td= link_to image.code, edit_image_path(image)
      %td= image.title
      %td.align-right= image.index_num
      %td= default_destroy_link(image)

= paginate @images
