- @body_class = 'wider'

- @page_title = t(".window_title")
- @page_header = t(".title")

- @robots = 'NOINDEX' if I18n.russian_locale?

- content_for :translated do
  = render 'partials/translated'

%div.header-with-subheader
  %h1
    = page_header
  %ul.subheader-menu
    %li= link_to t('.species_gallery'), gallery_path
    = feed_list_item

- unless params[:page] || @images.empty?
  %h3
    %i= t('.last_updated', date: l(@images.unscope(:includes).first.created_at.to_date, format: :long))

%div.thumbnails
  = render_justified @images.map(&:to_thumbnail)

%div{data: {turbolinks: "true"}}
  = paginate @images
