- javascript 'pjax_pagination'

- @page_title = t('menu.photos')

- @robots = 'NOINDEX'

%div.header-with-subheader
  %h1= page_header
  %ul.subheader-menu
    %li= link_to t('.species_galery'), gallery_path
    %li.feed= link_to(t('misc.feed'), {:controller => :feeds, :action => @feed, :format => :xml})

%ul.thumbnails
  = render :partial => 'thumbnail', :collection => @images

= paginate @images
