- javascript AssetsHelper::GMAP_API_URL, 'image_map'
- stylesheet 'map_edit'

- @page_title = "Edit map: #{@image.slug}"

%h1= page_header

%ul.horiz-list
  %li= link_to('Show', action: :show)
  %li= link_to('Edit', action: :edit)

- if notice
  %p#notice= notice

%p= image_tag(thumbnail_item(@image).try(:full_url), class: 'image_pic')

- if @image.spots.empty?
  %p.errors No observations mapped!
- elsif @image.spot_id.blank?
  %p.errors Not yet mapped!

%ul.horiz-obs-list.obs-list
  = render partial: 'observations/obs_item', collection: @image.observations.preload(:species, :card => :locus)

= render 'spots/form'

#googleMap

:javascript
  var patch_url = "#{patch_image_path(@image, format: :json)}",
      marks = #{@image.spots.to_json(only: [:lat, :lng, :id])},
      image_spot;
  #{"image_spot = #{@image.spot_id};" if @image.spot_id}

