-# frozen_string_literal: true
- stylesheet 'public'
- javascript 'image_parent'

- @page_title = "Edit: #{@image.slug}"

%h1= page_header

%ul.horiz-list
  %li= link_to('Show', action: :show)
  %li= link_to('Edit', action: :edit)

%div.thumbnails{data: {current_parent: @image.parent_id, patch_url: parent_image_path(@image, format: :json)}}
  = render_justified @similar_images.map(&:to_thumbnail)
