- javascript 'image_show'

- @social_likes = true

- @meta_thumbnail = thumbnail_item(@image).try(:url)
- @meta_description = @image.formatted.meta_description
- @canonical = image_url(@image)
- @og_type = 'birdwatchua:photo'

- @page_header = @page_title = @image.formatted.title
-# @page_title = "#{@page_header} // #{t("countries.gallery.title.#{@image.locus.country.slug}")}"

- if notice
  %p#notice= notice

- provide :add_shortcuts do
  %li= link_to @image.mapped? ? 'Edit map' : '<b>MAP IT!</b>'.html_safe, action: :map_edit
  %li
    = link_to url_for(action: :flickr_edit) do
      - if @image.on_flickr?
        Edit flickr data
      - else
        %b Link to flickr!
  - if @image.status == 'NOIDX'
    %li
      = link_to('Make back indexable', {action: :patch, image: {status: 'DEFLT'}}, method: :post)
  - else
    %li
      %b= link_to('Do not index!', {action: :patch, image: {status: 'NOIDX'}}, method: :post)

= render 'admin/shortcuts' if current_user.admin?

%h1= page_header

%div.image_canvas= image_tag(jpg_url(@image), alt: '[фотография]')

- if FacebookSdk.configured? && @social_likes
  %p= render 'social/fb_like'

- if VkontakteSdk.configured? && @social_likes
  %p= render 'social/vk_like'

%table.image_nav
  %tr
    %th пред.
    %th
    %th след.
  - @image.species.each do |sp|
    %tr
      %td
        - if prev_image = @image.prev_by_species(sp)
          = link_to("&lt;".html_safe, prev_image, class: 'img_prev_next')
        - else
          %span.img_prev_next &minus;

      %td
        %b= species_link(sp)
        %br
        = name_sci(sp)

      %td
        - if next_image = @image.next_by_species(sp)
          = link_to("&gt;".html_safe, next_image, class: 'img_prev_next')
        - else
          %span.img_prev_next &minus;

= render partial: "images/long_details", locals: {image: @image}


- if @image.multi?
  %nav= link_to("Еще фото нескольких видов", photos_multiple_species_path)
