- @page_title = image_title(@image)

- if notice
  %p#notice= notice

%h1= @page_title

= render 'admin/shortcuts' if current_user.admin?

%p= image_tag(jpg_url(@image))
%p
  %i= @image.species.map(&:name_sci) * ', '

%p= [l(@image.observ_date, :format => :long), @image.locus.name_en] * ', '

= wiki_filter(@image.description)

- if p = @image.post(current_user.available_posts)
  %p
    Post:
    = post_link(post_title(p), p, true)
