- javascript 'image_show'

- @meta_thumbnail = thumbnail_item(@image).try(:url)
- @meta_description = @image.formatted.meta_description
- @canonical = localize_url(@image, only_path: false, protocol: 'http')
- @og_type = 'birdwatchua:photo'

- @page_header = @page_title = @image.formatted.title
-# @page_title = "#{@page_header} // #{t("countries.gallery.title.#{@image.locus.country.slug}")}"

- if notice
  %p#notice= notice

- provide :add_shortcuts do
  %li= link_to @image.mapped? ? 'Edit map' : '<b>MAP IT!</b>'.html_safe, action: :map_edit
  %li
    = link_to flickr_photo_path(@image) do
      - if @image.on_flickr?
        Edit flickr data
      - else
        %b Link to flickr!
  - if @image.status == 'NOIDX'
    %li
      = link_to('Make back indexable', {action: :patch, image: {status: 'DEFLT'}}, method: :post)
  - else
    %li
      %b= link_to('Do not index!', {action: :patch, image: {status: 'NOIDX'}}, method: :post)

= render 'admin/shortcuts' if current_user.admin?

= render 'partials/translated'

%h1= page_header

%div.image_canvas= image_tag(jpg_url(@image), alt: t('images.alt_photo'))

- @image.children.each do |sub_img|

  %h2{id: sub_img.slug}= sub_img.formatted.title

  - if current_user.admin?
    %ul.horiz-list.admin-shortcuts
      %li= link_to 'Edit this one', edit_image_path(sub_img.slug)

  %div.image_canvas= image_tag(jpg_url(sub_img), alt: t('images.alt_photo'))

  = sub_img.formatted.description

= render 'social/buttons'

%table.image_nav
  %tr
    %th= t('.prev')
    %th
    %th= t('.next')
  - @image.species.each do |sp|
    %tr
      %td
        - if prev_image = @image.prev_by_species(sp)
          = link_to("&lt;".html_safe, localized_image_path(id: prev_image), class: 'img_prev_next')
        - else
          %span.img_prev_next &minus;

      %td
        %b= species_link(sp)
        %br
        = name_sci(sp)

      %td
        - if next_image = @image.next_by_species(sp)
          = link_to("&gt;".html_safe, localized_image_path(id: next_image), class: 'img_prev_next')
        - else
          %span.img_prev_next &minus;

= render partial: "observable/long_details", locals: {media: @image}


- if @image.multi?
  %nav= link_to(t(".more_photos_of_multiple_species"), photos_multiple_species_path)
