- @page_title = @image.formatted.title

- if notice
  %p#notice= notice

- provide :add_shortcuts do
  %li= link_to 'Edit map', action: :map_edit
  %li= link_to 'Edit flickr data', action: :flickr_edit

= render 'admin/shortcuts' if current_user.admin?

%h1= page_header

%div.image_canvas= image_tag(jpg_url(@image))

= content_tag(list_type_for_image_species(@image), class: 'img_species') do
  - @image.species.each do |sp|
    %li
      = species_link(sp)
      = name_sci(sp)

- post = @image.post(current_user.available_posts)

%p
  Снято
  = succeed ',' do
    %i<
      %time{datetime: @image.observ_date.iso8601} #{l(@image.observ_date, :format => :long)}

  = succeed sentence_separator_depending_on_post(post) do
    = @image.locus.name

  - if post
    встреча описана в посте «#{post_link(post.formatted.title, post, true)}».

= @image.formatted.description

-# TODO: more photos of several species
-#- if @image.multi?
-#  = link_to("More photos of several species", multi_spp_path)

%nav.image_nav
  - if @prev
    = link_to(t('.prev_image'), @prev, class: 'img_prev')

  - if @next
    = link_to(t('.next_image'), @next, class: 'img_next')
