- @page_title = image_title(@image)

%p#notice= notice

%h1= @page_title

= render 'admin/shortcuts' if current_user.admin?

%p= image_tag(jpg_url(@image, false))
%p
  %i= @image.species.map(&:name_sci) * ', '

%p= [l(@image.observ_date, :format => :long), @image.locus.name_en] * ', '

- if p = @image.post
  %p
    Post:
    = post_link(post_title(p), p, true)