- @page_title = @image.formatted.title

- if notice
  %p#notice= notice

- provide :add_shortcuts do
  %li= link_to 'Edit map', action: :map_edit
  %li= link_to 'Edit flickr data', action: :flickr_edit

= render 'admin/shortcuts' if current_user.admin?

%h1= page_header

%div.image_canvas= image_tag(jpg_url(@image))

= render partial: "images/long_details", locals: {image: @image}

-# TODO: more photos of several species
-#- if @image.multi?
-#  = link_to("More photos of several species", multi_spp_path)

%nav.image_nav
  - if @prev
    = link_to(t('.prev_image'), @prev, class: 'img_prev')

  - if @next
    = link_to(t('.next_image'), @next, class: 'img_next')
