-# frozen_string_literal: true
- @body_class = "full_width"

- @meta_thumbnail = jpg_url(@image)
- @meta_description = @image.decorated.meta_description
- @canonical = localize_url(@image)
- @og_type = 'birdwatchua:photo'

- @page_header = @page_title = @image.decorated.title
-# @page_title = "#{@page_header} // #{t("countries.gallery.title.#{@image.locus.country.slug}")}"

- provide :add_shortcuts do
  %li= link_to @image.mapped? ? 'Edit map' : '<b>MAP IT!</b>'.html_safe, action: :map_edit
  %li
    = link_to flickr_photo_path(@image) do
      - if @image.on_flickr?
        Edit flickr data
      - else
        %b Link to flickr!
  - if @image.status == 'NOINDEX'
    %li
      = link_to('Make back indexable', {action: :patch, image: {status: 'PUBLIC'}}, method: :post)
  - else
    %li
      %b= link_to('Do not index!', {action: :patch, image: {status: 'NOINDEX'}}, method: :post)



%div.image_over_container

  %div.image_canvas_container

    %div.image_canvas
      - @image.representer.yield_self do |rep|
        = image_tag(rep.large, sizes: rep.fullscreen_sizes, srcset: srcset_convert_urls(rep.srcset), alt: t(".main_img_alt", title: @image.decorated.title))

  %div.image_info_pane

    = render 'partials/translated'

    %h1= page_header

    = render 'admin/shortcuts' if current_user.admin?

    = render partial: "media/long_details", locals: {media: @image}

    %table.image_nav
      %tr
        %th= t('.prev')
        %th
        %th= t('.next')
      - @image.species.each do |sp|
        %tr
          %td
            - if prev_image = @image.prev_by_species(sp)
              = link_to("&lt;".html_safe, localized_image_path(id: prev_image), class: 'img_prev_next')
            - else
              %span.img_prev_next &minus;

          %td
            %b= species_link(sp)
            %br
            = name_sci(sp)

          %td
            - if next_image = @image.next_by_species(sp)
              = link_to("&gt;".html_safe, localized_image_path(id: next_image), class: 'img_prev_next')
            - else
              %span.img_prev_next &minus;


    - if @image.multi?
      %nav= link_to(t(".more_photos_of_multiple_species"), photos_multiple_species_path)


    = render 'social/buttons'

- if @image.media_series_id

  .series-container
    %h3= t(".in_the_series")
    = render template: "media/strip"
