-# @body_class = 'wider'

- stylesheet 'public'
- javascript 'pjax_pagination'

- @page_title = @half ? 'Half-mapped photos' : 'Unmapped photos'

%h1= page_header

%ul.horiz-list.admin-shortcuts
  %li= link_to 'Unmapped', {half: nil}
  %li= link_to 'Half-mapped', {half: true}

%div.thumbnails
  = render_justified @images.map {|im| Thumbnail.new(edit_map_image_path(im), im.formatted.title, im)}

= paginate @images
