-# frozen_string_literal: true
- @page_title = "#{new_or_edit_label(@post_core)} post core"

- stylesheet "forms"

%h1= page_header

%ul.horiz-list.admin-shortcuts
  %li= link_to "All posts", posts_path
  - if @post_core.persisted? && controller.respond_to?(:new)
    %li= link_to "Create new", new_post_core_path

- if @post_core.persisted?
  %h3 Translations
  %ul.horiz-list.admin-shortcuts
    - %w(uk ru en).each do |lang|
      - existing = @post_core.posts.find { |p| p.lang == lang }
      %li
        - if existing
          = link_to "Edit #{lang.upcase}", edit_post_path(existing)
        - else
          = link_to "Create #{lang.upcase}", new_post_path(post: { post_core_id: @post_core.id, lang: lang })

- if notice
  %p#notice= notice

- if alert
  %p.errors= alert

= simple_form_for @post_core do |form|
  = form.input :slug, required: false
  = form.input :topic, collection: PostCore::TOPICS, include_blank: false
  = form.input :shout
  = form.input :cover_image_slug

  .buttons
    = default_submit_button(form)

- if @post_core.persisted?
  %p= default_destroy_button

  %div{data: {attached_list: true, attached_url: edit_post_core_path(@post_core)}}
    %h3#attached_cards Attached cards and observations
    %p= link_to "Add new card", new_card_path(card: {post_core_id: @post_core.id})
    - attached_cards = @post_core.cards.preload(:locus, post_core: :posts).default_cards_order(:asc)
    - if attached_cards.any?
      %ul.cards_list
        = render attached_cards
    - else
      %p.less-important No cards attached.

    - solo_obs = @post_core.observations.where.not(card_id: attached_cards.select(:id)).preload(card: :locus)
    - if solo_obs.any?
      %h4 Standalone observations
      %ul
        - solo_obs.each do |obs|
          = render "cards/observation_row", obs: obs, show_card: true

  %h3#card_attach Attach cards

  = simple_form_for @observation_search, url: cards_path, method: :get, remote: true, html: {class: "search", data: {cards_search: true}} do |form|
    = render "observations/search_fields", form: form
    = hidden_field_tag("new_post_core_id", @post_core.id)

  %ul.cards_list#search-results{data: {cards_search_results: true}}
