!!!

%html

  %head

    -# meta tags
    -# encoding
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "content-type" }

    -# robots

    -# csfr meta
    = csrf_meta_tag if @jquery

    -# link tags
    -# stylesheets
    - stylesheet 'admin'
    = include_stylesheets

    -# enable HTML5 in IE
    /[if lt IE 9]
      = javascript_include_tag 'html5'

    -# scripts
    = include_scripts

    -# rss feeds - do I need them for admin layout?

    %title= page_title

  %body

    #above-footer

      = render 'partials/header'

      #main
        =yield

    %footer
      = @admin_menu if admin_session?
