!!!

%html

  %head

    -# meta tags
    -# encoding
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "content-type" }

    -# mobile viewport
    %meta{ name: 'viewport', content: 'width=device-width'}

    -# csfr meta
    = csrf_meta_tags if @jquery

    -# stylesheets
    - if @minimal_layout
      = stylesheet_link_tag 'minimal'
    - else
      = stylesheet_link_tag 'admin'

    = render 'partials/css_and_js'

    %title= page_title

  %body

    #above-footer

      = render 'partials/header'

      .main
        = yield

    %footer
      = yield :admin_menu
