!!!

%html

  %head

    -# meta tags
    -# encoding
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "content-type" }

    -# robots

    -# csfr meta
    = csrf_meta_tags if @jquery

    -# link tags
    -# stylesheets
    - if @minimal_layout
      = stylesheet_link_tag 'minimal'
    - else
      = stylesheet_link_tag 'admin'

    = render 'partials/css_and_js'

    -# rss feeds - do I need them for admin layout?

    %title= page_title

  %body

    #above-footer

      = render 'partials/header'

      .main
        =yield

    %footer
      = @admin_menu if current_user.admin?
