!!!

%html{ :xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => I18n.locale, :lang => I18n.locale }

  %head

    -# meta tags
    -# encoding
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "content-type" }

    -# robots

    -# csfr meta
    = csrf_meta_tag if @jquery

    -# link tags
    -# stylesheets
    = include_stylesheets

    -# scripts
    = include_scripts

    -# rss feeds - do I need them for admin layout?

    %title= @page_title || page_title || default_page_title

  %body

    = render :partial => "partials/header"

    = render :partial => "partials/admin_panel"

    #main
      =yield
