!!!

%html{ :xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => I18n.locale, :lang => I18n.locale }

  %head

    -# meta tags
    -# encoding
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "content-type" }

    -# robots

    -# page information, keywords

    -# verifications (index only)

    -# link tags
    -# stylesheets
    = stylesheet_link_tag 'global'
    = stylesheet_link_tag 'public'

    -# rss feeds

    -# OpenID (index only)

    -# sitemap (index only)

    -# favicon (index only?)

    -# scripts

    %title= yield :page_title || @page_title || "!!! Set content_for @page_title !!!"

  %body

    = render :partial => "partials/header"

    = (yield :main_content) || content_tag( :div, yield, :id => "main" )

    = render :partial => "partials/footer"

    = render :partial => "partials/ga"
