!!!

%html

  %head

    -# meta tags
    -# encoding
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "content-type" }

    -# mobile viewport
    %meta{ name: 'viewport', content: 'width=device-width'}

    - unless admin_layout?

      -# robots
      - if @robots
        %meta{ name: 'robots', content: @robots}

      -# page information, keywords

      -# verifications (index only)

      -# rel canonical, self, alternate etc

      -# rss feeds
      - if @feed
        = auto_discovery_link_tag(:atom, {:controller => :feeds, :action => @feed, :format => :xml}, :title => @feed)

      -# OpenID (index only)

      -# sitemap (index only)

      -# favicon (index only?)

    -# csfr meta
    = csrf_meta_tags if @jquery

    -# stylesheets
    - stylesheet @minimal_layout ? 'old/minimal' : (admin_layout? ? 'old/admin' : 'public')

    = render 'partials/css_and_js'

    %title= page_title

    - unless admin_layout?
      -# google analytics

  %body

    #above-footer

      = render 'partials/header'

      - cache [:google_cse, admin: admin_layout?] do
        = GoogleSearch.render(self)

      .main
        = yield

    = render 'partials/footer'
