-# frozen_string_literal: true
!!!
%html{lang: I18n.locale}
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "content-type" }
    %meta{ name: 'viewport', content: 'width=device-width'}

    - if @meta_thumbnail
      %meta{ property: "og:image", content: @meta_thumbnail }
      %meta{ name: "thumbnail", content: @meta_thumbnail }
      %link{ rel: 'image_src', href: @meta_thumbnail }

    - if @meta_description
      %meta{ property: "og:description", content: @meta_description }
      %meta{ name: "description", content: @meta_description }

    - if @og_type
      %meta{ property: "og:type", content: @og_type }

    = javascript_pack_tag 'modern_scripts'
    = stylesheet_pack_tag 'modern_scripts', media: "all"

    %link{rel: "preconnect", href: "https://fonts.gstatic.com"}
    = stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap", media: "all"
    = stylesheet_link_tag "application2", media: "all"

    -# See https://github.com/coliff/bootstrap-ie8
    /[if IE 9]
      = stylesheet_link_tag "bootstrap-ie9", media: "all"
    /[if lte IE 8]
      = stylesheet_link_tag "bootstrap-ie8", media: "all"

    -# enable HTML5 and media queries in IE
    -# html5shiv and respond.js should be included after any stylesheets!
    /[if lt IE 9]
      = javascript_include_tag "ie_fix"

    = javascript_include_tag "application2"

    - cache [:ga, show_ga: show_ga?] do
      = include_google_analytics

    %title= page_title

  %body{data: {turbolinks: "false"}}

    = render partial: 'app2/header'

    %main
      = yield

    = render partial: 'app2/footer'
