-# frozen_string_literal: true
!!!

%html{lang: I18n.locale}

  %head

    -# meta tags
    -# encoding
    -# CACHEABLE (depends on facebook_app_id)
    - cache ["html_head", facebook_app_id] do
      %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "content-type" }

      - if facebook_app_id
        %meta{ property: "fb:app_id", content: facebook_app_id }
        %meta{ property: "fb:admins", content: "1567280817" }

      %meta{ property: "fb:pages", content: "129929083830909" }

      -# = airbrake_config_meta_tag
      = honeybadger_config_meta_tag

      -# favicon and other icon-related stuff: http://realfavicongenerator.net/
      %link{href: "/apple-touch-icon.png", rel: "apple-touch-icon", sizes: "180x180"}/
      %link{href: "/favicon-32x32.png", rel: "icon", sizes: "32x32", type: "image/png"}/
      %link{href: "/favicon-16x16.png", rel: "icon", sizes: "16x16", type: "image/png"}/
      %link{href: "/site.webmanifest", rel: "manifest"}/
      %link{color: "#5bbad5", href: "/safari-pinned-tab.svg", rel: "mask-icon"}/
      %meta{name: "msapplication-TileColor", content: "#da532c"}/
      %meta{content: "#27834e", name: "theme-color"}/
      -# END CACHEABLE

    %title= page_title
    %meta{ property: "og:title", content: page_title }
    %meta{ name: "title", content: page_title }

    -# FIXME: think if this can be cached for other pages?
    - cache_if (controller_name == "posts" && action_name == "show"), [@post, :head_meta, { locale: I18n.locale }] do
      - if @meta_thumbnail
        %meta{ property: "og:image", content: @meta_thumbnail }
        %meta{ name: "thumbnail", content: @meta_thumbnail }
        %link{ rel: 'image_src', href: @meta_thumbnail }

      - if @meta_description
        %meta{ property: "og:description", content: @meta_description }
        %meta{ name: "description", content: @meta_description }

      - if @og_type
        %meta{ property: "og:type", content: @og_type }

    - (@preloads || []).each do |url, as, fetchpriority|
      %link{rel: "preload", href: url, as: as, fetchpriority: fetchpriority}

    -# mobile viewport
    - unless @no_viewport
      -# no_viewport is for very wide pages, e.g. with table
      %meta{ name: 'viewport', content: 'width=device-width'}

    - unless admin_layout?

      -# robots
      - if @robots
        %meta{ name: 'robots', content: @robots}

      -# verifications (index only)

      -# rel canonical, self, alternate etc

      - if @canonical
        %link{href: @canonical, rel: "canonical"}
        %meta{content: @canonical, property: "og:url"}

      -# rss feeds
      - if @feed
        = auto_discovery_link_tag(:atom, {:controller => :feeds, :action => @feed, :format => :xml}, :title => @feed)

      -# sitemap (index only)

    -# csfr meta
    = csrf_meta_tags

    = render 'partials/css_and_js'

    -# Template Dependency: partials/ga_code
    = include_google_analytics

  %body{class: @body_class, data: {turbolinks: "false", 'js-controller' => @js_controller, 'js-features' => @js_features.to_json}}


    #above-footer

      = render 'partials/header'

      - if content_for?(:translated)
        = content_for(:translated)

      - if content_for?(:jumbo)
        %div.jumbo-bg{class: @jumbo_class}
          %div.jumbo
            = content_for :jumbo
          - if content_for?(:jumbo_side)
            %div.jumbo-side
              = content_for :jumbo_side

      -# - if !admin_layout? && $announcement
      -#   %div.announcement
      -#     :textile
      -#       #{$announcement}

      -#- if !admin_layout? && !(controller_name == 'login')
      -#  .bannercontainer
      -#    - cache :winter_banner do
      -#      = render 'partials/winter_banner'

      %div{class: main_classes(special_styling: @special_styling)}

        = yield

    - cache [:footer, hide_banners: hide_banners?, hide_birdingtop: hide_birdingtop? ] do
      = render 'partials/footer'

    -# Template Dependency: partials/shynet_code
    = include_shynet
