-# frozen_string_literal: true
!!!
%html{lang: I18n.locale}
  %head
    -# CACHEABLE (depends on facebook_app_id)
    - cache ["html_head", facebook_app_id] do
      %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "content-type" }
      %meta{ name: 'viewport', content: 'width=device-width'}
      - if facebook_app_id
        %meta{ property: "fb:app_id", content: facebook_app_id }
        %meta{ property: "fb:admins", content: "1567280817" }
      %meta{ property: "fb:pages", content: "129929083830909" }
      = airbrake_config_meta_tag
      -# TODO: Favicons and stuff
    -# END CACHEABLE

    = javascript_pack_tag "application3"
    = stylesheet_pack_tag "application3"

  %body.flex.flex-col.min-h-screen
    %header
      = render "shared/accessibility"
      = render "shared/menu"
    %main#content.flex-1
      = yield
    %footer
      = render "shared/footer"
