!!!
%html{lang: I18n.locale}
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "content-type" }
    %meta{ name: 'viewport', content: 'width=device-width'}

    = javascript_pack_tag 'modern_scripts'
    = stylesheet_pack_tag 'modern_scripts', media: "all"

    = stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap", media: "all"
    = stylesheet_link_tag "application2", media: "all"

    -# See https://github.com/coliff/bootstrap-ie8
    /[if IE 9]
      = stylesheet_link_tag "bootstrap-ie9", media: "all"
    /[if lte IE 8]
      = stylesheet_link_tag "bootstrap-ie8", media: "all"

    -# enable HTML5 and media queries in IE
    -# html5shiv and respond.js should be included after any stylesheets!
    /[if lt IE 9]
      = javascript_include_tag "ie_fix"

    = javascript_include_tag "application2"

    %title= page_title

  %body{data: {turbolinks: "false"}}

    = render partial: 'app2/header'

    %main
      = yield

    = render partial: 'app2/footer'
