!!!
%html{lang: I18n.locale}
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "content-type" }
    %meta{ name: 'viewport', content: 'width=device-width'}

    = stylesheet_link_tag "application2", media: "all"

    -# enable HTML5 and media queries in IE
    -# html5shiv and respond.js should be included after any stylesheets!
    /[if lt IE 9]
    = javascript_include_tag "ie_fix"

    %title= page_title

%body

  = render partial: 'app2/header'

  %main
    = yield

  = render partial: 'app2/footer'