!!!

%html

  %head

    -# meta tags
    -# encoding
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "content-type" }

    -# robots

    -# page information, keywords

    -# verifications (index only)

    -# csfr meta
    = csrf_meta_tag if @jquery

    -# link tags
    -# stylesheets
    - stylesheet 'public'
    - stylesheet 'admin_addon' if admin_session?
    = include_stylesheets

    -# enable HTML5 in IE
    /[if lt IE 9]
      = javascript_include_tag 'html5'

    -# scripts
    = include_scripts

    -# rss feeds

    -# OpenID (index only)

    -# sitemap (index only)

    -# favicon (index only?)

    %title= @page_title || page_title || default_page_title

  %body

    #above-footer

      = render 'partials/header'

      #main
        =yield

    = render 'partials/footer'

    = render 'partials/ga' unless admin_session?
