!!!

%html

  %head

    -# meta tags
    -# encoding
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "content-type" }

    -# mobile viewport
    %meta{ name: 'viewport', content: 'width=device-width'}

    -# robots
    - if @robots
      %meta{ name: 'robots', content: @robots}

    -# page information, keywords

    -# verifications (index only)

    -# csfr meta
    = csrf_meta_tags if @jquery

    -# rel canonical, self, alternate etc

    -# rss feeds
    - if @feed
      = auto_discovery_link_tag(:atom, {:controller => :feeds, :action => @feed, :format => :xml}, :title => @feed)

    -# OpenID (index only)

    -# sitemap (index only)

    -# favicon (index only?)

    -# stylesheets
    - if @minimal_layout
      = stylesheet_link_tag 'minimal'
    - else
      = stylesheet_link_tag 'public'

    = render 'partials/css_and_js'

    %title= page_title

    -# google analytics

  %body

    #above-footer

      = render 'partials/header'

      .main
        = yield

    = render 'partials/footer'
