!!!

%html{ :xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => I18n.locale, :lang => I18n.locale }

  %head

    -# meta tags
    -# encoding
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "content-type" }

    -# robots

    -# page information, keywords

    -# verifications (index only)

    -# csfr meta
    = csrf_meta_tag if @jquery

    -# link tags
    -# stylesheets
    = include_stylesheets

    -# scripts
    = include_scripts

    -# rss feeds

    -# OpenID (index only)

    -# sitemap (index only)

    -# favicon (index only?)

    %title= window_caption || default_window_caption

  %body

    = render :partial => "partials/header"

    = render :partial => "partials/admin_panel"

    #main
      =yield

    = render :partial => "partials/footer"

    = render :partial => "partials/ga"
