!!!

%html

  %head

    -# meta tags
    -# encoding
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "content-type" }

    -# robots

    -# page information, keywords

    -# verifications (index only)

    -# csfr meta
    = csrf_meta_tags if @jquery

    -# rss feeds

    -# OpenID (index only)

    -# sitemap (index only)

    -# favicon (index only?)

    %title= page_title

    -# stylesheets
    - stylesheet 'public'
    - stylesheet 'admin_addon' if current_user.admin?
    = include_stylesheets
    
    = stylesheet_link_tag 'mobile', :media => :handheld

    -# enable HTML5 in IE
    /[if lt IE 9]
      = javascript_include_tag 'html5'

    -# scripts
    = include_scripts

    -# google analytics

  %body

    #above-footer

      = render 'partials/header'

      #main
        =yield

    = render 'partials/footer'
