!!!

%html

  %head

    -# meta tags
    -# encoding
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "content-type" }

    -# robots

    -# page information, keywords

    -# verifications (index only)

    -# csfr meta
    = csrf_meta_tag if @jquery

    -# link tags
    -# stylesheets
    - stylesheet 'global', 'public'
    = include_stylesheets

    -# scripts
    = include_scripts

    -# rss feeds

    -# OpenID (index only)

    -# sitemap (index only)

    -# favicon (index only?)

    %title= @page_title || page_title || default_page_title

  %body

    = render 'partials/header'

    = render 'partials/admin_panel' if admin_session?

    #main
      =yield

    = render 'partials/footer'

    = render 'partials/ga' unless admin_session?
